<template>
  <!--begin::Wrapper-->
  <div class="w-lg-400px ">
    <!--begin::Form-->
    <VForm
      class="form w-100"
      id="kt_login_signin_form"
      @submit="onSubmitLogin"
      :validation-schema="login"
    >
      <div
        class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100"
      >
        <!--begin::Logo-->
        <router-link to="/" class="mb-0 mb-lg-12">
          <img
            alt="Logo"
            :src="getAssetPath('media/logos/logo.png')"
            class="h-100px h-lg-100px"
          />
        </router-link>
        <h5
          class="d-none d-lg-block fs-2qx fw-bolder text-center"
          style="color: #7d5b28"
        >
           Restaurant System
        </h5>
      </div>
      <div class=" mb-7">
        <label class="form-label fs-6 fw-bold text-dark">Username</label>
        <Field
          tabindex="1"
          class=" form-control form-control-solid"
          type="text"
          name="username"
          autocomplete="off"
        />
        <!--end::Input-->
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <ErrorMessage name="username" />
          </div>
        </div>
      </div>
      <div class="mb-7">

        <div class="d-flex flex-stack mb-2">

          <label class="form-label fw-bold text-dark fs-6 mb-0">Password</label>

        </div>
        <div class="position-relative">
          <Field tabindex="2" class="form-control form-control-lg form-control-solid border-secondary bg-white "
                 :type="passwordType"  style="color: #232323;"
                 name="password" autocomplete="off"/>
          <i class="fs-4 text-hover-primary cursor-pointer position-absolute" style="bottom: 15px; right: 15px;"
             :class="iconName" @click="showPassword"/>
        </div>
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <ErrorMessage name="password" />
          </div>
        </div>
      </div>
      <div class="text-center">
        <!--begin::Submit button-->
        <button
          tabindex="3"
          type="submit"
          ref="submitButton"
          id="kt_sign_in_submit"
          class="btn btn-lg btn-primary w-50 mb-5"
        >
          <span class="indicator-label"> Login </span>

          <span class="indicator-progress">
            Please wait...
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
        </button>
      </div>
    </VForm>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
import {ErrorMessage, Field, Form as VForm} from "vee-validate";
import {useRouter} from "vue-router";
import {getToken} from "@/core/services/JwtService";
import Swal from "sweetalert2";
import * as Yup from "yup";
import { useAuthStore, type User } from "@/stores/auth";
import { getAssetPath } from "@/core/helpers/assets";

export default defineComponent({
  name: "sign-in",
  components: {
    Field,
    VForm,
    ErrorMessage,
  },
  data() {
    return {
      iconName: 'fa fa-eye',
      passwordType: 'password'
    }
  },
  methods: {
    getAssetPath,
    showPassword() {
      if (this.iconName == 'fa fa-eye') {
        this.iconName = 'fa fa-eye-slash';
        this.passwordType = 'text';
      } else {
        this.iconName = 'fa fa-eye';
        this.passwordType = 'password';
      }
    }
  },
  setup() {
    const store = useAuthStore();
    const router = useRouter();
    const submitButton = ref<HTMLButtonElement | null>(null);
    const login = Yup.object().shape({
      username: Yup.string().required().label("Username"),
      password: Yup.string().required().label("Password"),
    });
    const onSubmitLogin = async (values: any) => {
      values = values as User;
      store.logout();
      if (submitButton.value) {
        submitButton.value!.disabled = true;
        submitButton.value.setAttribute("data-kt-indicator", "on");
      }
      await store.login(values);
      const error = getToken();
      if (error) {
          await router.push({name: "dashboard"});
      } else {
        Swal.fire({
          text: "Incorrect Email or password!",
          icon: "error",
          buttonsStyling: false,
          confirmButtonText: "Try again!",
          heightAuto: false,
          customClass: {
            confirmButton: "btn fw-semobold btn-light-danger",
          },
        }).then(() => {
          store.errors = {};
        });
      }
      submitButton.value?.removeAttribute("data-kt-indicator");
      submitButton.value!.disabled = false;
    };

    return {
      onSubmitLogin,
      login,
      submitButton,
    };
  },
});
</script>
