<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ButtonIcon",
  props: {
    iconClassName: {
      required: true,
      default: "bi bi-info-circle",
      type: String,
    },
  },
});
</script>

<template>
  <i
    class="btn-icon text-gray-800 text-hover-primary cursor-pointer flex-equal fs-4 text-center"
    :class="iconClassName"
  ></i>
</template>

<style scoped lang="scss"></style>
