<template>
  <!--begin::Navbar-->
  <div class="app-navbar flex-shrink-0">
    <!--begin::Search-->
    <!--end::Search-->
    <!--begin::Activities-->
    <div class="app-navbar-item ms-1 ms-md-4">
      <!--begin::Drawer toggle-->
      <!--end::Drawer toggle-->
    </div>
    <!--end::Activities-->
    <!--begin::Notifications-->
    <div class="app-navbar-item ms-1 ms-md-4">
      <router-link to="/home">
        <div
            class="btn btn-icon btn-custom btn-icon-muted me-5 btn-active-color-primary w-35px p-5 h-35px"
        >
          <span class="bi bi-house fs-3 gray-700"></span>
        </div>
      </router-link>

      <!--begin::Menu- wrapper-->
      <div
        class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px"
        data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
        data-kt-menu-attach="parent"
        data-kt-menu-placement="bottom-end"
        id="kt_menu_item_wow"
        @click="toggleFullScreen()"
      >
        <!--        <span-->
        <!--          class="bullet bullet-dot bg-success position-absolute translate-middle top-0 mt-5 animation-blink"-->
        <!--        ></span>-->
        <span
          :class="isFullscreen ? 'bi-fullscreen-exit' : 'bi-fullscreen'"
          class="bi gray-500"
        ></span>
      </div>
      <!--      <KTNotificationMenu />-->

      <!--end::Menu wrapper-->
    </div>
    <!--end::Notifications-->
    <!--begin::Chat-->
    <div class="app-navbar-item ms-1 ms-md-4">
      <!--begin::Menu wrapper-->
      <!--      <div-->
      <!--        class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px position-relative"-->
      <!--        id="kt_drawer_chat_toggle"-->
      <!--      >-->
      <!--        <KTIcon icon-name="message-text-2" icon-class="fs-2" />-->
      <!--        <span-->
      <!--          class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"-->
      <!--        ></span>-->
      <!--      </div>-->
      <!--end::Menu wrapper-->
    </div>
    <!--end::Chat-->
    <!--    &lt;!&ndash;begin::My apps links&ndash;&gt;-->
    <!--    <div class="app-navbar-item ms-1 ms-md-4">-->
    <!--      &lt;!&ndash;begin::Menu wrapper&ndash;&gt;-->
    <!--      <div-->
    <!--        class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px"-->
    <!--        data-kt-menu-trigger="{default: 'click', lg: 'hover'}"-->
    <!--        data-kt-menu-attach="parent"-->
    <!--        data-kt-menu-placement="bottom-end"-->
    <!--      >-->
    <!--        <KTIcon icon-name="element-11" icon-class="fs-2" />-->
    <!--      </div>-->
    <!--      <KTQuickLinksMenu />-->
    <!--      &lt;!&ndash;end::Menu wrapper&ndash;&gt;-->
    <!--    </div>-->
    <!--    &lt;!&ndash;end::My apps links&ndash;&gt;-->
    <!--begin::Theme mode-->
    <div class="app-navbar-item ms-1 ms-md-3">
      <!--begin::Menu toggle-->
      <a
        href="#"
        class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px"
        data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        data-kt-menu-attach="parent"
        data-kt-menu-placement="bottom-end"
      >
        <KTIcon
          v-if="themeMode === 'light'"
          icon-name="night-day"
          icon-class="fs-2"
        />
        <KTIcon v-else icon-name="moon" icon-class="fs-2" />
      </a>
      <!--begin::Menu toggle-->
      <KTThemeModeSwitcher />
    </div>
    <!--end::Theme mode-->
    <!--begin::User menu-->
    <div class="app-navbar-item ms-1 ms-md-4" id="kt_header_user_menu_toggle">
      <!--begin::Menu wrapper-->
      <div
        class="cursor-pointer symbol symbol-35px"
        data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
        data-kt-menu-attach="parent"
        data-kt-menu-placement="bottom-end"
      >
        <img
          v-if="user.profile"
          :src="url + user.profile"
          class="rounded-3"
          alt="user"
        />
        <img
          v-else
          class="rounded-3"
          alt="Logo"
          :src="getAssetPath('media/avatars/blank.png')"
        />
      </div>
      <KTUserMenu />
      <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
    <!--begin::Header menu toggle-->
    <div
      class="app-navbar-item d-lg-none ms-2 me-n2"
      v-tooltip
      title="Show header menu"
    >
      <div
        class="btn btn-flex btn-icon btn-active-color-primary w-30px h-30px"
        id="kt_app_header_menu_toggle"
      >
        <KTIcon icon-name="element-4" icon-class="fs-2" />
      </div>
    </div>
    <!--end::Header menu toggle-->
  </div>
  <!--end::Navbar-->
</template>

<script lang="ts">
import { getAssetPath } from "@/core/helpers/assets";
import { computed, defineComponent, onMounted, onUnmounted, ref } from "vue";
import KTSearch from "@/layouts/main-layout/search/Search.vue";
import KTNotificationMenu from "@/layouts/main-layout/menus/NotificationsMenu.vue";
// import KTQuickLinksMenu from "@/layouts/main-layout/menus/QuickLinksMenu.vue";
import KTUserMenu from "@/layouts/main-layout/menus/UserAccountMenu.vue";
import KTThemeModeSwitcher from "@/layouts/main-layout/theme-mode/ThemeModeSwitcher.vue";
import { ThemeModeComponent } from "@/assets/ts/layout";
import { useThemeStore } from "@/stores/theme";
import UserService from "@/core/services/UserService";

export default defineComponent({
  name: "header-navbar",
  data() {
    return {
      user: <any>{},
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
    };
  },
  mounted() {
    this.user = JSON.parse(<string>UserService.getUser());
  },
  components: {
    KTSearch,
    KTNotificationMenu,
    // KTQuickLinksMenu,
    KTUserMenu,
    KTThemeModeSwitcher,
  },
  setup() {
    const isFullscreen = ref(false);

    const toggleFullScreen = () => {
      if (!document.fullscreenElement) {
        document.documentElement
          .requestFullscreen()
          .then(() => {
            isFullscreen.value = true;
          })
          .catch((err) => {
            console.error("Error attempting to enable full-screen mode:", err);
          });
      } else {
        document.exitFullscreen().then(() => {
          isFullscreen.value = false;
        });
      }
    };
    const updateFullscreenState = () => {
      isFullscreen.value = !!document.fullscreenElement;
    };
    const store = useThemeStore();
    const themeMode = computed(() => {
      if (store.mode === "system") {
        return ThemeModeComponent.getSystemMode();
      }
      return store.mode;
    });
    onMounted(() => {
      document.addEventListener("fullscreenchange", updateFullscreenState);
    });

    onUnmounted(() => {
      document.removeEventListener("fullscreenchange", updateFullscreenState);
    });
    return {
      themeMode,
      getAssetPath,
      toggleFullScreen,
      isFullscreen,
    };
  },
});
</script>
