<script lang="ts">
import { defineComponent, onMounted, ref, toRefs, watch } from "vue";
import Swal from "sweetalert2";
import { type Category, useCategoryStore } from "@/stores/category_v1";
import { useOpenApiStore } from "@/stores/open_api";
import { getAssetPath } from "@/core/helpers/assets";
import { useUploadStore } from "@/stores/uploadFile";
import { useI18n } from "vue-i18n";


export interface resCategory {
  id: number;
  title: string;
  createAt: string;
  createBy: string;
  updateAt: number;
  updateBy: string;
  name: number;
  status: string;
  imageUrl: number;
}

const useCategory = useCategoryStore();
const useOpenApi = useOpenApiStore();
const useUpload = useUploadStore();
export default defineComponent({
  name: "listCategories",
  methods: { getAssetPath },
  data() {
    return {
      hostname:
        import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      no_image:
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdXexNoklsp_TJ3LgYzhTxXFYypXv1xDvkzQ&s",
      name: <any>"",
      name_kh: <any>"",
      file: null,
      data: <Array<resCategory>>[],
      value: <any>"",
      url: <any>"",
      fileInput: ref()
    };
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const pageLoading = ref(false);
    const file = ref<File | null>(null);
    const fileEdit = ref<File | null>(null);
    const imageUrl = ref<string | null>(null);
    const editImageUrl = ref<string | null>(null);
    const listCategories = ref<any>([]);
    const listMainCategories = ref<any>([]);
    const category = ref<Category>({
      id: 0,
      image: "",
      name: "",
      name_kh: "",
      status: "ACT",
      main_category_id: 0,
      sort: 0
    });
    // Handle file change (image selection)
    const onFileChange = (event: Event) => {
      const input = event.target as HTMLInputElement;
      if (input?.files?.[0]) {
        const getImage = input.files[0];
        // Create a URL for the image to preview
        imageUrl.value = URL.createObjectURL(getImage);
        file.value = input.files[0]; // Store the selected file
      }
    };
    const onFileChangeEdit = (event: Event) => {
      const input = event.target as HTMLInputElement;
      if (input?.files?.[0]) {
        const getImage = input.files[0];
        // Create a URL for the image to preview
        editImageUrl.value = URL.createObjectURL(getImage);
        fileEdit.value = input.files[0]; // Store the selected file
      }
    };
    const resetValue = () => {
      category.value = {
        id: 0,
        image: "",
        name: "",
        name_kh: "",
        status: "ACT",
        main_category_id: 0,
        sort: 0
      };
      removeImage();
    };
    const removeImage = () => {
      imageUrl.value = "";
      editImageUrl.value = "";
    };
    const onLoading = async () => {
      pageLoading.value = true;
      await useOpenApi.getListCategory();
      await useCategory.getMainCategories();
      listMainCategories.value = useCategory.listMainCategories;
      listCategories.value = useOpenApi.listCategory;
      pageLoading.value = false;
    };
    const previewUrl = ref<string | null>(null);
    const doUpload = async () => {
      if (file.value) {
        await useUpload.doUploadFile(file.value);
        category.value.image = useUpload.getImage;
        return;
      }
    };
    const doUploadEdit = async () => {
      if (fileEdit.value) {
        await useUpload.doUploadFile(fileEdit.value);
        category.value.image = useUpload.getImage;
        return;
      }
    };
    const onCreate = async () => {
      pageLoading.value = true;
      await doUpload();
      await useCategory.onCreate(category.value);
      const onResponse = ref();
      onResponse.value = useCategory.onCreateStatus;
      if (onResponse.value.length) {
        await Swal.fire({
          title: "Message",
          text: `${onResponse.value}`,
          icon: "success"
        });
        await onLoading();
      }
      resetValue();
    };
    const onUpdate = async (id: any, name: any, name_kh: any, cate_id: any, sort: any) => {
      pageLoading.value = true;
      category.value = {
        id: id,
        image: "",
        name: name,
        name_kh: name_kh,
        status: "ACT",
        main_category_id: cate_id,
        sort: sort
      };
      await doUploadEdit();
      console.log(category.value);
      await useCategory.onUpdateCategory(category.value);
      const onResponse = ref();
      onResponse.value = useCategory.updateStatus;
      if (onResponse.value.length) {
        await Swal.fire({
          title: "Message",
          text: `${onResponse.value}`,
          icon: "success"
        });
        await onLoading();
      }
      resetValue();
      pageLoading.value = false;
    };

    const viewImage = async (image: any, name: any) => {
      const imageViewUrl =
        import.meta.env.VITE_APP_API_URL +
        "api/public/view/image?filename=" +
        image;
      await Swal.fire({
        title: `${name}`,
        imageUrl: `${imageViewUrl}`,
        imageWidth: 600,
        imageAlt: "Custom image"
      });
    };
    const onDelete = async (id: any) => {
      pageLoading.value = true;
      await useCategory.onDeleteCategory(id);
      await useOpenApi.getListCategory();
      await useCategory.getMainCategories();
      listMainCategories.value = useCategory.listMainCategories;
      listCategories.value = useOpenApi.listCategory;
      await Swal.fire({
        title: "Deleted!",
        text: "Deleted Success!",
        icon: "success"
      });
      pageLoading.value = false;
    };
    onMounted(() => {
      onLoading();
    });
    return {
      previewUrl,
      viewImage,
      onCreate,
      category,
      onLoading,
      pageLoading,
      listCategories,
      onFileChange,
      removeImage,
      imageUrl,
      listMainCategories,
      onUpdate,
      editImageUrl,
      onFileChangeEdit,
      onDelete,
      translate
    };
  }
});
</script>

<template>
  <div class="card mt-4">
    <div class="card-body text-center" v-if="pageLoading">
      <div
        class="w-100 position-relative d-flex justify-content-center"
        style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
              class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Please wait...</div>
        </div>
      </div>
    </div>
    <div class="card-body" v-else>
      <div class="py-1">
        <div class="my-0">
          <div class="float-end">
            <button
              class="btn btn-primary py-2 px-5"
              data-bs-toggle="modal"
              data-bs-target="#save"
            >
              <span class="fs-2 m-0"></span> {{ translate("add_category") }}
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="col-10 col-lg-11 col-md-12 col-sm-12">
            <div class="table-responsive">
              <table class="table table table-row-gray-300 gy-7">
                <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                  <th class="text-start">{{ translate("t_id") }}</th>
                  <th class="text-start">{{ translate("images") }}</th>
                  <th class="text-start">{{ translate("p_name") }}</th>
                  <th class="text-start">{{ translate("name_kh") }}</th>
                  <th class="text-start">{{ translate("main_category") }}</th>
                  <th class="text-start">{{ translate("t_status") }}</th>
                  <th class="text-start">{{ translate("t_sort") }}</th>
                  <th colspan="2" class="text-center">{{ translate("action") }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in listCategories">
                  <td class="text-start">{{ row.id }}</td>
                  <td class="text-start">
                    <div v-if="row.imageUrl">
                      <img
                        class="hover-scale rounded cursor-pointer"
                        style="width: 60px"
                        :src="hostname + row.imageUrl"
                        alt="image"
                        @click="viewImage(row.imageUrl, row.name)"
                      />
                    </div>
                    <div v-else>
                      <img style="width: 60px" :src="no_image" alt="image" />
                    </div>
                  </td>
                  <td class="text-start">{{ row.name }}</td>
                  <td class="text-start">{{ row.name_kh }}</td>
                  <td class="text-start">
                    {{ row.mainCategory.name }} -
                    {{ row.mainCategory.name_kh }}
                  </td>
                  <td class="text-start">{{ row.status }}</td>
                  <td class="text-start">{{ row.sort }}</td>
                  <td class="d-flex justify-content-center">
                    <div class="d-flex justify-content-between">
                      <i
                        class="fa fa-edit m-0 p-2 px-2 py-2 border border-gray-600 border-hover-primary text-hover-primary rounded cursor-pointer me-1"
                        data-bs-toggle="modal"
                        :data-bs-target="`#edit${row.id}`"
                      />
                      <div
                        class="modal fade mt-10"
                        tabindex="-1"
                        :id="`edit${row.id}`"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title">
                                Edit Category<span class="text-gray-500">
                                    - {{ row.name }}</span
                              >
                              </h3>
                              <!--begin::Close-->
                              <div
                                class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              >
                                <i class="fa fa-x fs-6" />
                              </div>
                              <!--end::Close-->
                            </div>
                            <div class="modal-body text-start w-100">
                              <div class="row align-items-center mb-2">
                                <div class="col-lg-12 text-center mt-4"></div>
                                <div class="modal-body text-start w-100">
                                  <div class="row align-items-center">
                                    <div class="row align-items-center">
                                      <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label
                                          class="col-lg-4 col-form-label fw-semobold fs-6"
                                        >{{ translate("images") }}</label
                                        >
                                        <!--end::Label-->

                                        <!--begin::Col-->
                                        <div class="col-lg-8">
                                          <!--begin::Image input-->
                                          <div
                                            class="image-input image-input-outline"
                                            data-kt-image-input="true"
                                          >
                                            <!--begin::Preview existing avatar-->
                                            <div
                                              v-if="editImageUrl"
                                              class="image-input-wrapper w-125px h-125px"
                                              :style="`background-image: url(${editImageUrl})`"
                                            ></div>
                                            <div
                                              v-else
                                              class="image-input-wrapper w-125px h-125px"
                                              :style="`background-image: url(${
                                                  hostname + row.imageUrl
                                                })`"
                                            ></div>
                                            <!--end::Preview existing avatar-->

                                            <!--begin::Label-->
                                            <label
                                              class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                              data-kt-image-input-action="change"
                                              data-bs-toggle="tooltip"
                                              title="Change profile"
                                            >
                                              <i
                                                class="bi bi-pencil-fill fs-7"
                                              ></i>

                                              <!--begin::Inputs-->
                                              <input
                                                type="file"
                                                name="avatar"
                                                @change="onFileChangeEdit"
                                                accept=".png, .jpg, .jpeg"
                                              />
                                              <input
                                                type="hidden"
                                                name="avatar_remove"
                                              />
                                              <!--end::Inputs-->
                                            </label>
                                            <!--end::Label-->

                                            <!--begin::Remove-->
                                            <span
                                              class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                              data-kt-image-input-action="remove"
                                              data-bs-toggle="tooltip"
                                              title="Remove profile"
                                              @click="removeImage()"
                                            >
                                                <i class="bi bi-x fs-2"></i>
                                              </span>
                                            <!--end::Remove-->
                                          </div>
                                          <!--end::Image input-->

                                          <!--begin::Hint-->
                                          <div class="form-text">
                                            Allowed file types: png, jpg,
                                            jpeg.
                                          </div>
                                          <!--end::Hint-->
                                        </div>
                                        <!--end::Col-->
                                      </div>
                                      <div class="col-12 mt-4">
                                        <div
                                          class="float-end form-check form-switch form-check-custom form-check-success form-check-solid"
                                        ></div>
                                      </div>
                                    </div>
                                    <div class="col-lg-12 col-12 mb-4">
                                      <label class="mb-1 fs-6"
                                      >{{ translate("main_category") }}</label
                                      ><sup class="text-danger">*</sup>
                                      <el-form-item prop="role">
                                        <el-select
                                          v-model="row.mainCategory.id"
                                          placeholder="Select Main Category"
                                          name="mainCategory"
                                          as="select"
                                        >
                                          <el-option
                                            v-for="item in listMainCategories"
                                            :value="item.id"
                                            :label="
                                                item.name + ' - ' + item.name_kh
                                              "
                                          >{{ item.name }} -
                                            {{ item.name_kh }}
                                          </el-option>
                                        </el-select>
                                      </el-form-item>
                                    </div>
                                    <div class="col-lg-12 col-12 mb-4">
                                      <label class="mb-1 fs-6">{{ translate("p_name") }}</label
                                      ><sup class="text-danger">*</sup>
                                      <input
                                        type="text"
                                        v-model="row.name"
                                        class="form-control"
                                      />
                                    </div>
                                    <div class="col-lg-12 col-12">
                                      <label class="mb-1 fs-6">{{ translate("name_kh") }}</label
                                      ><sup class="text-danger">*</sup>
                                      <input
                                        type="text"
                                        v-model="row.name_kh"
                                        class="form-control"
                                      />
                                      <div class="col-lg-12 col-12">
                                        <label class="mb-1 fs-6">{{ translate("t_sort") }}</label
                                        ><sup class="text-danger">*</sup>
                                        <input
                                          type="text"
                                          v-model="row.sort"
                                          class="form-control"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-light"
                                  data-bs-dismiss="modal"
                                >
                                  {{ translate("dis_card") }}
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-primary"
                                  data-bs-dismiss="modal"
                                  @click="
                                    onUpdate(
                                      row.id,
                                      row.name,
                                      row.name_kh,
                                      row.mainCategory.id,
                                      row.sort
                                    )
                                  "
                                >
                                  {{ translate("update") }}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="px-2 py-1 border border-gray-600 border-hover-danger rounded text-hover-danger cursor-pointer"
                        style="width: 27px"
                        data-bs-toggle="modal"
                        :data-bs-target="`#delete${row.id}`"
                      >
                        <i class="bi bi-trash3-fill m-0 p-0"></i>
                      </div>
                        <div
                        class="modal fade mt-10"
                        tabindex="-1"
                        :id="`delete${row.id}`"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title">
                                Delete Category<span class="text-gray-500">
                                    - {{ row.name }}</span
                              >
                              </h3>
                              <!--begin::Close-->
                              <div
                                class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              >
                                <i class="fa fa-x fs-6" />
                              </div>
                              <!--end::Close-->
                            </div>
                            <div class="modal-body text-start w-100">
                              <h1 class="text-center">Are you sure?</h1>

                            </div>
                            <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-light"
                                  data-bs-dismiss="modal"
                                >
                                  {{ translate("dis_card") }}
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-danger"
                                  data-bs-dismiss="modal"
                                  @click="
                                    onDelete(
                                      row.id,
                                    )
                                  "
                                >
                                  {{ translate("delete") }}
                                </button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade mt-10" tabindex="-1" id="save">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Category Information</h3>
              <!--begin::Close-->
              <div
                class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i class="fa fa-x fs-6" />
              </div>
              <!--end::Close-->
            </div>
            <div class="modal-body text-start w-100">
              <div class="row align-items-center">
                <div class="row align-items-center">
                  <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label fw-semobold fs-6"
                    >{{ translate("images") }}</label
                    >
                    <!--end::Label-->

                    <!--begin::Col-->
                    <div class="col-lg-8">
                      <!--begin::Image input-->
                      <div
                        class="image-input image-input-outline"
                        data-kt-image-input="true"
                      >
                        <!--begin::Preview existing avatar-->
                        <div
                          class="image-input-wrapper w-125px h-125px"
                          :style="`background-image: url(${imageUrl})`"
                        ></div>
                        <!--end::Preview existing avatar-->

                        <!--begin::Label-->
                        <label
                          class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="change"
                          data-bs-toggle="tooltip"
                          title="Change profile"
                        >
                          <i class="bi bi-pencil-fill fs-7"></i>

                          <!--begin::Inputs-->
                          <input
                            type="file"
                            name="avatar"
                            @change="onFileChange"
                            accept=".png, .jpg, .jpeg"
                          />
                          <input type="hidden" name="avatar_remove" />
                          <!--end::Inputs-->
                        </label>
                        <span
                          v-if="imageUrl"
                          class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                          data-kt-image-input-action="remove"
                          data-bs-toggle="tooltip"
                          title="Remove profile"
                          @click="removeImage()"
                        >
                          <i class="bi bi-x fs-2"></i>
                        </span>
                      </div>
                      <!--end::Image input-->

                      <!--begin::Hint-->
                      <div class="form-text">
                        Allowed file types: png, jpg, jpeg.
                      </div>
                      <!--end::Hint-->
                    </div>
                    <!--end::Col-->
                  </div>
                  <div class="col-12 mt-4">
                    <div
                      class="float-end form-check form-switch form-check-custom form-check-success form-check-solid"
                    ></div>
                  </div>
                </div>
                <div class="col-lg-12 col-12 mb-2">
                  <label class="mb-1 fs-6">{{ translate("main_category") }}</label
                  ><sup class="text-danger">*</sup>
                  <el-form-item prop="role">
                    <el-select
                      v-model="category.main_category_id"
                      placeholder="Select Main Category"
                      name="mainCategory"
                      as="select"
                    >
                      <el-option
                        v-for="item in listMainCategories"
                        :value="item.id"
                        :label="item.name + ' - ' + item.name_kh"
                      >{{ item.name }} - {{ item.name_kh }}
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <div class="col-lg-12 col-12 mb-2">
                  <label class="mb-1 fs-6">{{ translate("p_name") }}</label
                  ><sup class="text-danger">*</sup>
                  <input
                    type="text"
                    v-model="category.name"
                    class="form-control"
                  />
                </div>
                <div class="col-lg-12 col-12">
                  <label class="mb-1 fs-6">{{ translate("name_kh") }}</label
                  ><sup class="text-danger">*</sup>
                  <input
                    type="text"
                    v-model="category.name_kh"
                    class="form-control"
                  />
                </div>
                <div class="col-lg-12 col-12">
                  <label class="mb-1 fs-6">{{ translate("t_sort") }}</label
                  ><sup class="text-danger">*</sup>
                  <input
                    type="number"
                    v-model="category.sort"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-light"
                data-bs-dismiss="modal"
              >
                {{ translate("close") }}
              </button>
              <button
                v-if="category.name.length"
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                @click="onCreate()"
              >
                Submit
              </button>
              <button v-else type="button" class="btn btn-secondary">
                {{ translate("e_submit") }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
