<template>
  <!--begin::Basic info-->
  <div class="card mt-4 mb-xl-10">
    <!--begin::Card header-->
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">{{ translate("add_user") }}</h3>
      </div>
      <!--end::Card title-->
    </div>
    <div id="kt_user_details" class="collapse show">
      <!--begin::Form-->
      <form @submit.prevent="handleSubmit">
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">{{
              translate("profile")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Image input-->
              <div
                class="image-input image-input-outline"
                data-kt-image-input="true"
                :style="{
                  backgroundImage: `url(${getAssetPath(
                    '/media/avatars/blank.png'
                  )})`,
                }"
              >
                <!--begin::Preview existing avatar-->
                <div
                  class="image-input-wrapper w-125px h-125px"
                  :style="`background-image: url(${imageUrl})`"
                ></div>
                <!--end::Preview existing avatar-->

                <!--begin::Label-->
                <label
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="change"
                  data-bs-toggle="tooltip"
                  title="Change profile"
                >
                  <i class="bi bi-pencil-fill fs-7"></i>

                  <!--begin::Inputs-->
                  <input
                    type="file"
                    name="avatar"
                    @change="onFileChange"
                    accept=".png, .jpg, .jpeg"
                  />
                  <input type="hidden" name="avatar_remove" />
                  <!--end::Inputs-->
                </label>
                <!--end::Label-->

                <!--begin::Remove-->
                <span
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="remove"
                  data-bs-toggle="tooltip"
                  title="Remove profile"
                  @click="removeImage()"
                >
                  <i class="bi bi-x fs-2"></i>
                </span>
                <!--end::Remove-->
              </div>
              <!--end::Image input-->

              <!--begin::Hint-->
              <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
              <!--end::Hint-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("full_name")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <input
                    type="text"
                    name="firstName"
                    required
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="First name"
                    v-model="user.firstName"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="firstName" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <input
                    v-model="user.lastName"
                    type="text"
                    name="lastName"
                    required
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Last name"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="lastName" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("username")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="user.username"
                type="text"
                name="username"
                required
                class="form-control form-control-lg form-control-solid"
                placeholder="Username"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="username" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("password")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <div class="row">
                <div class="col-lg-6">
                  <input
                    v-model="user.password"
                    type="password"
                    name="password"
                    required
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Password"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="password" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <input
                    v-model="user.confirmPassword"
                    type="password"
                    name="confirmPassword"
                    required
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Confirm Password"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="confirmPassword" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("email") }}</span>
              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Email must be active"
              ></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="user.email"
                required
                type="tel"
                name="email"
                class="form-control form-control-lg form-control-solid"
                placeholder="Email Address"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="email" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("contact_phone") }}</span>
              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Phone number must be active"
              ></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="user.phoneNumber"
                type="tel"
                name="phoneNumber"
                required
                class="form-control form-control-lg form-control-solid"
                placeholder="Phone number"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="phoneNumber" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("role") }}</span>
              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Select Role"
              ></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <el-form-item prop="role">
                <el-select
                  v-model="user.group"
                  placeholder="Select Role"
                  name="group"
                  as="select"
                >
                  <el-option v-for="item in role" :value="item.key">{{
                    item.value
                  }}</el-option>
                </el-select>
              </el-form-item>
              <div class="form-text">Set Permission</div>
            </div>
            <!--end::Col-->
          </div>
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="reset"
            class="btn btn-light btn-active-light-primary me-2"
          >
            {{ translate("dis_card") }}
          </button>
          <button
            type="submit"
            id="data-kt-indicator"
            ref="submitButton"
            class="btn btn-primary"
          >
            <span class="indicator-label">{{ translate("e_submit") }}</span>
            <span v-if="loading">
              is processing
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->
</template>

<script lang="ts">
import { getAssetPath } from "@/core/helpers/assets";
import { defineComponent, ref } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import Swal from "sweetalert2/dist/sweetalert2.js";
import * as Yup from "yup";
import { type userDetail, useUserStore } from "@/stores/user";
import { useUploadStore } from "@/stores/uploadFile";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "create-user",
  components: {
    ErrorMessage,
    Field,
    VForm,
  },
  data() {
    return {
      loadings: false,
    };
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };

    const router = useRouter();
    const role = [
      {
        key: "USER",
        value: "USER",
      },
      {
        key: "ADMIN",
        value: "ADMIN",
      },
      {
        key: "CHEF",
        value: "CHEF",
      },
    ];
    const userDetailValidator = Yup.object().shape({
      firstName: Yup.string().required().label("Full Name"),
      lastName: Yup.string().required().label("Full Name"),
      username: Yup.string().required().label("Username"),
      phoneNumber: Yup.string().required().label("Contact Phone"),
      email: Yup.string().required().label("Email"),
      password: Yup.string().required().label("Password"),
      confirmPassword: Yup.string().required().label("Confirm Password"),
      group: Yup.string().required().label("Role"),
      status: Yup.string().required().label("Status"),
    });
    const submitButton = ref<HTMLButtonElement | null>(null);
    const message = ref<string | null>(null);
    const messageType = ref<string>("");
    const user = ref<userDetail>({
      id: 0,
      profile: "",
      firstName: "",
      lastName: "",
      username: "",
      email: "",
      phoneNumber: "",
      password: "",
      confirmPassword: "",
      group: "",
      status: "ACT",
      role: "",
    });
    const file = ref<File | null>(null);
    const imageUrl = ref<string | null>(null);
    const useUser = useUserStore();
    const useUpload = useUploadStore();
    const loading = ref(false);
    const resetValue = () => {
      user.value = {
        id: 0,
        profile: "",
        firstName: "",
        lastName: "",
        username: "",
        email: "",
        phoneNumber: "",
        password: "",
        confirmPassword: "",
        group: "",
        status: "ACT",
        role: ""
      };
      removeImage();
    };

    // Handle file change (image selection)
    const onFileChange = (event: Event) => {
      imageUrl.value = "";
      const input = event.target as HTMLInputElement;
      if (input?.files?.[0]) {
        const getImage = input.files[0];
        // Create a URL for the image to preview
        imageUrl.value = URL.createObjectURL(getImage);
        file.value = input.files[0]; // Store the selected file
      }
    };
    const doUpload = async () => {
      if (file.value) {
        await useUpload.doUploadFile(file.value);
        user.value.profile = useUpload.getImage;
        return;
      }
    };
    const handleSubmit = async () => {
      loading.value = true;
      if (user.value.password != user.value.confirmPassword) {
        await Swal.fire({
          title: "Validation",
          text: "Password Do Not Match!",
          icon: "question",
        });
      }
      await doUpload();

      await useUser.createUser(user.value,user.value.group);
      const response = ref("");
      response.value = useUser.createUserStatus;
      if (response.value.length) {
        await Swal.fire({
          position: "center",
          icon: "success",
          title: "Create New Success!",
          showConfirmButton: false,
          timer: 1500,
        });
        await router.push({ name: "user-list" });
      }
      loading.value = false;
      resetValue();
    };
    const removeImage = () => {
      imageUrl.value = "/media/avatars/blank.png";
    };

    return {
      userDetailValidator,
      getAssetPath,
      imageUrl,
      onFileChange,
      removeImage,
      handleSubmit,
      user,
      doUpload,
      messageType,
      message,
      role,
      loading,
      translate,
    };
  },
});
</script>
