<template>
  <!--begin::Basic info-->
  <div class="card mt-4 mb-xl-10">
    <!--begin::Card header-->
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">{{ translate("edit_user") }}</h3>
      </div>
      <!--end::Card title-->
    </div>
    <div id="kt_user_details" class="collapse show">
      <!--begin::Form-->
      <form @submit.prevent="handleSubmit">
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">{{
              translate("profile")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Image input-->
              <div
                class="image-input image-input-outline"
                data-kt-image-input="true"
                :style="{
                  backgroundImage: `url(${getAssetPath(
                    '/media/avatars/blank.png'
                  )})`,
                }"
              >
                <!--begin::Preview existing avatar-->
                <div
                  class="image-input-wrapper w-125px h-125px"
                  :style="`background-image: url(${imageUrl})`"
                ></div>
                <!--end::Preview existing avatar-->

                <!--begin::Label-->
                <label
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="change"
                  data-bs-toggle="tooltip"
                  title="Change profile"
                >
                  <i class="bi bi-pencil-fill fs-7"></i>

                  <!--begin::Inputs-->
                  <input
                    type="file"
                    name="avatar"
                    @change="onFileChange"
                    accept=".png, .jpg, .jpeg"
                  />
                  <input type="hidden" name="avatar_remove" />
                  <!--end::Inputs-->
                </label>
                <!--end::Label-->

                <!--begin::Remove-->
                <span
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="remove"
                  data-bs-toggle="tooltip"
                  title="Remove profile"
                  @click="removeImage()"
                >
                  <i class="bi bi-x fs-2"></i>
                </span>
                <!--end::Remove-->
              </div>
              <!--end::Image input-->

              <!--begin::Hint-->
              <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
              <!--end::Hint-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("full_name")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <input
                    type="text"
                    name="firstName"
                    required
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="First name"
                    v-model="user.firstName"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="firstName" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <input
                    v-model="user.lastName"
                    type="text"
                    name="lastName"
                    required
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Last name"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="lastName" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("username")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="user.username"
                type="text"
                name="username"
                required
                class="form-control form-control-lg form-control-solid"
                placeholder="Username"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="username" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("email") }}</span>
              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Email must be active"
              ></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="user.email"
                required
                type="tel"
                name="email"
                class="form-control form-control-lg form-control-solid"
                placeholder="Email Address"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="email" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("contact_phone") }}</span>
              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Phone number must be active"
              ></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="user.phoneNumber"
                type="tel"
                name="phoneNumber"
                required
                class="form-control form-control-lg form-control-solid"
                placeholder="Phone number"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="phoneNumber" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("role") }}</span>
              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Select Role"
              ></i>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <el-form-item prop="role">
                <el-select
                  v-model="user.group"
                  placeholder="Select Role"
                  name="group"
                  as="select"
                >
                  <el-option
                    v-for="item in role"
                    :label="item.value"
                    :value="item.key"
                    >{{ item.value }}
                  </el-option>
                </el-select>
              </el-form-item>
              <div class="form-text">Set Permission</div>
            </div>
            <!--end::Col-->
          </div>
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="reset"
            class="btn btn-light btn-active-light-primary me-2"
          >
            {{ translate("dis_card") }}
          </button>
          <button
            type="submit"
            id="data-kt-indicator"
            ref="submitButton"
            class="btn btn-primary"
          >
            <span class="indicator-label">{{ translate("e_submit") }}</span>
            <span v-if="loading">
              is processing
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <div class="card mt-4">
      <div class="card-body border-top p-9">
        <div class="d-flex flex-wrap align-items-center mb-8">
          <div id="kt_signin_password_edit" class="flex-row-fluid">
            <div class="fs-6 fw-semobold text-gray-600 mb-4">
              {{ translate("pass_descri") }}
            </div>

            <!--begin::Form-->
            <div class="row mb-6">
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label
                    for="currentpassword"
                    class="form-label fs-6 fw-bold mb-3"
                    >{{ translate("c_password") }}</label
                  >
                  <input
                    type="password"
                    class="form-control form-control-lg form-control-solid fw-semobold fs-6"
                    name="currentpassword"
                    id="currentpassword"
                    v-model="old"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label
                    for="newpassword"
                    class="form-label fs-6 fw-bold mb-3"
                    >{{ translate("n_password") }}</label
                  >
                  <input
                    type="password"
                    class="form-control form-control-lg form-control-solid fw-semobold fs-6"
                    name="newpassword"
                    id="newpassword"
                    v-model="newPass"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label
                    for="confirmpassword"
                    class="form-label fs-6 fw-bold mb-3"
                    >{{ translate("co_password") }}</label
                  >
                  <input
                    type="password"
                    class="form-control form-control-lg form-control-solid fw-semobold fs-6"
                    name="confirmpassword"
                    id="confirmpassword"
                    v-model="conPass"
                  />
                </div>
              </div>
            </div>
            <div class="d-flex">
              <button
                v-if="old.length && newPass.length && conPass.length"
                class="btn btn-primary me-2 px-6"
                @click="updatePassword1"
              >
                <span class="indicator-label">
                  {{ translate("up_password") }}
                </span>
                <span v-if="loadings1">
                  is processing
                  <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </button>
              <button v-else class="btn btn-secondary me-2 px-6">
                <span class="indicator-label">
                  {{ translate("up_password") }}
                </span>
              </button>
            </div>
            <!--end::Form-->
          </div>
        </div>
        <!--end::Password-->
      </div>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->
</template>
<script lang="ts">
import { getAssetPath } from "@/core/helpers/assets";
import { defineComponent, onMounted, ref } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import Swal from "sweetalert2/dist/sweetalert2.js";
import {
  type DataPassword,
  type userDetail,
  useUserStore,
} from "@/stores/user";
import { useUploadStore } from "@/stores/uploadFile";
import { useRoute, useRouter } from "vue-router";
import { useI18n } from "vue-i18n";

const useServiceUser = useUserStore();
export default defineComponent({
  name: "create-user",
  components: {
    ErrorMessage,
    Field,
    VForm,
  },
  data() {
    return {
      loadings1: false,
      old: "",
      newPass: "",
      conPass: "",
      user_id: useRoute().params.id,
    };
  },
  methods: {
    async updatePassword1() {
      this.loadings1 = true;
      await useServiceUser.updatePassword(
        this.user_id,
        this.old,
        this.newPass,
        this.conPass
      );
      const status = ref<any>();
      status.value = useServiceUser.updatePasswordStatus;
      if (status.value) {
        await Swal.fire({
          title: "Message",
          text: `${status.value}`,
          icon: "success",
        }).then(() => {
          this.resetValue();
        });
      }
      this.loadings1 = false;
    },
    resetValue() {
      this.old = "";
      this.newPass = "";
      this.conPass = "";
    },
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const url =
      import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=";
    const updatePasswordButton = ref<HTMLElement | null>(null);
    const passwordFormDisplay = ref(true);
    const useServiceUser = useUserStore();
    const id = useRoute().params.id;
    const userInfo = ref(<userDetail>{});
    const router = useRouter();
    const role = [
      {
        key: "USER",
        value: "USER",
      },
      {
        key: "ADMIN",
        value: "ADMIN",
      },
      {
        key: "CHEF",
        value: "CHEF",
      },
    ];

    const submitButton = ref<HTMLButtonElement | null>(null);
    const message = ref<string | null>(null);
    const messageType = ref<string>("");
    const Password = ref<DataPassword>({
      id: 0,
      phone: "",
      oldPassword: "",
      newPassword: "",
      confirmPassword: "",
    });
    const user = ref(<userDetail>{});
    const file = ref<File | null>(null);
    const imageUrl = ref<string | null>(null);
    const useUser = useUserStore();
    const useUpload = useUploadStore();
    const loading = ref(false);
    const resetValue = () => {
      user.value = {
        id: 0,
        profile: "",
        firstName: "",
        lastName: "",
        username: "",
        email: "",
        password: "",
        confirmPassword: "",
        phoneNumber: "",
        group: "",
        status: "ACT",
        role: "",
      };
      removeImage();
    };
    const getUserById = async () => {
      await useServiceUser.getUserById(id);
      userInfo.value = useServiceUser.userInfo;
      user.value.id = id;
      user.value.firstName = userInfo.value.firstName;
      user.value.lastName = userInfo.value.lastName;
      user.value.username = userInfo.value.username;
      user.value.email = userInfo.value.email;
      user.value.phoneNumber = userInfo.value.phoneNumber;
      user.value.group = userInfo.value.group.name;
      imageUrl.value = url + userInfo.value.profile;
    };
    onMounted(() => {
      getUserById();
    });

    // Handle file change (image selection)
    const onFileChange = (event: Event) => {
      imageUrl.value = "";
      const input = event.target as HTMLInputElement;
      if (input?.files?.[0]) {
        const getImage = input.files[0];
        // Create a URL for the image to preview
        imageUrl.value = URL.createObjectURL(getImage);
        file.value = input.files[0]; // Store the selected file
      }
    };
    const doUpload = async () => {
      if (file.value) {
        await useUpload.doUploadFile(file.value);
        user.value.profile = useUpload.getImage;
        return;
      }
    };
    const handleSubmit = async () => {
      loading.value = true;
      if (user.value.password != user.value.confirmPassword) {
        await Swal.fire({
          title: "Validation",
          text: "Password Do Not Match!",
          icon: "question",
        });
      }
      await doUpload();
      console.log(user.value);
      await useUser.updateUser(user.value, user.value.group);
      const response = ref("");
      response.value = useUser.updateStatus;
      if (response.value.length) {
        await Swal.fire({
          title: "Message",
          text: `${response.value}`,
          icon: "success",
        });
        await router.push({ name: "user-list" });
      }
      loading.value = false;
      resetValue();
    };
    const removeImage = () => {
      imageUrl.value = "/media/avatars/blank.png";
    };

    return {
      getAssetPath,
      imageUrl,
      onFileChange,
      removeImage,
      handleSubmit,
      user,
      doUpload,
      messageType,
      message,
      role,
      loading,
      passwordFormDisplay,
      updatePasswordButton,
      Password,
      translate,
      submitButton,
    };
  },
});
</script>
