<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import KTIcon from "@/core/helpers/kt-icon/KTIcon.vue";
import KTModalCard from "@/components/cards/Card.vue";
import moment from "moment";
import { useProductStore } from "@/stores/products";
import AddCustomerModal from "@/components/modals/forms/AddCustomerModal.vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import * as XLSX from "xlsx";
import { jsPDF } from "jspdf";
import autoTable from "jspdf-autotable";
import { useUserStore } from "@/stores/user";
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";

const useUser = useUserStore();
export default defineComponent({
  name: "Users",
  components: { Datatable, AddCustomerModal, KTIcon, KTModalCard },
  data() {
    return {
      pageLoading: false,
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      listUser: <any[]>[]
    };
  },
  async mounted() {
    this.pageLoading = true;
    await this.onLoading();
    this.pageLoading = false;
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    // const exportToExcel = () => {
    //   // Step 1: Convert data to worksheet
    //   const worksheet = XLSX.utils.json_to_sheet("");
    //
    //   // Step 2: Create a workbook and append the worksheet
    //   const workbook = XLSX.utils.book_new();
    //   XLSX.utils.book_append_sheet(workbook, worksheet, "Users");
    //
    //   // Step 3: Export the workbook to an Excel file
    //   XLSX.writeFile(workbook, "table-data.xlsx");
    // };
    // const exportToPDF = () => {
    //   const pdf = new jsPDF();
    //
    //   // Add a title
    //   pdf.text("List Products", 14, 12);
    //
    //   // Use autoTable to add data in table format
    //   // autoTable(pdf, {
    //   //   head: [["ID", "Name", "Email"]],
    //   //   body: data.map((row) => [row.id, row.name, row.name_kh, row.qty, row.price, row.category.name]),
    //   //   startY: 20,  // Start position for table
    //   //   theme: "striped"  // Table theme
    //   // });
    //
    //   // Save the PDF
    //   pdf.save("table-data.pdf");
    // };
    const tableHeader = ref([
      {
        columnName: translate("profile"),
        columnLabel: "profile",
        sortEnabled: true,
        columnWidth: 30
      },
      {
        columnName: translate("f_name"),
        columnLabel: "firstName",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("l_name"),
        columnLabel: "lastName",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("email"),
        columnLabel: "email",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("phone"),
        columnLabel: "phoneNumber",
        sortEnabled: true,
        columnWidth: 70
      },
      {
        columnName: translate("role"),
        columnLabel: "role",
        sortEnabled: true,
        columnWidth: 40
      },
      {
        columnName: translate("t_status"),
        columnLabel: "status",
        sortEnabled: true,
        columnWidth: 40
      },
      {
        columnName: translate("create_at"),
        columnLabel: "createAt",
        sortEnabled: true,
        columnWidth: 120
      },
      {
        columnName: translate("action"),
        columnLabel: "actions",
        sortEnabled: false,
        columnWidth: 100
      }
    ]);
    return {
      tableHeader,
      translate
    };
  },
  methods: {
    async onLoading() {
      this.pageLoading = true;
      await useUser.getListUser();
      this.listUser = useUser.listUser;
      this.pageLoading = false;
    },
    async onDelete(id: any) {
      this.pageLoading = true;
      await useUser.deleteUser(id);
      await useUser.getListUser();
      this.listUser = useUser.listUser;
      await Swal.fire({
        title: "Deleted!",
        text: "User Deleted Success!",
        icon: "success"
      });
      this.pageLoading = false;
    },
    class_status(status: any) {
      if (status == "ACT") {
        return "badge-success";
      } else if (status == "DIS") {
        return "badge-warning";
      }
    },
    format_date(value: any) {
      if (value) {
        return moment(String(value)).format("DD-MM-YYYY");
      }
    }
  }
});
</script>

<template>
  <div class="card mt-4">
    <div class="card-body text-center" v-if="pageLoading">
      <div
        class="w-100 position-relative d-flex justify-content-center"
        style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
              class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Please wait...</div>
        </div>
      </div>
    </div>
    <div class="card-body" v-else>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="d-flex align-items-center position-relative">
            <KTIcon
              icon-name="magnifier"
              icon-class="fs-1 position-absolute ms-6"
            />
            <input
              type="text"
              class="form-control form-control-solid w-250px ps-15"
              placeholder="Search"
            />
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 text-end">
          <router-link to="/apps/user/create">
            <button class="btn btn-primary">{{ translate("add_user") }}</button>
          </router-link>
        </div>
      </div>
      <Datatable
        :data="listUser"
        :header="tableHeader"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:id="{ row: data }">
          {{ data.id }}
        </template>
        <template v-slot:profile="{ row: data }">
          <img
            style="width: 60px; height: 60px"
            class="rounded"
            :src="url + data.profile"
            alt="image"
          />
        </template>
        <template v-slot:firstName="{ row: data }">
          <a href="#" class="text-gray-600 text-hover-primary mb-1">
            {{ data.firstName }}
          </a>
        </template>
        <template v-slot:lastName="{ row: data }">
          {{ data.lastName }}
        </template>
        <template v-slot:email="{ row: data }">
          {{ data.email }}
        </template>
        <template v-slot:phoneNumber="{ row: data }">
          {{ data.phoneNumber }}
        </template>
        <template v-slot:role="{ row: data }">
          <span v-if="data.group != null">
            {{ data.group.name }}
          </span>
        </template>
        <template v-slot:status="{ row: data }">
          <span class="badge" :class="class_status(data.status)">
            {{ data.status }}
          </span>
        </template>
        <!--        <template v-slot:sub_category="{ row: data }">-->
        <!--          <span v-if="data.category.subCategoryList != null">-->
        <!--            {{ data.category.subCategoryList[0].name }}-->
        <!--          </span>-->
        <!--          <span v-else>-->

        <!--          </span>-->
        <!--        </template>-->
        <template v-slot:createAt="{ row: data }">
          {{ format_date(data.createAt) }}
        </template>
        <template v-slot:actions="{ row: data }">
          <td class="d-flex justify-content-around">
            <!--            <router-link :to="'/apps/tables/qr_code/' + data.id">-->
            <!--              <span-->
            <!--                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"-->
            <!--              >-->
            <!--                <KTIcon icon-name="eye" icon-class="fs-3" />-->
            <!--              </span>-->
            <!--            </router-link>-->

            <router-link :to="`/apps/user/edit/` + data.id">
              <span
                class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1"
              >
                <KTIcon icon-name="pencil" icon-class="fs-3" />
              </span>
            </router-link>
            <span
              class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm"
              data-bs-toggle="modal"
              :data-bs-target="`#delete${data.id}`"
            >
              <KTIcon icon-name="trash" icon-class="fs-3" />
            </span>
            <div
              class="modal fade mt-10"
              tabindex="-1"
              :id="`delete${data.id}`"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">
                      Delete <span class="text-gray-500">
                                    - {{ data.firstName +" "+data.lastName }}</span
                    >
                    </h3>
                    <!--begin::Close-->
                    <div
                      class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="fa fa-x fs-6" />
                    </div>
                    <!--end::Close-->
                  </div>
                  <div class="modal-body text-start w-100">
                    <h1 class="text-center">Are you sure?</h1>

                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-light"
                      data-bs-dismiss="modal"
                    >
                      {{ translate("dis_card") }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
                      @click="
                                    onDelete(
                                      data.id,
                                    )
                                  "
                    >
                      {{ translate("delete") }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </template>
      </Datatable>
    </div>
  </div>
</template>

<style scoped lang="scss">
.low {
  color: red;
  font-weight: bold;
}

.normal {
  color: deepskyblue;
  font-weight: bold;
}
</style>
