<template>
  <!--begin::Basic info-->
  <div class="card mt-4 mb-xl-10">
    <!--begin::Card header-->
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">Create Product</h3>
      </div>
      <!--end::Card title-->
    </div>
    <div id="kt_user_details" class="collapse show">
      <!--begin::Form-->
      <form @submit.prevent="handleSubmit">
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6"
              >{{ translate('images') }}</label
            >
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Image input-->
              <div
                class="image-input image-input-outline"
                data-kt-image-input="true"
                :style="{
                  backgroundImage: `url(${getAssetPath(
                    '/media/avatars/blank.png'
                  )})`,
                }"
              >
                <!--begin::Preview existing avatar-->
                <div
                  class="image-input-wrapper w-125px h-125px"
                  :style="`background-image: url(${imageUrl})`"
                ></div>
                <!--end::Preview existing avatar-->

                <!--begin::Label-->
                <label
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="change"
                  data-bs-toggle="tooltip"
                  title="Change profile"
                >
                  <i class="bi bi-pencil-fill fs-7"></i>

                  <!--begin::Inputs-->
                  <input
                    type="file"
                    name="avatar"
                    @change="onFileChange"
                    accept=".png, .jpg, .jpeg"
                  />
                  <input type="hidden" name="avatar_remove" />
                  <!--end::Inputs-->
                </label>
                <!--end::Label-->

                <!--begin::Remove-->
                <span
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="remove"
                  data-bs-toggle="tooltip"
                  title="Remove profile"
                  @click="removeImage()"
                >
                  <i class="bi bi-x fs-2"></i>
                </span>
                <!--end::Remove-->
              </div>
              <!--end::Image input-->

              <!--begin::Hint-->
              <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
              <!--end::Hint-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("category") }}</span>

              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Select Role"
              ></i>
            </label>
            <div class="col-lg-8 fv-row">
              <el-select v-model="product.category.id">
                <el-option
                  v-for="category in listCategories"
                  key="category-select-option"
                  :value="category.id"
                  :label="category.name + ' - ' + category.name_kh"
                >
                  {{ category.name }} - {{ category.name_kh }}
                </el-option>
              </el-select>
            </div>
            <!--end::Col-->
          </div>
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("product_name")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <input
                    type="text"
                    name="name"
                    required
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Name"
                    v-model="product.name"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="firstName" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <input
                    v-model="product.name_kh"
                    type="text"
                    name="name_kh"
                    required
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Name in khmer"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="lastName" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("qty")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="product.qty"
                type="number"
                name="username"
                required
                class="form-control form-control-lg form-control-solid"
                placeholder="Quantity"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="qty" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{
              translate("purchase_price")
            }}</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="product.coast"
                type="number"
                step="0.01"
                name="coast"
                required
                class="form-control form-control-lg form-control-solid"
                placeholder="Purchase price"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="coast" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>

          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("selling_price") }}</span>

              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Selling Price"
              ></i>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                v-model="product.price"
                required
                type="number"
                step="0.01"
                name="price"
                class="form-control form-control-lg form-control-solid"
                placeholder="Selling Price"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="price" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span class="required">{{ translate("t_status") }}</span>

              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Select Role"
              ></i>
            </label>
            <div class="col-lg-8 fv-row">
              <el-select v-model="product.status">
                <el-option
                  v-for="(item, i) in statusTable"
                  :key="`countries-select-option-${i}`"
                  :value="item.value"
                  :label="item.label"
                >
                  {{ item.label }}
                </el-option>
              </el-select>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              <span>{{ translate("description") }}</span>

              <i
                class="fas fa-exclamation-circle ms-1 fs-7"
                data-bs-toggle="tooltip"
                title="Description"
              ></i>
            </label>
            <div class="col-lg-8 fv-row">
              <div class="form-floating">
                <textarea
                  v-model="product.description"
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 100px"
                ></textarea>
              </div>
            </div>
            <!--end::Col-->
          </div>
        </div>
        <!--end::Card body-->

        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="reset"
            class="btn btn-light btn-active-light-primary me-2"
          >
            {{translate('dis_card')}}
          </button>

          <button
            type="submit"
            id="data-kt-indicator"
            ref="submitButton"
            class="btn btn-primary"
          >
            <span class="indicator-label">{{translate('e_submit')}}</span>
            <span v-if="loading">
              is processing
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->
</template>

<script lang="ts">
import Editor from "@tinymce/tinymce-vue";
const category = useCategoryStore();
const useOpenApi = useOpenApiStore();
import { getAssetPath } from "@/core/helpers/assets";
import { defineComponent, ref } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import Swal from "sweetalert2/dist/sweetalert2.js";
import * as Yup from "yup";
import { useUploadStore } from "@/stores/uploadFile";
import { useRouter } from "vue-router";
import { useCategoryStore } from "@/stores/category_v1";
import { type Product, useProductStore } from "@/stores/products";
import { useOpenApiStore } from "@/stores/open_api";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "create-product",
  components: {
    ErrorMessage,
    Field,
    VForm,
    Editor,
  },
  data() {
    return {
      loadings: false,
      listCategories: <any>[],
    };
  },
  async mounted() {
    await useOpenApi.getListCategory();
    this.listCategories = useOpenApi.listCategory;
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };

    const router = useRouter();
    const role = [
      {
        key: "USER",
        value: "USER",
      },
      {
        key: "ADMIN",
        value: "ADMIN",
      },
    ];
    const statusTable = [
      {
        value: "ACT",
        label: "Active",
      },
      {
        value: "DIS",
        label: "Disable",
      },
    ];
    const userDetailValidator = Yup.object().shape({
      firstName: Yup.string().required().label("Full Name"),
      lastName: Yup.string().required().label("Full Name"),
      username: Yup.string().required().label("Username"),
      phoneNumber: Yup.string().required().label("Contact Phone"),
      email: Yup.string().required().label("Email"),
      password: Yup.string().required().label("Password"),
      confirmPassword: Yup.string().required().label("Confirm Password"),
      group: Yup.string().required().label("Role"),
      status: Yup.string().required().label("Status"),
    });
    const submitButton = ref<HTMLButtonElement | null>(null);
    const message = ref<string | null>(null);
    const messageType = ref<string>("");
    const product = ref<Product>(<Product>{
      id: 0,
      name: "",
      name_kh: "",
      status: "",
      image: "",
      qty: 0,
      coast: 0,
      price: 0,
      qty_alert: 3,
      description: "",
      category: {
        id: 0,
      },
    });
    const file = ref<File | null>(null);
    const imageUrl = ref<string | null>(null);
    const useProduct = useProductStore();
    const useUpload = useUploadStore();
    const loading = ref(false);
    const resetValue = () => {
      product.value = <Product>{
        id: 0,
        name: "",
        name_kh: "",
        status: "",
        image: "",
        qty: 0,
        coast: 0,
        price: 0,
        qty_alert: 3,
        description: "",
        category: {
          id: 0,
        },
      };
      removeImage();
    };

    // Handle file change (image selection)
    const onFileChange = (event: Event) => {
      const input = event.target as HTMLInputElement;
      if (input?.files?.[0]) {
        const getImage = input.files[0];
        // Create a URL for the image to preview
        imageUrl.value = URL.createObjectURL(getImage);
        file.value = input.files[0]; // Store the selected file
      }
    };
    const doUpload = async () => {
      if (file.value) {
        await useUpload.doUploadFile(file.value);
        product.value.image = useUpload.getImage;
        return;
      }
    };
    const handleSubmit = async () => {
      loading.value = true;
      await doUpload();
      await useProduct.createProduct(product.value);
      const response = ref("");
      response.value = useProduct.createProductStatus;
      if (response.value.length) {
        await Swal.fire({
          title: "Message",
          text: `${response.value}`,
          icon: "success",
        });
        await router.push({ name: "app-products-list" });
      }
      loading.value = false;
      resetValue();
    };
    const removeImage = () => {
      imageUrl.value = "";
    };

    return {
      userDetailValidator,
      getAssetPath,
      imageUrl,
      onFileChange,
      removeImage,
      handleSubmit,
      product,
      doUpload,
      messageType,
      message,
      role,
      loading,
      statusTable,
      translate,
    };
  },
});
</script>
