<script lang="ts">
import { computed, defineComponent, onMounted, ref } from "vue";
import KTIcon from "@/core/helpers/kt-icon/KTIcon.vue";
import KTModalCard from "@/components/cards/Card.vue";
import moment from "moment";
import { type Product, useProductStore } from "@/stores/products";
import AddCustomerModal from "@/components/modals/forms/AddCustomerModal.vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import * as XLSX from "xlsx";
import { jsPDF } from "jspdf";
import autoTable from "jspdf-autotable";
import Swal from "sweetalert2";
import {useI18n} from "vue-i18n";


const productService = useProductStore();
export default defineComponent({
  name: "Products",
  components: { Datatable, AddCustomerModal, KTIcon, KTModalCard },
  data() {
    return {
      // pageLoading: false,
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      listProducts: <any[]>[],
      searchQuery: ref(""),
    };
  },
  async mounted() {
    // this.pageLoading = true;
    // await this.onLoading();
    // this.pageLoading = false;
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const loading = ref(false);
    const pageLoading = ref(false);
    const useProduct = useProductStore();
    const listProduct = ref([]);
    const product = ref<Product>(<Product>{});
    const addQty = ref(0);
    const onLoading = async () => {
      addQty.value = 0;
      pageLoading.value = true;
      await useProduct.getProductsLow();
      listProduct.value = useProduct.listProducts;
      pageLoading.value = false;
    };
    const addQuantity = async (id: any) => {
      loading.value = true;
      await useProduct.getProductById(id);
      product.value = useProduct.productById;
      loading.value = false;
    };
    const addStock = async (pro_id: any, qty: any) => {
      pageLoading.value = true;
      await useProduct.addStockQty(pro_id, qty);
      const status = ref("");
      status.value = useProduct.status;
      if (status.value != "") {
        await Swal.fire({
          position: "center",
          icon: "success",
          title: `${status.value}`,
          showConfirmButton: false,
          timer: 1000,
        });
        await onLoading();
      }
    };
    const searchQuery = ref("");
    const filteredItems = computed(() => {
      return listProduct.value.filter((item) =>
        Object.values(item).some((value) =>
          String(value).toLowerCase().includes(searchQuery.value.toLowerCase())
        )
      );
    });
    onMounted(async () => {
      await onLoading();
    });
    const page = ref(1);
    const data = [
      {
        id: 4,
        image:
          "https://img.freepik.com/premium-vector/delicious-food-illustration-vibrant-collection-breakfast-snack-items_1300528-93498.jpg",
        name: "ice_latee",
        name_kh: "ice_jlatee",
        qty: 10,
        coast: 10.0,
        price: 15.0,
        qty_alert: 3,
        category: {
          createAt: "2024-10-12T13:48:57.289+00:00",
          createBy: "SYS",
          updateAt: "2024-10-12T13:48:57.310+00:00",
          updateBy: "admin",
          id: 5,
          name: "Caffee",
          imageUrl: "1725550277034.jpg",
          sub_category: null,
          status: "DIS",
        },
        sub_category: {
          createAt: null,
          createBy: null,
          updateAt: null,
          updateBy: null,
          id: 1,
          name: "ice_coffee",
          imageUrl: null,
          status: "ACT",
        },
        description: null,
        created_at: "2024-09-04 11:47:45.197",
        updated_at: null,
        status: "DIS",
      },
      {
        id: 3,
        image:
          "https://img.freepik.com/premium-vector/delicious-food-illustration-vibrant-collection-breakfast-snack-items_1300528-93498.jpg",
        name: "product_3",
        name_kh: "product_3",
        qty: 10,
        coast: 10.0,
        price: 12.0,
        qty_alert: 3,
        category: {
          createAt: "2024-09-04T07:49:40.355+00:00",
          createBy: "admin",
          updateAt: null,
          updateBy: "",
          id: 10,
          name: "Hot Cofee",
          imageUrl: "1725550277034.jpg",
          sub_category: null,
          status: "ACT",
        },
        sub_category: null,
        description: "test",
        created_at: "2024-09-04 11:47:45.197",
        updated_at: null,
        status: "ACT",
      },
      {
        id: 2,
        image:
          "https://img.freepik.com/premium-vector/delicious-food-illustration-vibrant-collection-breakfast-snack-items_1300528-93498.jpg",
        name: "hot_coffee",
        name_kh: "hot_coffee_kh",
        qty: 46,
        coast: 5.0,
        price: 7.0,
        qty_alert: 3,
        category: {
          createAt: "2024-10-12T13:48:57.289+00:00",
          createBy: "SYS",
          updateAt: "2024-10-12T13:48:57.310+00:00",
          updateBy: "admin",
          id: 5,
          name: "Caffee",
          imageUrl: "1725550277034.jpg",
          sub_category: null,
          status: "ACT",
        },
        sub_category: {
          createAt: null,
          createBy: null,
          updateAt: null,
          updateBy: null,
          id: 2,
          name: "hot_coffee",
          imageUrl: null,
          status: "ACT",
        },
        description: "testing",
        created_at: "2024-09-04 11:47:45.197",
        updated_at: null,
        status: "ACT",
      },
      {
        id: 1,
        image:
          "https://img.freepik.com/premium-vector/delicious-food-illustration-vibrant-collection-breakfast-snack-items_1300528-93498.jpg",
        name: "ice_cofee",
        name_kh: "ice_coffee_kh",
        qty: 14,
        coast: 10.0,
        price: 14.0,
        qty_alert: 3,
        category: {
          createAt: "2024-10-12T13:48:57.289+00:00",
          createBy: "SYS",
          updateAt: "2024-10-12T13:48:57.310+00:00",
          updateBy: "admin",
          id: 5,
          name: "Caffee",
          imageUrl: "1725550277034.jpg",
          sub_category: null,
          status: "ACT",
        },
        sub_category: {
          createAt: null,
          createBy: null,
          updateAt: null,
          updateBy: null,
          id: 1,
          name: "ice_coffee",
          imageUrl: null,
          status: "ACT",
        },
        description: "testing",
        created_at: "2024-09-04 11:47:45.197",
        updated_at: null,
        status: "ACT",
      },
    ];
    const exportToExcel = () => {
      // Step 1: Convert data to worksheet
      const worksheet = XLSX.utils.json_to_sheet(data);

      // Step 2: Create a workbook and append the worksheet
      const workbook = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(workbook, worksheet, "Users");

      // Step 3: Export the workbook to an Excel file
      XLSX.writeFile(workbook, "table-data.xlsx");
    };
    const exportToPDF = () => {
      const pdf = new jsPDF();

      // Add a title
      pdf.text("List Products", 14, 12);

      // Use autoTable to add data in table format
      autoTable(pdf, {
        head: [["ID", "Name", "Email"]],
        body: data.map((row) => [
          row.id,
          row.name,
          row.name_kh,
          row.qty,
          row.price,
          row.category.name,
        ]),
        startY: 20, // Start position for table
        theme: "striped", // Table theme
      });

      // Save the PDF
      pdf.save("table-data.pdf");
    };
    const tableHeader = ref([
      {
        columnName: translate('codes'),
        columnLabel: "code",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate('images'),
        columnLabel: "image",
        sortEnabled: true,
        columnWidth: 30,
      },
      {
        columnName: translate('p_name'),
        columnLabel: "name",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate('name_kh'),
        columnLabel: "name_kh",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate('qty'),
        columnLabel: "qty",
        sortEnabled: true,
        columnWidth: 40,
      },
      {
        columnName: translate('coast'),
        columnLabel: "coast",
        sortEnabled: true,
        columnWidth: 40,
      },
      {
        columnName: translate('price'),
        columnLabel: "price",
        sortEnabled: true,
        columnWidth: 40,
      },
      {
        columnName: translate('category'),
        columnLabel: "category",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate('create_at'),
        columnLabel: "created_at",
        sortEnabled: true,
        columnWidth: 120,
      },
      {
        columnName: translate('stock'),
        columnLabel: "stock",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate('t_status'),
        columnLabel: "status",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('action'),
        columnLabel: "actions",
        sortEnabled: false,
        columnWidth: 100,
      },
    ]);
    return {
      data,
      tableHeader,
      exportToExcel,
      exportToPDF,
      listProduct,
      onLoading,
      pageLoading,
      searchQuery,
      filteredItems,
      addQuantity,
      product,
      loading,
      addStock,
      addQty,
      translate
    };
  },
  methods: {
    async onLoading() {
      await productService.getProducts();
      this.listProducts = productService.listProducts;
    },
    async onDelete(id: any) {
      await Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          productService.onDelete(id);
          Swal.fire({
            title: "Deleted!",
            text: "Deleted Success!",
            icon: "success",
          });
          this.onLoading();
        }
      });
    },
    class_status(status: any) {
      if (status == "ACT") {
        return "badge-success";
      } else if (status == "DIS") {
        return "badge-warning";
      }
    },
    qtyStatus(status: any) {
      if (status == "Available") {
        return "badge-success";
      } else if (status == "Low Stock") {
        return "badge-warning";
      }
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("DD-MM-YYYY");
      }
    },
  },
});
</script>

<template>
  <div class="modal fade" tabindex="-1" id="kt_add_stock">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Add Product Stock</h3>

          <!--begin::Close-->
          <div
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="ki-duotone ki-cross fs-1"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Close-->
        </div>
        <div class="modal-body" v-if="loading">
          <div
            class="w-100 position-relative d-flex justify-content-center"
            style="height: 100vh"
          >
            <div class="position-absolute bottom-50">
              <div data-kt-indicator="on">
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                ></span>
              </div>
              <div class="d-flex mt-5">Loading...</div>
            </div>
          </div>
        </div>
        <div v-else class="modal-body">
          <div class="form-floating mb-7">
            <input
              type="text"
              v-model="product.code"
              class="form-control"
              readonly
              id="code"
            />
            <label for="floatingInput">Product Code</label>
          </div>
          <div class="form-floating mb-7">
            <textarea
              class="form-control"
              v-model="product.description"
              id="description"
              readonly
              style="height: 100px"
            ></textarea>
            <label for="description">Description</label>
          </div>
          <div class="form-floating mb-7">
            <input
              type="number"
              class="form-control"
              v-model="product.price"
              readonly
              id="qty"
            />
            <label for="floatingInput">Price</label>
          </div>
          <div class="form-floating mb-7">
            <input type="number" v-model="addQty" class="form-control" id="qty" />
            <label for="floatingInput">Quantity In</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            @click="addStock(product.id, addQty)"
          >
            Add Quantity In
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body text-center" v-if="pageLoading">
      <div
        class="w-100 position-relative d-flex justify-content-center"
        style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
              class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Please wait...</div>
        </div>
      </div>
    </div>
    <div class="card-body" v-else>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="d-flex align-items-center position-relative">
            <KTIcon
              icon-name="magnifier"
              icon-class="fs-1 position-absolute ms-6"
            />
            <input
              type="text"
              class="form-control form-control-solid w-250px ps-15"
              v-model="searchQuery"
              placeholder="Search..."
            />
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="float-end">
            <router-link to="/apps/products/create_product">
              <button class="btn btn-primary">{{translate('add_product_pp')}}</button>
            </router-link>
          </div>
        </div>
      </div>
      <Datatable
        :data="filteredItems"
        :header="tableHeader"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:id="{ row: data }">
          {{ data.id }}
        </template>
        <template v-slot:code="{ row: data }">
          {{ data.code }}
        </template>
        <template v-slot:image="{ row: data }">
          <img
            style="width: 60px; height: 60px"
            class="rounded"
            :src="url + data.image"
            alt="image"
          />
        </template>
        <template v-slot:name="{ row: data }">
          <a href="#" class="text-gray-600 text-hover-primary mb-1">
            {{ data.name }}
          </a>
        </template>
        <template v-slot:name_kh="{ row: data }">
          {{ data.name_kh }}
        </template>
        <template v-slot:qty="{ row: data }">
          <span v-if="data.qty > 3" class="normal"> {{ data.qty }} item </span>
          <span v-else class="low"> {{ data.qty }} item </span>
        </template>
        <template v-slot:coast="{ row: data }"> ${{ data.coast }}</template>
        <template v-slot:price="{ row: data }"> ${{ data.price }}</template>
        <template v-slot:category="{ row: data }">
          {{ data.category.name }}
        </template>
        <!--        <template v-slot:sub_category="{ row: data }">-->
        <!--          <span v-if="data.category.subCategoryList != null">-->
        <!--            {{ data.category.subCategoryList[0].name }}-->
        <!--          </span>-->
        <!--          <span v-else>-->

        <!--          </span>-->
        <!--        </template>-->
        <template v-slot:created_at="{ row: data }">
          {{ format_date(data.created_at) }}
        </template>
        <template v-slot:stock="{ row: data }">
          <button
            class="btn btn-primary hover-scale me-2 mb-2 btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#kt_add_stock"
            @click="addQuantity(data.id)"
          >
            Add Stock
          </button>
          <!--          {{ data.updated_at }}-->
        </template>
        <template v-slot:status="{ row: data }">
          <span class="badge" :class="class_status(data.status)">
            {{ data.status }}
          </span>
        </template>

        <template v-slot:actions="{ row: data }">
          <td class="d-flex justify-content-around">
            <!--               <span-->
            <!--              class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1"-->
            <!--            >-->
            <!--              <KTIcon icon-name="eye" icon-class="fs-3" />-->
            <!--            </span>-->
            <router-link :to="'/apps/products/' + data.id">
              <span
                class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1"
              >
                <KTIcon icon-name="pencil" icon-class="fs-3" />
              </span>
            </router-link>
            <span
              @click="onDelete(data.id)"
              class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm"
            >
              <KTIcon icon-name="trash" icon-class="fs-3" />
            </span>
          </td>
        </template>
      </Datatable>
    </div>
  </div>
</template>

<style scoped lang="scss">
.low {
  color: red;
  font-weight: bold;
}

.normal {
  color: deepskyblue;
  font-weight: bold;
}
</style>
