<template>
  <div>
    <div class="text-center">
      <h1 class="mt-4">
        SCAN THIS CODE <br>
        QR TO SEE <br>
        THE MENU <br>
        More comfortable, faster and environment friendly.
      </h1>
    </div>
    <div id="qrcode-container" ref="qrcodeContainer">

      <div class="card">
        <div class="card-body">

          <canvas ref="qrcodeCanvas"></canvas>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-success me-6" @click="onPrint">
        <span class="bi bi-printer"></span>
        Print QR Code</button>
      <button class="btn btn-primary" @click="downloadCanvasImage">
        <span class="bi bi-arrow-down"> PNG</span>
        Download</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import QRCode from "qrcode";
import printJS from "print-js";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "QRCodePrinter",
  setup() {
    const baseUrl =import.meta.env.VITE_APP_DOMAIN_URL;
    const code = useRoute().params.name;
    const qrData = ref(baseUrl+"order/"+code);
    const qrcodeContainer = ref<HTMLDivElement | null>(null);
    const qrcodeCanvas = ref<HTMLCanvasElement | null>(null);

    const generateQRCode = () => {
      if (qrcodeCanvas.value) {
        QRCode.toCanvas(qrcodeCanvas.value, qrData.value, {
          width: 300,
          margin: 2
        }, (error) => {
          if (error) console.error(error);
        });
      }
    };
    const downloadCanvasImage = () => {
      if (!qrcodeCanvas.value) return;
      const canvas = qrcodeCanvas.value;
      const imageUrl = canvas.toDataURL("image/png"); // Convert canvas to image

      const link = document.createElement("a");
      link.href = imageUrl;
      link.download = "qrcode.png"; // Set the filename
      link.click();
    };
    const onPrint = () => {
      printJS({
        printable: "qrcode-container",
        type: "html"
      });
    };
    onMounted(() => {
      generateQRCode();
    });

    return {
      qrData,
      qrcodeContainer,
      qrcodeCanvas,
      onPrint,
      downloadCanvasImage
    };
  }
});
</script>

<style scoped>

#qrcode-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@media print {
  #qrcode-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-content: center;
  }
}
</style>
