<script lang="ts">
import { defineComponent, ref } from "vue";
import { type Table, useTableStore } from "@/stores/tables";
import KTIcon from "@/core/helpers/kt-icon/KTIcon.vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import Swal from "sweetalert2";
import { useI18n } from "vue-i18n";


const useTable = useTableStore();
export default defineComponent({
  name: "ListTables",
  components: { Datatable, KTIcon },
  data() {
    return {
      imageUrl: <any>null,
      listTables: <any>[],
      pageLoading: false,
      searchQuery: ref(""),
      table: {
        id: 0,
        code: "",
        name: "",
        min_size: 0,
        max_size: 0,
        num_seat: 0,
        status: ""
      }
    };
  },
  methods: {
    class_status(status: any) {
      if (status == "AV") {
        return "badge-success";
      } else if (status == "OD") {
        return "badge-danger";
      } else if (status == "OC") {
        return "badge-secondary";
      } else if (status == "WB") {
        return "badge-warning";
      }
    },
    statusName(status: any) {
      if (status == "AV") {
        return "Available";
      } else if (status == "OD") {
        return "Ordered";
      } else if (status == "OC") {
        return "Occupied";
      } else if (status == "WB") {
        return "Waiting for Bill";
      }
    },
    async onLoad() {
      await useTable.getTableList();
      this.listTables = useTable.listTable;
    },
    reset() {
      this.table = {
        id: 0,
        code: "",
        name: "",
        min_size: 0,
        max_size: 0,
        num_seat: 0,
        status: ""
      };
    },
    async onUpdate(id: any, min: any, max: any, num: any, status: any, name: any) {
      const value: Table = {
        id: id,
        code: "",
        name: name,
        min_size: min,
        max_size: max,
        num_seat: num,
        status: status
      };
      await useTable.updateTable(value);
      const checkStatus = ref();
      checkStatus.value = useTable.updateTableStatus;
      if (checkStatus.value.length) {
        await Swal.fire({
          text: "Updated Success",
          icon: "success",
          heightAuto: false,
          customClass: {
            confirmButton: "btn fw-semobold btn-light-success"
          }
        });
        await this.onLoad();
        this.reset();
      }
    }
    ,
    async onCreate(id: any, min: any, max: any, num: any, status: any, name: any) {
      this.reset();
      const table: Table = {
        id: 0,
        code: "",
        name: name,
        min_size: min,
        max_size: max,
        num_seat: num,
        status: status
      };
      await useTable.createTable(table);
      const check = ref();
      check.value = useTable.createTableStatus;
      if (check.value.length) {
        await Swal.fire({
          text: "Create Success",
          icon: "success",
          heightAuto: false,
          customClass: {
            confirmButton: "btn fw-semobold btn-light-success"
          }
        });
        await this.onLoad();
      }
    },
    async onDelete(id: any) {
      this.pageLoading = true;
      await useTable.deleteTable(id);
      await this.onLoad();
      await Swal.fire({
        title: "Deleted!",
        text: "Deleted Success!",
        icon: "success"
      });
      this.pageLoading = false;
    },
    async getById(id: any) {
      await useTable.editTable(id);
      this.table = useTable.getTableById;
    }
  },
  async mounted() {
    this.pageLoading = true;
    setTimeout(async () => {
      const useTable = useTableStore();
      await useTable.getTableList();
      this.listTables = useTable.listTable;
      this.pageLoading = false;
    }, 1000);
  },
  computed: {
    filteredItems() {
      return this.listTables.filter((item) =>
        Object.values(item).some((value) =>
          String(value).toLowerCase().includes(this.searchQuery.toLowerCase())
        )
      );
    }
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const btnSubmit = ref<HTMLButtonElement | null>(null);
    const tableHeader = ref([
      {
        columnName: translate("table_name"),
        columnLabel: "name",
        sortEnabled: true,
        columnWidth: 50
      },
      {
        columnName: translate("min_size"),
        columnLabel: "min_size",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("max_size"),
        columnLabel: "max_size",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("number_seat"),
        columnLabel: "num_seat",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("t_status"),
        columnLabel: "status",
        sortEnabled: true,
        columnWidth: 100
      },
      {
        columnName: translate("action"),
        columnLabel: "actions",
        sortEnabled: false,
        columnWidth: 100
      }
    ]);

    const statusTable = [
      {
        value: "AV",
        label: translate("av")
      },
      {
        value: "OD",
        label: translate("od")
      },
      {
        value: "OC",
        label: translate("oc")
      },
      {
        value: "WB",
        label: translate("wb")
      }
    ];
    return {
      tableHeader,
      btnSubmit,
      statusTable,
      translate
    };
  }
});
</script>

<template>

  <div class="card">
    <div class="card-body text-center" v-if="pageLoading">
      <div
        class="w-100 position-relative d-flex justify-content-center"
        style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
              class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Loading...</div>
        </div>
      </div>
    </div>
    <div v-else class="card-body">
      <div class="float-end mb-2">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add_table_modal"
          @click="reset();"
        >
          {{ translate("add_table") }}
        </button>
      </div>
      <div class="d-flex align-items-center position-relative my-1">
        <KTIcon
          icon-name="magnifier"
          icon-class="fs-1 position-absolute ms-6"
        />
        <input
          type="text"
          class="form-control form-control-solid w-250px ps-15"
          v-model="searchQuery"
          placeholder="Search"
        />
      </div>
      <Datatable
        :data="filteredItems"
        :header="tableHeader"
        :enable-items-per-page-dropdown="true"

      >
        <template v-slot:name="{ row: listTables }">
          {{ listTables.name }}
        </template>
        <template v-slot:min_size="{ row: listTables }">
          {{ listTables.min_size }} people
        </template>
        <template v-slot:max_size="{ row: listTables }">
          <a href="#" class="text-gray-600 text-hover-primary mb-1">
            {{ listTables.max_size }} people
          </a>
        </template>
        <template v-slot:num_seat="{ row: listTables }">
          {{ listTables.num_seat }}
        </template>
        <template v-slot:status="{ row: listTables }">
                 <span class="badge" :class="class_status(listTables.status)">
                    {{ statusName(listTables.status) }}
                 </span>
        </template>
        <template v-slot:actions="{ row: listTables }">
          <td class="text-end">
            <router-link :to="'/apps/tables/qr_code/'+listTables.code">
               <span class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                    <i class="bi bi-qr-code-scan fs-3"></i>
               </span>
            </router-link>

            <span
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              data-bs-toggle="modal"
              data-bs-target="#add_table_modal"
              @click="getById(listTables.id)"
            >
                    <KTIcon icon-name="pencil" icon-class="fs-3" />
                  </span>
            <span
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              data-bs-toggle="modal"
              :data-bs-target="`#delete${listTables.id}`"
            >
                    <KTIcon icon-name="trash" icon-class="fs-3" />
                  </span>
            <div
              class="modal fade mt-10"
              tabindex="-1"
              :id="`delete${listTables.id}`"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">
                      Delete Table<span class="text-gray-500">
                                    - {{ listTables.name }}</span
                    >
                    </h3>
                    <!--begin::Close-->
                    <div
                      class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="fa fa-x fs-6" />
                    </div>
                    <!--end::Close-->
                  </div>
                  <div class="modal-body text-start w-100">
                    <h1 class="text-center">Are you sure?</h1>

                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-light"
                      data-bs-dismiss="modal"
                    >
                      {{ translate("dis_card") }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
                      @click="
                                    onDelete(
                                      listTables.id,
                                    )
                                  "
                    >
                      {{ translate("delete") }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>

          <!--end::Menu-->
        </template>
      </Datatable>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="add_table_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Add New Table</h3>

          <!--begin::Close-->
          <div
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="ki-duotone ki-cross fs-1"
            ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Close-->
        </div>

        <div class="modal-body">
          <input hidden v-model="table.id">
          <div class="form-floating mb-7">
            <input
              type="text"
              class="form-control"
              v-model="table.name"
            />
            <label for="floatingInput">{{ translate("table_name") }}</label>
          </div>
          <div class="form-floating mb-7">
            <input
              type="number"
              class="form-control"
              v-model="table.min_size"
            />
            <label for="floatingInput">{{ translate("min_size") }}</label>
          </div>
          <div class="form-floating mb-7">
            <input
              type="number"
              v-model="table.max_size"
              class="form-control"
            />
            <label for="floatingInput">{{ translate("max_size") }}</label>
          </div>
          <div class="form-floating mb-7">
            <input
              type="number"
              v-model="table.num_seat"
              class="form-control"
            />
            <label for="floatingInput">{{ translate("number_seat") }}</label>
          </div>
          <div class="form-floating mb-7">
            <el-select v-model="table.status">
              <el-option value="">{{ translate("select_status") }}</el-option>
              <el-option
                v-for="(item, i) in statusTable"
                :key="`countries-select-option-${i}`"
                :value="item.value"
                :label="item.label"
              >
                {{ item.label }}
              </el-option>
            </el-select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" ref="btn_close" data-bs-dismiss="modal">
            Close
          </button>
          <button v-if="table.id> 0" type="button"
                  data-bs-dismiss="modal"
                  id="btn_update"
                  @click="onUpdate(table.id,table.min_size,table.max_size,table.num_seat,table.status,table.name)"
                  class="btn btn-primary">
            Update
          </button>
          <button v-else type="button"
                  data-bs-dismiss="modal"
                  id="btn_create"
                  @click="onCreate(table.id,table.min_size,table.max_size,table.num_seat,table.status,table.name)"
                  class="btn btn-primary">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped lang="scss"></style>