<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import { type Table, useTableStore } from "@/stores/tables";
import KTIcon from "@/core/helpers/kt-icon/KTIcon.vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import moment from "moment";
import { useReportStore } from "@/stores/report";
import * as XLSX from "xlsx";
import { jsPDF } from "jspdf";
import autoTable from "jspdf-autotable";
import { useI18n } from "vue-i18n";

const useTable = useTableStore();
const useReport = useReportStore();
export default defineComponent({
  name: "ReportDaily",
  components: { Datatable, KTIcon },
  data() {
    return {
      imageUrl: <any>null,
      listReturn: <any>[],
      pageLoading: false,
      dateRange: <any>[],
      fromDate: "",
      toDate: "",
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      amount: 0,
    };
  },
  methods: {
    class_status(status: any) {
      if (status == "COMPLETE") {
        return "badge-success";
      } else if (status == "READY") {
        return "badge-primary";
      } else if (status == "ACCEPT") {
        return "badge-secondary";
      } else if (status == "PENDING") {
        return "badge-warning";
      }
    },
    async allRecord(){
      this.pageLoading = true;
      await useReport.getListReturn("ALL");
      this.listReturn = useReport.listReturn;
      this.amount = this.listReturn.total;
      this.pageLoading = false;
    },
    async onLoading() {
      await useReport.getListReturn("");
      this.listReturn = useReport.listReturn;
      this.amount = this.listReturn.total;
    },
    formatCurrency(amount: any) {
      const convert = parseFloat(amount);
      // Limit to 2 decimal places
      return convert.toFixed(2);
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("MMM Do YYYY, h:mm:ss a");
      }
    },
    countRecords(list: any) {
      return list.length;
    },
    exportToExcel() {
      // Mapping table data into array format
      const data = this.listReturn.map((row, index) => ({
        "#": index + 1,
        Date: row.createAt,
        order_ref: row.order.id,
        Total: row.total,
      }));

      // Adding summary row
      data.push({ "#": "Grand Total", Date: "", order_ref: "",  Total: this.listReturn.reduce((sum, row) => sum + row.total, 0) });

      // Convert JSON to worksheet
      const worksheet = XLSX.utils.json_to_sheet(data);

      // Create a new workbook and append the worksheet
      const workbook = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");

      // Export file
      XLSX.writeFile(workbook, "export.xlsx");
    },
    exportToPDF() {
      const doc = new jsPDF();
      doc.text("List Return", 14, 12);
      const tableColumn = ["#", "Date", "Order", "Table", "Total"];
      const tableRows = this.listReturn.map((row, index) => [
        index + 1,
        row.createAt,
        row.order.id,
        row.tableSeat.name,
        row.total
      ]);

      // Adding Summary Row
      tableRows.push(["", "Grand Total", "", "", this.listReturn.reduce((sum, row) => sum + row.total, 0)]);

      autoTable(doc, {
        head: [tableColumn],
        body: tableRows,
      });
      doc.save("list_return.pdf");
    },
  },
  async mounted() {
    this.pageLoading = true;
    await this.onLoading();
    this.pageLoading = false;
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const tableHeader = ref([
      {
        columnName: translate('id'),
        columnLabel: "id",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('order'),
        columnLabel: "order",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('return_date'),
        columnLabel: "return_date",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('item'),
        columnLabel: "items",
        sortEnabled: true,
        columnWidth: 120,
      },
      {
        columnName: translate('total'),
        columnLabel: "total",
        sortEnabled: true,
        columnWidth: 100,
      }
    ]);
    return {
      tableHeader,
      translate
    };
  },
});
</script>

<template>
  <div class="card mt-4">
    <div class="card-body text-center" v-if="pageLoading">
      <div
        class="w-100 position-relative d-flex justify-content-center"
        style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
              class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Loading...</div>
        </div>
      </div>
    </div>
    <div v-else class="card-body">
      <div class="row mb-2">
        <div class="col-lg-3">
          <div class="d-flex justify-content-start">
            <div
                class="text-inverse-secondary bg-secondary p-4 rounded-2 text-start fs-3"
            >
              Return: <b>{{countRecords(listReturn) }}</b>
            </div>
            <button class="btn btn-primary mx-4" @click="allRecord()">All Record</button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="float-end">
            <div class="btn-group" role="group">
              <button
                  type="button"
                  class="btn btn-primary"
                  @click="exportToExcel()"
              >
                {{translate('export_excel')}}
              </button>
              <button
                  type="button"
                  class="btn btn-success"
                  @click="exportToPDF()"
              >
                {{translate('export_pdf')}}
              </button>
            </div>
          </div>
      </div>
      </div>
      <Datatable
        :data="listReturn"
        :header="tableHeader"
      >
        <template v-slot:id="{ row: data }">
          {{ data.id }}
        </template>
        <template v-slot:order="{ row: data }">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column">
            <span>{{translate('order_id')}}: {{data.order.id}}</span>
            <span>{{translate('table')}}: {{data.tableSeat.name}}</span>
            <span>{{translate('customer')}}: {{data.customer.name}}</span>
            <span>{{translate('order_date')}}: {{format_date(data.order.order_date)}}</span>
          </div>
        </div>
        </template>
        <template v-slot:return_date="{ row: data }">
          {{ format_date(data.return_date) }}
        </template>
        <template v-slot:items="{ row: data }">
          <div class="d-flex justify-content-start">
            <span class="fs-4 ">
              {{ countRecords(data.returnItems) }} items
            </span>
          </div>
        </template>
        <template v-slot:total="{ row: data }">
          {{ formatCurrency(data.total) }}
        </template>
<!--        <template v-slot:actions="{ row: data }">-->
<!--          <td class="d-flex justify-content-around">-->
<!--&lt;!&ndash;            <span&ndash;&gt;-->
<!--&lt;!&ndash;              class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;              <KTIcon icon-name="eye" icon-class="fs-3" />&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--          </td>-->
<!--        </template>-->
      </Datatable>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
