<script lang="ts">
import { computed, defineComponent, nextTick, onBeforeMount, onMounted, ref, watch } from "vue";
import { type Table, useTableStore } from "@/stores/tables";
import KTIcon from "@/core/helpers/kt-icon/KTIcon.vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import moment from "moment";
import { useReportStore } from "@/stores/report";
import * as XLSX from "xlsx";
import { jsPDF } from "jspdf";
import autoTable from "jspdf-autotable";
import {useI18n} from "vue-i18n";
import Dropdown3 from "@/components/dropdown/Dropdown3.vue";
import { useRoute } from "vue-router";
import LayoutService from "@/core/services/LayoutService";
import { reinitializeComponents } from "@/core/plugins/keenthemes";

const useTable = useTableStore();
const useReport = useReportStore();
export default defineComponent({
  name: "ReportSale",
  components: { Dropdown3, Datatable, KTIcon },
  data() {
    return {
      imageUrl: <any>null,
      listReports: <any>[],
      pageLoading: false,
      dateRange: <any>[],
      fromDate: "",
      toDate: "",
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      amount: 0,
      count: 0
    };
  },
  methods: {
    class_status(status: any) {
      if (status == "COMPLETE") {
        return "badge-success";
      } else if (status == "READY") {
        return "badge-primary";
      } else if (status == "ACCEPT") {
        return "badge-secondary";
      } else if (status == "PENDING") {
        return "badge-warning";
      }
    },
    async onLoading() {
      await useReport.getListReport();
      this.listReports = useReport.listReport;
      this.amount = useReport.amount;
      this.count = useReport.count;
    },
    async getAllReport(){
      this.pageLoading = true;
      await useReport.getListReport();
      this.listReports = useReport.listReport;
      this.amount = useReport.amount;
      this.count = useReport.count;
      this.pageLoading = false;
    },
    formatCurrency(amount: any) {
      const convert = parseFloat(amount);
      // Limit to 2 decimal places
      return convert.toFixed(2);
    },
    async onSearchDate() {
      this.pageLoading = true;
      const fDate = this.fromDate;
      const tDate = this.toDate;
      if (this.dateRange == null) {
        await this.onLoading();
      } else {
        await useReport.getListReportByDate(fDate, tDate);
        this.listReports = useReport.listReport;
      }
      this.pageLoading = false;
    },
    handleChangeDateRange() {
      const dateRange = this.dateRange;
      const arrRange = <any>[];
      if (dateRange) {
        dateRange.forEach((item) => {
          const arr = this.convertTZ(item);
          arrRange.push(arr);
        });
      }
      this.fromDate = moment(arrRange[0]).format("YYYY-MM-DD");
      this.toDate = moment(arrRange[1]).format("YYYY-MM-DD");
    },
    convertTZ(date) {
      const dateTime = new Date(
        (typeof date === "string" ? new Date(date) : date).toLocaleString(
          "en-US",
          { timeZone: "Asia/Bangkok" }
        )
      );
      return moment(dateTime).format("YYYY-MM-DD");
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("MMM Do YYYY, h:mm:ss a");
      }
    },
    countRecords(list: any) {
      return list.length;
    },
    exportToExcel() {
      const worksheet = XLSX.utils.json_to_sheet(this.listReports.data);
      // Step 2: Create a workbook and append the worksheet
      const workbook = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(workbook, worksheet, "List Report");

      // Step 3: Export the workbook to an Excel file
      XLSX.writeFile(workbook, "ListReport.xlsx");
    },
    exportToPDF() {
      const pdf = new jsPDF();

      // Add a title
      pdf.text("List Report", 14, 12);

      // Use autoTable to add data in table format
      autoTable(pdf, {
        head: [
          [
            "Order Date",
            "Table",
            "Customer",
            "Payment Method",
            "Payment Status",
            "Total",
          ],
        ],
        body: this.listReports.data.map((row) => [
          row.createAt,
          row.tableSeat.name,
          row.customer.name,
          row.payment_method,
          row.payment,
          row.total,
        ]),
        startY: 20, // Start position for table
        theme: "striped", // Table theme
      });

      // Save the PDF
      pdf.save("list_report.pdf");
    },
  },
  async mounted() {
    this.pageLoading = true;
    await this.onLoading();
    this.pageLoading = false;
  },
  setup() {
    const route = useRoute();
    onBeforeMount(() => {
      LayoutService.init();
    });
    onMounted(() => {
      nextTick(() => {
        reinitializeComponents();
      });
    });
    watch(
      () => route.path,
      () => {
        nextTick(() => {
          reinitializeComponents();
        });
      });
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const tableHeader = ref([
      {
        columnName: translate('order_id'),
        columnLabel: "id",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('table_name'),
        columnLabel: "table_seat",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('customer'),
        columnLabel: "customer",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName:  translate('order_date'),
        columnLabel: "order_date",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('item'),
        columnLabel: "items",
        sortEnabled: true,
        columnWidth: 120,
      },
      {
        columnName: translate('pay_order'),
        columnLabel: "payment_method",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('pay_status'),
        columnLabel: "payment",
        sortEnabled: true,
        columnWidth: 50,
      },

      {
        columnName: translate('t_status'),
        columnLabel: "status",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate('total'),
        columnLabel: "total",
        sortEnabled: true,
        columnWidth: 100,
      }
    ]);
    return {
      tableHeader,
      translate,
    };
  },
});
</script>

<template>
  <div class="card mt-4">
    <div class="card-body text-center" v-if="pageLoading">
      <div
        class="w-100 position-relative d-flex justify-content-center"
        style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
              class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Loading...</div>
        </div>
      </div>
    </div>
    <div v-else class="card-body">
      <div class="row mb-2">
        <div class="col-lg-6">
          <button class="btn btn-primary"
          @click="getAllReport()"
          >{{translate('all_report')}}</button>
          <div class=" fs-6 fw-semobold text-gray-600 mt-2 mb-2">
            Get all order report will be take some time!
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="text-inverse-secondary bg-secondary p-4 rounded-2 text-start fs-3"
          >
            Order: <b>{{ count }}</b>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="text-inverse-secondary bg-secondary p-4 rounded-2 text-start fs-3"
          >
            Total Order:
            <b>{{ formatCurrency(amount) }}</b>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="d-flex align-items-center">
            <el-date-picker
              type="daterange"
              class="m-0"
              v-model="dateRange"
              placeholder="Select date range"
              popper-class="override-styles"
              name="dueDate"
              :teleported="false"
              @change="handleChangeDateRange"
            />
            <button class="btn btn-sm btn-success ms-3" @click="onSearchDate()">
              <i class="bi bi-search fs-4"></i>
            </button>
          </div>
          <div class=" fs-6 fw-semobold text-gray-600 mt-2 mb-2">
            Get all order start date to end date!
          </div>
        </div>
        <div class="col-lg-4">
          <!--                    <div class="d-flex align-items-center position-relative my-1">-->
          <!--                      <KTIcon-->
          <!--                        icon-name="magnifier"-->
          <!--                        icon-class="fs-1 position-absolute ms-6"-->
          <!--                      />-->
          <!--                      <input-->
          <!--                        type="text"-->
          <!--                        class="form-control form-control-solid w-250px ps-15"-->
          <!--                        placeholder="Search"-->
          <!--                      />-->
          <!--                    </div>-->
        </div>
        <div class="col-lg-4">
          <div class="float-end">
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-primary"
                @click="exportToExcel()"
              >
                {{translate('export_excel')}}
              </button>
              <button
                type="button"
                class="btn btn-success"
                @click="exportToPDF()"
              >
                 {{translate('export_pdf')}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <Datatable
        :data="listReports.data"
        :header="tableHeader"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:id="{ row: listReport }">
          {{ listReport.id }}
        </template>
        <template v-slot:table_seat="{ row: listReport }">
          Table[{{ listReport.tableSeat.name }}]
        </template>
        <template v-slot:customer="{ row: listReport }">
          {{ listReport.customer.name }}
        </template>
        <template v-slot:order_date="{ row: listReport }">
          {{ format_date(listReport.order_date) }}
        </template>
        <template v-slot:items="{ row: listReport }">
          <div class="d-flex justify-content-around">
            <span class="fs-4">
              {{ countRecords(listReport.orderItems) }} items
            </span>
            <!--            <div class="symbol-group symbol-hover">-->
            <!--              <div-->
            <!--                class="symbol symbol-circle symbol-50px"-->
            <!--                v-for="item in listReport.orderItems"-->
            <!--              >-->
            <!--                <div class="symbol symbol-50px"></div>-->
            <!--                <img :src="url + item.products.image" alt="" />-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </template>
        <template v-slot:payment="{ row: listReport }">
          {{ listReport.payment }}
        </template>
        <template v-slot:payment_method="{ row: listReport }">
          {{ listReport.payment_method }}
        </template>
        <template v-slot:status="{ row: listReport }">
          <span class="badge" :class="class_status(listReport.status)">
            {{ listReport.status }}
          </span>
        </template>
        <template v-slot:total="{ row: listReport }">
          {{ formatCurrency(listReport.total) }}
        </template>
<!--        <template v-slot:actions="{ row: data }">-->
<!--          <td class="d-flex justify-content-around">-->
<!--&lt;!&ndash;            <span&ndash;&gt;-->
<!--&lt;!&ndash;              class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;              <KTIcon icon-name="eye" icon-class="fs-3" />&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--          </td>-->
<!--        </template>-->
      </Datatable>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
