<template>
  <div v-if="loadingPage"
      class="w-100 position-relative d-flex justify-content-center"
      style="height: 100vh"
  >
    <div class="position-absolute bottom-50">
      <div data-kt-indicator="on">
                <span
                    class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                ></span>
      </div>
      <div class="d-flex mt-5">Loading...</div>
    </div>
  </div>
  <div v-else class="row g-5 g-xl-8">
    <div class="col-xl-4">
      <StatisticsWidget5
        widget-classes="card-xl-stretch mb-xl-8"
        svg-icon="media/icons/duotune/ecommerce/ecm002.svg"
        color="danger"
        icon-color="white"
        :title="dynamicTitle.order"
        :count="dynamicCount.count_daily"
        description="Total order daily"
      />
    </div>

    <div class="col-xl-4">
      <StatisticsWidget5
        widget-classes="card-xl-stretch mb-xl-8"
        svg-icon="media/icons/duotune/ecommerce/ecm008.svg"
        color="primary"
        icon-color="white"
        :title="dynamicTitle.order_month"
        :count="dynamicCount.count_monthly"
        description="Total order monthly"
      />
    </div>

    <div class="col-xl-4">
      <StatisticsWidget5
        widget-classes="card-xl-stretch mb-5 mb-xl-8"
        svg-icon="media/icons/duotune/graphs/gra005.svg"
        color="success"
        icon-color="white"
        :title="dynamicTitle.sale"
        :count="dynamicCount.sale_total"
        description="Total sale monthly"
      />
    </div>
  </div>

  <div v-if="!loadingPage" class="g-5 gx-xxl-8">
    <div  class="card">
      <!--begin::Header-->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bold fs-3 mb-1">Popular Products Sales</span>

          <span class="text-muted mt-1 fw-semobold fs-7"
          >List top sale products</span
          >
        </h3>
      </div>
      <!--end::Header-->

      <!--begin::Body-->
      <div class="card-body pt-3">
        <!--begin::Table container-->
        <div class="table-responsive">
            <div class="table-responsive ">
              <table class="table table-row-bordered gy-7">
                <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                  <th>Image</th>
                  <th>Name</th>
                  <th>Name Khmer</th>
                  <th>Prices</th>
                  <th>Quantity Status</th>
                </tr>
                </thead>
                <tbody v-for="item in products">
                <tr class="fs-6 text-gray-800">
                  <td>
                    <img
                        style="width: 60px; height: 60px"
                        class="rounded"
                        :src="url + item.image"
                        alt="image"
                    />
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.name_kh}}</td>
                  <td>$ {{item.price}}</td>
                  <td>{{item.qtyStatus}}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
        <!--end::Table container-->
      </div>
      <!--begin::Body-->
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref} from "vue";
import StatisticsWidget5 from "@/components/widgets/statsistics/Widget5.vue";
import TablesWidget10 from "@/components/widgets/tables/Widget10.vue";
import {type Dashboard, useOrderStore} from "@/stores/order";
import {getAssetPath} from "@/core/helpers/assets";
import type {Product} from "@/stores/products";
export default defineComponent({
  name: "dashboard-main",
  components: {
    StatisticsWidget5,
    // MixedWidget3,
    // MixedWidget4,
    // MixedWidget5,
    // ListsWidget7,
    // TablesWidget9,
    // ListsWidget4,
    // ListsWidget5,
    // ListsWidget3,
    TablesWidget10,
  },
  data(){
    return{
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
    }
  },
  setup() {
    const  dynamicTitle = {
      order: "Order Total",
      order_month: "Order Total",
      sale: "Order Sale",
    };
    const dynamicCount = {
          count_daily: "",
          count_monthly: "",
          sale_total: "",
        };
    const useServiceOrder = useOrderStore();
    const data = ref(<Dashboard>{});
    const products = ref(<Product>{});
    const loadingPage = ref(false);
    const loading = async ()=>{
      loadingPage.value = true;
      await useServiceOrder.dashboard();
      data.value = useServiceOrder.index;
      dynamicCount.count_daily = data.value.count_daily.toString() ?? "0";
      dynamicCount.count_monthly = data.value.count_monthly.toString() ?? "0";
      dynamicCount.sale_total = "$ "+data.value.sale_total.toFixed(2) ?? 0;
      products.value = data.value.products;
      loadingPage.value = false;
    };

    onMounted(() => {
      loading();
    });
    return {
      getAssetPath,dynamicTitle,dynamicCount,products,loadingPage
    };
  },
});
</script>