<script lang="ts">
import { computed, defineComponent, onMounted, ref } from "vue";
import { useOpenApiStore } from "@/stores/open_api";
import { useTableStore } from "@/stores/tables";
import { useRoute, useRouter } from "vue-router";
import { useOrderStore } from "@/stores/order";
import Swal from "sweetalert2";

const useOpen = useOpenApiStore();
const useOrder = useOrderStore();
import { getAssetPath } from "@/core/helpers/assets";
import moment from "moment/moment";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "confirm_order",
  data() {
    return {
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      pageLoading: false,
      listMenu: <any[]>[],
      total: 0,
      order_id: useRoute().params.id,
      getNewOrder: <any>null,
      items: <any>null,
      qty: 1,
      note: "",
      cartLoading: false,
      activePage: 0,
      categories: <any[]>[],
      routers: useRouter(),
      dataPrint: <any>[],
      loading: false,
      status: "",
      type: "",
      description: "",
      cate_id: 0,
      searchQuery: ""
    };
  },
  async mounted() {
    await this.onLoading();
  },
  computed: {
    filteredItems() {
      return this.listMenu.filter((item) =>
        Object.values(item).some((value) =>
          String(value).toLowerCase().includes(this.searchQuery.toLowerCase())
        )
      );
    },
    sub_total() {
      if (this.items != null) {
        let total = 0;
        this.items.forEach((item, i) => {
          total += item.price * item.cut_quantity;
        });
        return total;
      }
    },
  },
  methods: {
    async onLoading() {
      this.pageLoading = true;
      await this.onLoadCart();
      await useOpen.getMenu(0, this.activePage);
      await useOpen.getListCategory();
      this.categories = useOpen.listCategory;
      this.listMenu = useOpen.list_menu;
      this.pageLoading = false;
    },
    async viewById(id: any) {
      this.loading = true;
      await useOrder.getOrderById(id);
      this.dataPrint = useOrder.ViewOrderById;
      this.loading = false;
    },
    async onLoadCart() {
      this.cartLoading = true;
      await useOrder.getOrderById(this.order_id);
      this.getNewOrder = useOrder.ViewOrderById;
      this.status = this.getNewOrder.status;
      this.items = this.getNewOrder.orderItems;
      this.cartLoading = false;
    },
    onReset() {
      this.note = "";
      this.qty = 1;
      this.type = "";
      this.description = "";
    },
    async getPayment(des: any) {
      this.cartLoading = true;
      await useOrder.getPayment(this.order_id, this.type, des);
      const statusPayment = ref("");
      statusPayment.value = await useOrder.paymentStatus;
      if (statusPayment.value) {
        await Swal.fire({
          position: "center",
          icon: "success",
          title: `Paid Success!`,
          showConfirmButton: false,
          timer: 1000
        });
        this.onReset();
        this.cartLoading = false;
        await this.routers.push({ name: "order-pos" });
      }
    },
    async addItem(product_id: any, qty: any, note: any) {
      const order_id = this.order_id;
      this.cartLoading = true;
      await useOrder.addItem(order_id, product_id, qty, note);
      await Swal.fire({
        position: "center",
        icon: "success",
        title: `Add item success!`,
        showConfirmButton: false,
        timer: 1000
      });
      await this.onLoadCart();
      this.cartLoading = false;
    },
    async deleteItem(item_id) {
      this.cartLoading = true;
      await useOrder.deleteItem(item_id);
      await Swal.fire({
        position: "center",
        icon: "success",
        title: `Delete success!`,
        showConfirmButton: false,
        timer: 1000
      });
      await this.onLoadCart();
      this.cartLoading = false;
    },
    seleteOption(value: any) {
      this.type = value;
    },
    incrementQty() {
      this.qty++;
    },
    decrementQty() {
      this.qty--;
    },
    resetValue() {
      this.qty = 1;
    },
    async deleteOrder(order_id: any) {
      this.cartLoading = true;
      await useOrder.onDeleteOrder(order_id);
      this.cartLoading = false;
      this.onReset();
      this.getNewOrder = null;
    },
    async nextPage() {
      if (this.listMenu.length == 0) {
        return;
      }
      this.pageLoading = true;
      await useOpen.getMenu(this.cate_id, ++this.activePage);
      setTimeout(() => {
        this.listMenu = useOpen.list_menu;
        this.pageLoading = false;
      }, 50);
    },
    async previousPage() {
      if (this.activePage < 1) {
        return;
      }
      this.pageLoading = true;
      await useOpen.getMenu(this.cate_id, --this.activePage);
      setTimeout(() => {
        this.listMenu = useOpen.list_menu;
        this.pageLoading = false;
      }, 50);
    },
    formatCurrency(amount: any) {
      const convert = parseFloat(amount);
      // Limit to 2 decimal places
      return convert.toFixed(2);
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("DD-MM-YYYY, h:mm:ss a");
      }
    },
    async incrementCartQty(id: any, product_id: any, oldQty: any) {
      const i = oldQty + 1;
      this.cartLoading = true;
      await useOrder.updateItem(id, product_id, 1);
      await this.onLoadCart();
      this.cartLoading = false;
    },
    async decrementCartQty(id: any, product_id: any, oldQty: any) {
      const i = oldQty - 1;
      this.cartLoading = true;
      await useOrder.updateItem(id, product_id, 1);
      await this.onLoadCart();
      this.cartLoading = false;
    },
    async filter(id: any) {
      this.cate_id = id;
      this.pageLoading = true;
      this.activePage = 0;
      await useOpen.getMenu(id, this.activePage);
      this.listMenu = useOpen.list_menu;
      this.pageLoading = false;
    },
    async sentToKitchen(table: any) {
      const order = this.order_id;
      this.cartLoading = true;
      await useOrder.setNotification(order, table);
      await useOrder.sentToKitchen(order);
      this.cartLoading = false;
      await Swal.fire({
        position: "center",
        icon: "success",
        title: `Send To Kitchen Success!`,
        showConfirmButton: false,
        timer: 1000
      });
      await this.routers.push({ name: "order-pos" });
    }
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };

    const option = [
      {
        value: "CASE",
        label: "CASE",
        icon: "ki-dollar"
      },
      {
        value: "QR",
        label: "QR",
        icon: "bi-qr-code-scan"
      }
    ];
    const printReceipt = () => {
      const printContents = document.getElementById("receipt")?.innerHTML;

      if (printContents) {
        // Open a new blank window
        const printWindow = window.open("", "_blank");

        if (printWindow) {
          printWindow.document.write(`
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <title>Receipt</title>
          <style>
          #receipt {
  margin: auto;
  padding: 10px;
  background: #fff;
   font-family: Arial, sans-serif;
   font-size: 10px;
}
.receipt {
  width: 300px; /* Set a specific width for the receipt */
  border: 1px dashed #ccc; /* Add a dashed border */
  padding: 20px;
   font-size: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: smaller;
}

.details {
  margin-bottom: 10px;
}

.items {
  border-top: 1px dashed #ccc;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: smaller;
}

.total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: smaller;
}

@media print {
  #receipt {
    margin: auto;
    padding: 5px;
    background: #fff;
    color: black;
  }
  .receipt {
    width: auto; /* Allow receipt to fill the printed page */
    border: none; /* Remove border when printing */
  }
}
</style>
        </head>
        <body>
          ${printContents}
        </body>
        </html>
      `);

          printWindow.document.close(); // Necessary for IE >= 11
          printWindow.focus(); // Necessary for IE >= 11
          printWindow.print();
          printWindow.close(); // Close the window after printing
        } else {
          console.error("Failed to open a new window for printing.");
        }
      } else {
        console.error("Receipt element not found!");
      }
    };
    const user_lang = localStorage.getItem("lang")
      ? (localStorage.getItem("lang") as string)
      : "en";
    return { user_lang, getAssetPath, printReceipt, option, translate };
  }
});
</script>

<template>
  <div class="modal fade" tabindex="-1" id="kt_modal_payment">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Confirm Payment</h2>
          <!--begin::Close-->
          <div
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="ki-duotone ki-cross fs-2x"
            ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Close-->
        </div>
        <div class="modal-body">
          <h4 class="text-center mb-4">Payment Method</h4>
          <div
            v-for="i in option"
            class="d-flex flex-equal gap-5 gap-xxl-9 px-0 mb-12"
            data-kt-buttons="true"
            data-kt-buttons-target="[data-kt-button]"
            data-kt-initialized="1"
          >
            <!--begin::Radio-->
            <label
              :class="{ active: i.value == type }"
              @click="seleteOption(i.value)"
              class="btn bg-light btn-color-gray-600 btn-active-text-gray-800 border border-3 border-gray-100 border-active-primary btn-active-light-primary w-100 px-4"
              data-kt-button="true"
            >
              <!--begin::Input-->
              <input
                class="btn-check"
                type="radio"
                name="method"
                value="0"
                wfd-id="id21"
              />
              <!--end::Input-->

              <!--begin::Icon-->
              <i class="ki-duotone fs-2hx mb-2 pe-0" :class="i.icon"
              ><span class="path1"></span><span class="path2"></span
              ><span class="path3"></span
              ></i>
              <!--end::Icon-->

              <!--begin::Title-->
              <span class="fs-7 fw-bold d-block">{{ i.label }}</span>
              <!--end::Title-->
            </label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              v-model="description"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Description</label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-success"
            data-bs-dismiss="modal"
            @click="getPayment(description)"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="content d-flex flex-column flex-column-fluid mt-4"
    id="kt_content"
  >
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
      <div class="d-flex">
        <div class="justify-content-between">
          <router-link to="/pos/order">
            <a href="#" class="btn btn-success m-4">{{ translate("new_order") }}</a>
          </router-link>
          <router-link to="/pos/order/list">
            <a href="#" class="btn btn-primary m-4">{{ translate("order") }}</a>
          </router-link>
          <router-link to="/pos/hold">
            <a href="#" class="btn btn-primary m-4">{{ translate("hold") }}</a>
          </router-link>
          <router-link to="/pos/order/tables">
            <a href="#" class="btn btn-primary m-4">{{ translate("table") }}</a>
          </router-link>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="row">
            <div class="card-body text-center" v-if="pageLoading">
              <div
                class="w-100 position-relative d-flex justify-content-center"
                style="height: 100vh"
              >
                <div class="position-absolute bottom-50">
                  <div data-kt-indicator="on">
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                    ></span>
                  </div>
                  <div class="d-flex mt-5">Loading...</div>
                </div>
              </div>
            </div>
            <div v-else>
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex align-items-center position-relative">
                    <KTIcon
                      icon-name="magnifier"
                      icon-class="fs-1 position-absolute ms-6"
                    />
                    <input
                      type="text"
                      class="form-control form-control-solid w-250px ps-15"
                      v-model="searchQuery"
                      placeholder="Search..."
                    />
                  </div>
                </div>
                <div class="col-lg-6"></div>
                <div class="d-flex justify-content-start" id="category">
                  <div
                    class="symbol btn-sm active symbol-100px symbol-2by3 cursor-pointer"
                    @click="onLoading()"
                  >
                    <div
                      class="btn btn-sm flex-column fs-2 fw-semibold text-success m-2"
                      style="background-color: rgba(134, 109, 66, 0.24)"
                    >
                      <span
                        v-if="user_lang == 'en'"
                        class="text-gray-800 fw-bold fs-3 d-block"
                      >
                        All
                      </span>
                      <span v-else class="text-gray-800 fw-bold fs-3 d-block"
                      >ទំនិញទាំងអស់</span
                      >
                    </div>
                  </div>
                  <div
                    class="symbol btn-sm symbol-100px symbol-2by3 cursor-pointer"
                    v-for="item in categories"
                    @click="filter(item.id)"
                  >
                    <div
                      class="btn btn-sm flex-column fs-2 fw-semibold text-success m-2"
                      style="background-color: rgba(134, 109, 66, 0.24)"
                    >
                      <span
                        v-if="user_lang == 'en'"
                        class="text-gray-800 fw-bold fs-3 d-block"
                      >{{ item.name }}</span
                      >
                      <span v-else class="text-gray-800 fw-bold fs-3 d-block">{{
                          item.name_kh
                        }}</span>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-sm-12"
                  v-for="product in filteredItems"
                >
                  <div class="card card-flush m-2">
                    <div
                      class="ribbon ribbon-triangle ribbon-top-end border-success"
                    >
                      <!--begin::Ribbon icon-->
                      <div class="ribbon-icon mt-n5 me-n6">
                        <i class="bi bi-plus fs-2 text-white"></i>
                      </div>
                      <!--end::Ribbon icon-->
                    </div>
                    <!--begin::Body-->
                    <div
                      class="card-body text-center"
                      data-bs-toggle="modal"
                      :data-bs-target="`#add_cart${product.id}`"
                      @click="onReset()"
                    >
                      <img
                        v-if="product.image"
                        :src="url + product.image"
                        class="rounded-4 mb-4 w-xxl-200px h-xxl-200px"
                        style="width: 150px; object-fit: cover"
                        alt="product"
                      />
                      <img
                        v-else
                        :src="getAssetPath('media/no_image.jpg')"
                        class="rounded-4 mb-4 w-xxl-200px h-xxl-200px"
                        style="width: 200px; object-fit: cover"
                        alt="product"
                      />
                      <!--end::Food img-->

                      <!--begin::Info-->
                      <div class="mb-2">
                        <!--begin::Title-->
                        <div class="text-center">
                          <span
                            v-if="user_lang == 'en'"
                            class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1"
                          >{{ product.name }}
                          </span>
                          <span
                            v-else
                            class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1"
                          >{{ product.name_kh }}
                          </span>
                        </div>
                        <!--end::Title-->
                      </div>
                      <!--end::Info-->

                      <!--begin::Total-->
                      <span class="text-success text-end fw-bold fs-1"
                      >{{ product.price }}$</span
                      >
                      <!--end::Total-->
                    </div>
                    <div
                      class="modal fade"
                      tabindex="-1"
                      :id="`add_cart${product.id}`"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title">Add Item</h3>
                            <!--begin::Close-->
                            <div
                              class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            >
                              <i class="fa fa-x fs-6" />
                            </div>
                            <!--end::Close-->
                          </div>
                          <div
                            class="modal-body text-start"
                            style="min-height: 300px"
                          >
                            <div class="row align-items-center">
                              <div class="col-12 text-center">
                                <img
                                  :src="url + product.image"
                                  class="rounded-4 mb-4"
                                  style="object-fit: cover; width: 335px"
                                  alt=""
                                />
                              </div>
                              <div class="col-lg-8">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <span
                                      v-if="user_lang == 'en'"
                                      class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1"
                                    >{{ product.name }}
                                    </span>
                                    <span
                                      v-else
                                      class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1"
                                    >{{ product.name_kh }}
                                    </span>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <span class="text-gray-800 fs-5">{{
                                        product.description
                                      }}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="col-lg-12 col-sm-12">
                                    <div class="form-floating mt-4">
                                      <textarea
                                        v-model="note"
                                        class="form-control"
                                        style="min-height: 100px"
                                        placeholder="Leave a comment here"
                                      >
                                      </textarea>
                                      <label for="floatingTextarea2"
                                      >Note</label
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 position-relative mt-4">
                                  <span class="fs-3">Total: </span
                                  ><span style="color: red" class="fs-3">
                                    {{
                                    formatCurrency(product.price * qty)
                                  }} </span
                                ><span class="fs-3"> $</span>
                                </div>
                                <div class="col-lg-6">
                                  <div
                                    class="position-relative d-flex align-items-center float-end"
                                    data-kt-dialer="true"
                                    data-kt-dialer-min="1"
                                    data-kt-dialer-max="10"
                                    data-kt-dialer-step="1"
                                    data-kt-dialer-decimals="0"
                                  >
                                    <!--begin::Decrease control-->
                                    <button
                                      v-if="qty > 1"
                                      type="button"
                                      class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                      data-kt-dialer-control="decrease"
                                      @click="decrementQty()"
                                    >
                                      <i class="fa fa-minus"></i>
                                    </button>
                                    <button
                                      v-else
                                      type="button"
                                      class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                      data-kt-dialer-control="decrease"
                                    >
                                      <i class="fa fa-minus"></i>
                                    </button>
                                    <!--end::Decrease control-->

                                    <!--begin::Input control-->
                                    <input
                                      type="text"
                                      class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px"
                                      data-kt-dialer-control="input"
                                      placeholder="Amount"
                                      name="manageBudget"
                                      readonly
                                      v-model="qty"
                                    />
                                    <!--end::Input control-->

                                    <!--begin::Increase control-->
                                    <button
                                      v-if="qty < 10"
                                      type="button"
                                      class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                      data-kt-dialer-control="increase"
                                      @click="incrementQty()"
                                    >
                                      <i class="fa fa-plus"></i>
                                    </button>
                                    <button
                                      v-else
                                      type="button"
                                      class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                      data-kt-dialer-control="increase"
                                    >
                                      <i class="fa fa-plus"></i>
                                    </button>
                                    <!--end::Increase control-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-light"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button
                              data-bs-dismiss="modal"
                              type="button"
                              class="btn btn-success"
                              @click="addItem(product.id, qty, note)"
                            >
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--end::Body-->
                  </div>
                </div>
                <ul v-if="!pageLoading" class="pagination pt-20 pb-10">
                  <li class="page-item previous cursor-pointer">
                    <a
                      class="btn btn-sm btn-secondary w-120px"
                      :class="{ disabled: activePage == 0 }"
                      @click="previousPage"
                    ><i class="bi bi-arrow-left" /> Previous</a
                    >
                  </li>
                  <li class="page-item">
                    <div
                      class="text-primary border p-2 px-4 border rounded fw-bold cursor-pointer bg-hover-light-primary"
                    >
                      {{ activePage }}
                    </div>
                  </li>
                  <li class="page-item next cursor-pointer">
                    <a
                      class="btn btn-sm btn-secondary w-120px"
                      :class="{ disabled: listMenu.length === 0 }"
                      @click="nextPage"
                    >Next <i class="bi bi-arrow-right"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card bg-body" id="kt_pos_form">
            <!--begin::Header-->
            <div class="card-header pt-5">
              <h3 class="card-title fw-bold text-gray-800 fs-1qx">
                {{translate('walk_customer')}}
              </h3>
              <div></div>
              <!--begin::Toolbar-->
              <div class="card-toolbar">
                <h3 class="card-title fw-bold text-gray-800 fs-1qx">
                 {{translate('place_order')}}
                </h3>
              </div>
              <!--end::Toolbar-->
            </div>

            <!--end::Header-->

            <!--begin::Body-->
            <div class="card-body card-scroll pt-0">
              <div
                v-if="getNewOrder"
                class="d-flex justify-content-around mt-4 bg-secondary rounded-2 p-2"
              >
                <span class="badge badge-square badge-success p-2">
                  <i class="bi bi-table fs-4 m-2" style="color: white"></i>
                  <span> {{ getNewOrder.tableSeat.name }}</span>
                </span>
                <span class="badge badge-square badge-danger p-2">
                  <i class="bi bi-person fs-4 m-2" style="color: white"></i>
                  <span> {{ getNewOrder.tableSeat.num_seat }}</span>
                </span>
                <hr class="mt-2" />
              </div>
              <!--begin::Table container-->
              <div class="table-responsive tableFixHead mb-8">
                <!--begin::Table-->
                <table class="table align-middle gs-0 gy-4 my-0">
                  <thead>
                  <tr>
                    <th class="fw-bold">{{translate('name')}}</th>
                    <th class="fw-bold">{{translate('qty')}}</th>
                    <th class="fw-bold">{{translate('price')}}</th>
                  </tr>
                  </thead>
                  <tbody v-if="cartLoading">
                  <tr>
                    <td></td>
                    <td colspan="text-end">
                      <div
                        class="position-absolute"
                        style="margin-top: 50px; margin-left: 10px"
                      >
                        <div class="position-absolute">
                          <div data-kt-indicator="on">
                              <span
                                class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                              ></span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  </tbody>
                  <tbody
                    v-else
                    v-for="(row, itemIndex) in items"
                    :key="itemIndex"
                  >
                  <tr data-kt-pos-element="item" data-kt-pos-item-price="33">
                    <td class="pe-0">
                      <div class="d-flex align-items-center">
                          <span
                            v-if="user_lang == 'en'"
                            class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-6 me-1"
                          >{{ itemIndex + 1 }}.
                            {{ row.products.name }}
                          </span>
                        <span
                          v-else
                          class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-6 me-1"
                        >{{ itemIndex + 1 }}.
                            {{ row.products.name_kh }}
                          </span>
                      </div>
                    </td>

                    <td class="pe-0">
                      <!--begin::Dialer-->
                      <div
                        class="position-relative d-flex align-items-center"
                        data-kt-dialer="true"
                        data-kt-dialer-min="1"
                        data-kt-dialer-max="10"
                        data-kt-dialer-step="1"
                        data-kt-dialer-decimals="0"
                      >
                        <!--begin::Decrease control-->
                        <button
                          type="button"
                          class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                          data-kt-dialer-control="decrease"
                          @click="
                              decrementCartQty(
                                row.id,
                                row.products.id,
                                row.cut_quantity
                              )
                            "
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                        <!--end::Decrease control-->

                        <!--begin::Input control-->
                        <input
                          type="text"
                          class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px"
                          data-kt-dialer-control="input"
                          placeholder="Amount"
                          name="manageBudget"
                          readonly
                          :value="row.cut_quantity"
                        />
                        <!--end::Input control-->

                        <!--begin::Increase control-->
                        <button
                          type="button"
                          class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                          data-kt-dialer-control="increase"
                          @click="
                              incrementCartQty(
                                row.id,
                                row.products.id,
                                row.cut_quantity
                              )
                            "
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                        <!--end::Increase control-->
                      </div>
                      <!--end::Dialer-->
                    </td>
                    <td class="text-start">
                        <span
                          class="fw-bold text-primary fs-4"
                          data-kt-pos-element="item-total"
                        >${{ row.products.price }}</span
                        >
                    </td>
                    <td class="text-start">
                      <button
                        @click="deleteItem(row.id)"
                        type="button"
                        class="btn btn-icon btn-sm btn-light btn-icon-danger"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                  <!--end::Table body-->
                </table>
                <!--end::Table-->
              </div>
              <!--end::Table container-->

              <!--begin::Summary-->
              <div class="d-flex flex-stack bg-success rounded-3 p-6 mb-11">
                <!--begin::Content-->
                <div class="fs-6 fw-bold text-white">
                  <span class="d-block lh-1 mb-2">{{translate('sub_total')}}</span>
                  <span class="d-block fs-2qx lh-1">{{translate('total')}}</span>
                </div>
                <!--end::Content-->

                <!--begin::Content-->
                <div class="fs-6 fw-bold text-white text-end">
                  <span class="d-block lh-1 mb-2" data-kt-pos-element="total"
                  >${{ formatCurrency(sub_total) }}</span
                  >
                  <span
                    class="d-block fs-2qx lh-1"
                    data-kt-pos-element="grant-total"
                  >${{ formatCurrency(sub_total) }}</span
                  >
                </div>
                <!--end::Content-->
              </div>
              <!--end::Summary-->

              <!--begin::Payment Method-->
              <div class="m-0">
                <!--begin::Title-->
                <!--end::Title-->

                <!--begin::Radio group-->
                <div
                  class="flex-equal gap-5 gap-xxl-9 px-0 mb-12"
                  data-kt-buttons="true"
                  data-kt-buttons-target="[data-kt-button]"
                  data-kt-initialized="1"
                >
                  <!--begin::Radio-->
                  <div class="d-flex justify-content-around">
                    <button
                      class="btn btn-warning w-100 fs-2 m-1"
                      @click="sentToKitchen(getNewOrder.tableSeat.name)"
                    >
                      {{translate('kitchen')}}
                    </button>

                    <button
                      class="btn btn-success w-100 fs-2 m-1"
                      data-bs-toggle="modal"
                      data-bs-target="#kt_modal_payment"
                    >
                     {{translate('pay')}}
                    </button>
                  </div>
                </div>
                <button
                  class="btn btn-primary fs-1 w-100 py-4"
                  data-bs-toggle="modal"
                  data-bs-target="#kt_modal_bill"
                  @click="viewById(order_id)"
                >
                {{translate('print_bill')}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" id="kt_modal_bill">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Receipt Printer</h5>
            <!--begin::Close-->
            <div
              class="btn btn-icon btn-sm btn-active-light-primary ms-2"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="ki-duotone ki-cross fs-2x"
              ><span class="path1"></span><span class="path2"></span
              ></i>
            </div>
            <!--end::Close-->
          </div>

          <div class="modal-body" v-if="loading">
            <div
              class="w-100 position-relative d-flex justify-content-center"
              style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <div data-kt-indicator="on">
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                  ></span>
                </div>
                <div class="d-flex mt-5">Loading...</div>
              </div>
            </div>
          </div>
          <div v-else class="modal-body">
            <div class="receipt" id="receipt" v-if="dataPrint">
              <div class="header">
                <div class="restaurant-name">NERK RESTUARANT</div>
                <div class="address">Sala Kanseng village,Siem Reap city</div>
                <div class="city-state-zip">
                  Cambodia Siem Reap Siem Reap, Cambodia 12000
                </div>
              </div>

              <div class="details">
                <div class="date-time">
                  {{ format_date(dataPrint.order_date) }}
                </div>
                <div v-if="dataPrint.tableSeat != null" class="server">
                  Table: {{ dataPrint.tableSeat.name }}
                </div>
                <div class="server">Customer: Walking customer</div>
              </div>

              <div class="items">
                <div class="item">
                  <span class="description">QTY</span>
                  <span class="price">Item</span>
                  <span class="price">Price</span>
                </div>
                <div class="item" v-for="row in dataPrint.orderItems">
                  <span class="description">{{ row.cut_quantity }}</span>
                  <span class="price">{{ row.products.name }}</span>
                  <span class="price">{{ row.price }}</span>
                </div>
              </div>

              <div class="total">
                <div class="subtotal">
                  Sub Total: ${{ formatCurrency(sub_total) }}
                </div>
                <div class="grand-total">
                  Grand Total: ${{ formatCurrency(sub_total) }}
                </div>
              </div>
              <div class="footer">
                THANK YOU <br />
                Phone: 099 484 859 <br />
                Email: nerkrestaurant@gmail.com
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              @click="printReceipt()"
            >
              Print
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
#category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tableFixHead {
  overflow: auto;
  height: 200px;
}

/* Just common table stuff. */
tbody {
  border-collapse: collapse;
  width: 100%;
}

tr,
td {
  padding: 5px 5px;
}

#receipt {
  margin: auto;
  padding: 10px;
}

.receipt {
  width: 300px; /* Set a specific width for the receipt */
  border: 1px dashed #ccc; /* Add a dashed border */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.details {
  margin-bottom: 10px;
}

.items {
  border-top: 1px dashed #ccc;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: smaller;
}

@media print {
  #receipt {
    margin: auto;
    padding: 5px;
    background: #fff;
    color: black;
  }
  .receipt {
    width: auto; /* Allow receipt to fill the printed page */
    border: none; /* Remove border when printing */
  }
}
</style>
