<script lang="ts">
import { defineComponent, ref } from "vue";
import { useOrderStore } from "@/stores/order";
import Swal from "sweetalert2";
import printJS from "print-js";
import moment from "moment";
import {useRouter} from "vue-router";
import { useI18n } from "vue-i18n";


const useOrder = useOrderStore();
export default defineComponent({
  name: "HoldOrders",
  data() {
    return {
      listOrder: <any[]>[],
      pageLoading: false,
      table_id: 0,
      routers: useRouter(),
      dataPrint: <any>[],
      loading: false,
    };
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };



    const useOrder = useOrderStore;
    const isPrinting = ref(false);
    const table = ref();
    const onPrint = () => {
      printJS({
        printable: "receipt",
        type: "html",
      });
      try {
      } catch (e) {}
    };
    const printReceipt = () => {
      const printContents = document.getElementById('receipt')?.innerHTML;

      if (printContents) {
        // Open a new blank window
        const printWindow = window.open('', '_blank');

        if (printWindow) {
          printWindow.document.write(`
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <title>Receipt</title>
          <style>
          #receipt {
  margin: auto;
  padding: 10px;
  background: #fff;
   font-family: Arial, sans-serif;
   font-size: 10px;
}
.receipt {
  width: 300px; /* Set a specific width for the receipt */
  border: 1px dashed #ccc; /* Add a dashed border */
  padding: 20px;
   font-size: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: smaller;
}

.details {
  margin-bottom: 10px;
}

.items {
 border-top: 1px dashed #ccc;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: smaller;
}

.total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: smaller;
}

@media print {
  #receipt {
    margin: auto;
    padding: 5px;
    background: #fff;
    color: black;
  }
  .receipt {
    width: auto; /* Allow receipt to fill the printed page */
    border: none; /* Remove border when printing */
  }
}
</style>
        </head>
        <body>
          ${printContents}
        </body>
        </html>
      `);

          printWindow.document.close(); // Necessary for IE >= 11
          printWindow.focus(); // Necessary for IE >= 11
          printWindow.print();
          printWindow.close(); // Close the window after printing
        } else {
          console.error("Failed to open a new window for printing.");
        }
      } else {
        console.error("Receipt element not found!");
      }
    };
    return { onPrint,printReceipt,translate };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      this.pageLoading = true;
      await useOrder.getOrderList("ACCEPT");
      this.listOrder = useOrder.listOrder;
      this.pageLoading = false;
    },
    async onDelete(id: any) {
      await Swal.fire({
        title: "Are you sure?",
        text: `Delete Order ${id}`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Delete",
      }).then(async (result) => {
        if (result.isConfirmed) {
          this.pageLoading = true;
          await useOrder.onDeleteOrder(id);
          await Swal.fire({
            title: "Deleted!",
            text: "Deleted Success!",
            icon: "success",
          });
          await this.getList();
        }
      });
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("DD-MM-YYYY, h:mm:ss a");
      }
    },
    async viewOrder(id: any){
      await this.routers.push({name: 'confirm-pos', params: {id}})
    },
    async viewById(id: any){
      this.loading = true;
      await useOrder.getOrderById(id);
      this.dataPrint = useOrder.ViewOrderById;
      this.loading = false;
    },

  },
});
</script>

<template>
  <div
    class="content d-flex flex-column flex-column-fluid mt-4"
    id="kt_content"
  >
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
      <div class="tab-content">
        <div class="d-flex">
          <div class="justify-content-between">
            <router-link to="/pos/order">
              <a href="#" class="btn btn-primary m-4">{{translate('new_order')}}</a>
            </router-link>
            <router-link to="/pos/order/list">
              <a href="#" class="btn btn-primary m-4">{{translate('order')}}</a>
            </router-link>
            <router-link to="/pos/hold">
              <a href="#" class="btn btn-success m-4">{{translate('hold')}}</a>
            </router-link>
            <router-link to="/pos/order/tables">
              <a href="#" class="btn btn-primary m-4">{{translate('table')}}</a>
            </router-link>
          </div>
        </div>
        <div class="row">
          <div class="card-body text-center" v-if="pageLoading">
            <div
              class="w-100 position-relative d-flex justify-content-center"
              style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <div data-kt-indicator="on">
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                  ></span>
                </div>
                <div class="d-flex mt-5">Loading...</div>
              </div>
            </div>
          </div>
          <div
            v-else
            class="col-lg-4 col-md-6 col-sm-12"
            v-for="item in listOrder"
          >
            <div class="card mb-4 border-warning shadow-sm parent-hover">
              <div class="card-header ribbon">
                <h3 class="card-title" style="margin-right: -10px;">{{ format_date(item.order_date) }}</h3>
                <div class="card-toolbar mx-15">
                  <h3>Table-[{{ item.tableSeat.name }}]</h3>
                  <div class="ribbon-label bg-warning">{{ item.status }}</div>
                </div>
              </div>
              <div class="card-body card-scroll" >
                <div class="tableFixHead">
                  <table class="table table-sm table-row-dashed">
                    <thead>
                    <tr>
                      <th>Item</th>
                      <th>Note</th>
                      <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr v-for="row in item.orderItems">
                        <td>{{ row.products.name_kh }}</td>
                        <td>{{ row.note }}</td>
                        <td>{{ row.cut_quantity }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="d-flex justify-content-between m-3">
                <button
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#kt_modal_kitchen"
                  @click="viewById(item.id)"
                >
                  Print Bills
                </button>
                <button class="btn btn-warning"
                @click="viewOrder(item.id)"
                >View</button>
              </div>
            </div>


            <!--end::Title-->
          </div>
          <div v-if="!listOrder.length" class="card-body text-center">
            <div
                class="w-100 position-relative d-flex justify-content-center"
                style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <h2 class="d-flex mt-5">No Order</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" id="kt_modal_kitchen">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Receipt Printer</h5>
            <!--begin::Close-->
            <div
                class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
              <i class="ki-duotone ki-cross fs-2x"
              ><span class="path1"></span><span class="path2"></span
              ></i>
            </div>
            <!--end::Close-->
          </div>

          <div class="modal-body" v-if="loading">
            <div
                class="w-100 position-relative d-flex justify-content-center"
                style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <div data-kt-indicator="on">
                  <span
                      class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                  ></span>
                </div>
                <div class="d-flex mt-5">Loading...</div>
              </div>
            </div>

          </div>
          <div v-else class="modal-body">
            <div class="receipt" id="receipt" v-if="dataPrint">
              <div class="header" >
                <div class="restaurant-name">NERK RESTUARANT</div>
                <div class="address">Sala Kanseng village,Siem Reap city</div>
                <div class="city-state-zip"> Cambodia Siem Reap Siem Reap, Cambodia 12000</div>
              </div>

              <div class="details">
                <div class="date-time">{{ format_date(dataPrint.order_date) }}</div>
                <div v-if="dataPrint.tableSeat !=null" class="server">Table: {{ dataPrint.tableSeat.name }}</div>
                <div class="server">Customer: Walking customer</div>
              </div>

              <div class="items">
                <div class="item">
                  <span class="description">QTY</span>
                  <span class="price">Item</span>
                  <span class="price">Price</span>
                </div>
                <div class="item" v-for="row in dataPrint.orderItems">
                  <span class="description">{{row.cut_quantity}}</span>
                  <span class="price">{{row.products.name}}</span>
                  <span class="price">{{row.price}}</span>
                </div>
              </div>

              <div class="total">
                <div class="subtotal">Sub Total: ${{dataPrint.total}}</div>
                <div class="grand-total">Grand Total: ${{dataPrint.total}}</div>
              </div>
              <div class="footer">
                THANK YOU <br>
                Phone: 099 484 859 <br>
                Email: nerkrestaurant@gmail.com
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"
                    @click="printReceipt()"
            >Print</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>

<style scoped lang="scss">
/* Fix table head */
.tableFixHead {
  overflow: auto;
  height: 100px;
}

/* Just common table stuff. */
tbody {
  border-collapse: collapse;
  width: 100%;
}

tr,
td {
  padding: 10px 10px;
}

#receipt {
  margin: auto;
  padding: 10px;
}
.receipt {
  width: 300px; /* Set a specific width for the receipt */
  border: 1px dashed #ccc; /* Add a dashed border */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.details {
  margin-bottom: 10px;
}

.items {
  border-top: 1px dashed #ccc;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: smaller;
}

@media print {
  #receipt {
    margin: auto;
    padding: 5px;
    background: #fff;
    color: black;
  }
  .receipt {
    width: auto; /* Allow receipt to fill the printed page */
    border: none; /* Remove border when printing */
  }
}
</style>
