<script lang="ts">
import { defineComponent, ref } from "vue";
import { useOrderStore } from "@/stores/order";
import Swal from "sweetalert2";
import printJS from "print-js";
import moment from "moment/moment";
import {useRouter} from "vue-router";
import { useI18n } from "vue-i18n";

const useOrder = useOrderStore();
export default defineComponent({
  name: "Orders",
  data() {
    return {
      listOrder: <any[]>[],
      pageLoading: false,
      table_id: 0,
      routers:  useRouter(),
    };
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };

    const onPrint = () => {
      printJS({
        printable: "print_container",
        type: "html",
      });
      try {
      } catch (e) {}
    };
    return { onPrint,translate };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      this.pageLoading = true;
      await useOrder.getOrderList("PENDING");
      this.listOrder = useOrder.listOrder;
      this.pageLoading = false;
    },
    async onDelete(id: any) {
      await Swal.fire({
        title: "Are you sure?",
        text: `Delete Order ${id}`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Delete",
      }).then(async (result) => {
        if (result.isConfirmed) {
          this.pageLoading = true;
          await useOrder.onDeleteOrder(id);
          await Swal.fire({
            title: "Deleted!",
            text: "Deleted Success!",
            icon: "success",
          });
          await this.getList();
        }
      });
    },

    async confirmOrder(id: any){
      await this.routers.push({name: 'confirm-pos', params: {id}})
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("DD-MM-YYYY, h:mm:ss a");
      }
    },
    async sentToKitchen(table: any,order_id:any) {
      this.pageLoading = true;
      await useOrder.setNotification(order_id, table);
      await useOrder.sentToKitchen(order_id);
      this.pageLoading = false;
      await Swal.fire({
        position: "center",
        icon: "success",
        title: `Send To Kitchen Success!`,
        showConfirmButton: false,
        timer: 1000,
      });
      await this.getList();
    },
  },
});
</script>

<template>
  <div
    class="content d-flex flex-column flex-column-fluid mt-4"
    id="kt_content"
  >
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
      <div class="tab-content">
        <div class="d-flex">
          <div class="justify-content-between">
            <router-link to="/pos/order">
              <a href="#" class="btn btn-primary m-4">{{translate('new_order')}}</a>
            </router-link>
            <router-link to="/pos/order/list">
              <a href="#" class="btn btn-success m-4">{{translate('order')}}</a>
            </router-link>
            <router-link to="/pos/hold">
              <a href="#" class="btn btn-primary m-4">{{translate('hold')}}</a>
            </router-link>
            <router-link to="/pos/order/tables">
              <a href="#" class="btn btn-primary m-4">{{translate('table')}}</a>
            </router-link>
          </div>
        </div>
        <div class="row">
          <div class="card-body text-center" v-if="pageLoading">
            <div
              class="w-100 position-relative d-flex justify-content-center"
              style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <div data-kt-indicator="on">
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                  ></span>
                </div>
                <div class="d-flex mt-5">Loading...</div>
              </div>
            </div>
          </div>
          <div
            v-else
            class="col-lg-4 col-md-6 col-sm-12"
            v-for="item in listOrder"
          >
            <div class="card mb-4 border-danger shadow-sm parent-hover">
              <div class="card-header ribbon">
                <h3 class="card-title" style="margin-right: -10px;">{{ format_date(item.order_date) }}</h3>
                <div class="card-toolbar mx-14">
                  <h3>Table-[{{ item.tableSeat.name }}]</h3>
                  <div class="ribbon-label bg-danger">{{ item.status }}</div>
                </div>
              </div>
              <div class="card-body card-scroll" >
                <div class="tableFixHead">
                  <table class="table table-sm table-row-dashed">
                    <thead>
                    <tr>
                      <th>Item</th>
                      <th>Note</th>
                      <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr v-for="row in item.orderItems">
                        <td>{{ row.products.name_kh }}</td>
                        <td>{{ row.note }}</td>
                        <td>{{ row.cut_quantity }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="d-flex justify-content-between m-3">
                <button
                    class="btn btn-primary"
                  @click="sentToKitchen(item.tableSeat.id, item.id)"
                >
                  Kitchen
                </button>
                <button class="btn btn-success"
                @click="confirmOrder(item.id)"
                >View</button>
                <button class="btn btn-danger" @click="onDelete(item.id)">
                  Delete
                </button>
              </div>
            </div>
            <!--end::Title-->
          </div>
          <div v-if="!listOrder.length" class="card-body text-center">
            <div
                class="w-100 position-relative d-flex justify-content-center"
                style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <h2 class="d-flex mt-5">No Order</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="modal fade" tabindex="-1" id="kt_modal_kitchen">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title">List Products Order</h5>-->
<!--          &lt;!&ndash;begin::Close&ndash;&gt;-->
<!--          <div-->
<!--            class="btn btn-icon btn-sm btn-active-light-primary ms-2"-->
<!--            data-bs-dismiss="modal"-->
<!--            aria-label="Close"-->
<!--          >-->
<!--            <i class="ki-duotone ki-cross fs-2x"-->
<!--              ><span class="path1"></span><span class="path2"></span-->
<!--            ></i>-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Close&ndash;&gt;-->
<!--        </div>-->

<!--        <div class="modal-body">-->
<!--          <div-->
<!--            id="print_container"-->
<!--            v-for="(order, index) in listOrder"-->
<!--            :key="index"-->
<!--          >-->
<!--            <div class="d-flex justify-content-around">-->
<!--              <h3 id="table_number">Table-[{{ order.tableSeat.num_seat }}]</h3>-->
<!--              <h3 id="date">{{ order.order_date }}</h3>-->
<!--              <input type="hidden" v-model="table_id" />-->
<!--            </div>-->
<!--            <table class="table table-row-dashed">-->
<!--              <tbody>-->
<!--                <tr class="fw-bolder">-->
<!--                  <td>Item</td>-->
<!--                  <td>Item Kh</td>-->
<!--                  <td>Qty</td>-->
<!--                </tr>-->
<!--                <tr v-for="row in order.orderItems">-->
<!--                  <td>{{ row.products.name }}</td>-->
<!--                  <td>{{ row.products.name_kh }}</td>-->
<!--                  <td>{{ row.cut_quantity }}</td>-->
<!--                </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--            &lt;!&ndash;              <p><strong>Total: ${{ calculateTotal(order.items) }}</strong></p>&ndash;&gt;-->

<!--          </div>-->
<!--          <div class="text-center">-->
<!--            <button-->
<!--              type="button"-->
<!--              id="btn_print"-->
<!--              class="btn btn-success mt-4"-->
<!--              @click="onPrint()"-->
<!--            >-->
<!--              Sent to Kitchen-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</template>

<style scoped lang="scss">
/* Fix table head */
.tableFixHead {
  overflow: auto;
  height: 100px;
}

/* Just common table stuff. */
tbody {
  border-collapse: collapse;
  width: 100%;
}

tr,
td {
  padding: 10px 10px;
}

#print_container {
  width: 110mm;
  height: 80mm;
}

@media print {
  #print_container {
    #btn_print * {
      visibility: visible;
    }
    font-family: "Khmer OS Battambang";
    color: black;
    font-size: 17px;
    width: 80mm;
    height: 80mm;
    margin: 20px 0;

    table {
      margin-top: 10px;
      border: black 1px;
    }
    tbody {
      border-collapse: collapse;
      width: 100%;
    }
    table,
    thead,
    tr {
      text-align: start;
    }
    tr,
    td {
      padding: 10px 10px;
    }
  }
}
</style>
