<script lang="ts">
import {  defineComponent, ref } from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import moment from "moment/moment";
import { useOrderStore } from "@/stores/order";
import { useI18n } from "vue-i18n";
import Swal from "sweetalert2";

const useOrder = useOrderStore();
export default defineComponent({
  name: "OrderHistory",
  components: { Datatable },
  data() {
    return {
      items: <any>null,
      loading: false,
      dataPrint: <any>{},
      listOrder: <any>[],
      return_qty: 0,
      pageLoading: false,
      put_qty: 0,
      note: "",
      s_loading: false,
    };
  },
  async mounted() {
    await this.onLoading();
  },
  methods: {
    async onLoading() {
      this.pageLoading = true;
      this.loading = true;
      await useOrder.getOrderList("ALL");
      this.listOrder = useOrder.listOrder;
      this.dataPrint = this.listOrder[0];
      this.loading = false;
      this.pageLoading = false;
    },
    formatCurrency(amount: any) {
      const convert = parseFloat(amount);
      // Limit to 2 decimal places
      return convert.toFixed(2);
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("DD-MM-YYYY, h:mm:ss a");
      }
    },
    async getById(id: any) {
      this.loading = true;
      await useOrder.getOrderById(id);
      this.dataPrint = useOrder.ViewOrderById;
      this.items = this.dataPrint.orderItems;
      this.loading = false;
    },
    status_color(status: any) {
      if (status == "COMPLETE") {
        return "badge-success";
      } else if (status == "PENDING") {
        return "badge-warning";
      } else if (status == "ACCEPT") {
        return "badge-secondary";
      }
    },
    async getReturnItem(
      order_id: any,
      item: any,
      put: any,
      note: any,
      old: any
    ) {
      this.s_loading = true;
      if (put > old) {
        await Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Error Quantity",
        });
        this.s_loading =false;
      } else {
        await useOrder.returnItem(order_id, item, put, note);
        const message = ref("");
        message.value = await useOrder.messageReturn;
        if (message.value.length) {
          await Swal.fire({
            title: "Message",
            text: `${message.value}`,
            icon: "success",
          });
        }
        this.s_loading = false;
      }
    },
  },
  computed: {
    sub_total() {
      if (this.items != null) {
        let total = 0;
        this.items.forEach((item, i) => {
          total += item.price * item.cut_quantity;
        });
        return total;
      }
    },
  },
  setup() {
    const useOrderService = useOrderStore();
    const old = ref("");
    const name = ref("");
    const order_id = ref();
    const item = ref();
    const getName = (id: any, i: any, o: any, n: any) => {
      old.value = o;
      name.value = n;
      order_id.value = id;
      item.value = i;
    };
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const url = import.meta.env.VITE_APP_DOMAIN_URL + "pos/view/";
    const newTab = (id: any) => {
      window.open(url + id, "_blank");
    };
    const contItem = (list: any) => {
      return list.length;
    };
    const listHeader = ref([
      {
        columnName: translate("order_id"),
        columnLabel: "id",
        sortEnabled: true,
        columnWidth: 50,
      },
      {
        columnName: translate("table_name"),
        columnLabel: "table_seat",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate("customer"),
        columnLabel: "customer",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate("amount"),
        columnLabel: "amount",
        sortEnabled: true,
        columnWidth: 175,
      },
      {
        columnName: translate("order_date"),
        columnLabel: "date",
        sortEnabled: true,
        columnWidth: 100,
      },
      {
        columnName: translate("t_status"),
        columnLabel: "status",
        sortEnabled: false,
        columnWidth: 100,
      },
      {
        columnName: translate("action"),
        columnLabel: "action",
        sortEnabled: false,
        columnWidth: 100,
      },
    ]);
    const printReceipt = () => {
      const printContents = document.getElementById("receipt")?.innerHTML;

      if (printContents) {
        // Open a new blank window
        const printWindow = window.open("", "_blank");

        if (printWindow) {
          printWindow.document.write(`
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <title>Receipt</title>
          <style>
          #receipt {
  margin: auto;
  padding: 10px;
  background: #fff;
   font-family: Arial, sans-serif;
   font-size: 10px;
}
.receipt {
  width: 300px; /* Set a specific width for the receipt */
  border: 1px dashed #ccc; /* Add a dashed border */
  padding: 20px;
   font-size: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: smaller;
}

.details {
  margin-bottom: 10px;
}

.items {
  border-top: 1px dashed #ccc;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: smaller;
}

.total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: smaller;
}

@media print {
  #receipt {
    margin: auto;
    padding: 5px;
    background: #fff;
    color: black;
  }
  .receipt {
    width: auto; /* Allow receipt to fill the printed page */
    border: none; /* Remove border when printing */
  }
}
</style>
        </head>
        <body>
          ${printContents}
        </body>
        </html>
      `);

          printWindow.document.close(); // Necessary for IE >= 11
          printWindow.focus(); // Necessary for IE >= 11
          printWindow.print();
          printWindow.close(); // Close the window after printing
        } else {
          console.error("Failed to open a new window for printing.");
        }
      } else {
        console.error("Receipt element not found!");
      }
    };
    const format_date = (value) => {
      if (value) {
        return moment(String(value)).format("MMM Do YYYY, h:mm:ss a");
      }
    };
    return {
      listHeader,
      format_date,
      contItem,
      printReceipt,
      newTab,
      translate,
      getName,
      old,
      name,
      order_id,
      item,
    };
  },
});
</script>

<template>
  <div class="modal fade" tabindex="-1" id="kt_modal_bill">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Receipt Printer</h5>
          <!--begin::Close-->
          <div
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="ki-duotone ki-cross fs-2x"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </div>
          <!--end::Close-->
        </div>

        <div class="modal-body" v-if="loading">
          <div
            class="w-100 position-relative d-flex justify-content-center"
            style="height: 100vh"
          >
            <div class="position-absolute bottom-50">
              <div data-kt-indicator="on">
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                ></span>
              </div>
              <div class="d-flex mt-5">Loading...</div>
            </div>
          </div>
        </div>
        <div v-else class="modal-body">
          <div class="receipt" id="receipt" v-if="dataPrint">
            <div class="header">
              <div class="restaurant-name">NERK RESTUARANT</div>
              <div class="address">Sala Kanseng village,Siem Reap city</div>
              <div class="city-state-zip">
                Cambodia Siem Reap Siem Reap, Cambodia 12000
              </div>
            </div>

            <div class="details">
              <div class="date-time">
                Order ID: {{ dataPrint.id }}
              </div>
              <div class="date-time">
                {{ format_date(dataPrint.order_date) }}
              </div>
              <div v-if="dataPrint.tableSeat != null" class="server">
                Table: {{ dataPrint.tableSeat.name }}
              </div>
              <div class="date-time">
                Gusts: {{ dataPrint.num }}
              </div>
              <div class="server">Customer: Walking customer</div>
            </div>

            <div class="items">
              <div class="item">
                <span class="description">QTY</span>
                <span class="price">Item</span>
                <span class="price">Price</span>
              </div>
              <div class="item" v-for="row in dataPrint.orderItems">
                <span class="description">{{ row.cut_quantity }}</span>
                <span class="price">{{ row.products.name }}</span>
                <span class="price">{{ row.price }}</span>
              </div>
            </div>

            <div class="total">
              <div class="subtotal">
                Sub Total: ${{ formatCurrency(sub_total) }}
              </div>
              <div class="grand-total">
                Grand Total: ${{ formatCurrency(sub_total) }}
              </div>
            </div>
            <div class="footer">
              THANK YOU <br />
              Phone: 099 484 859 <br />
              Email: nerkrestaurant@gmail.com
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" @click="printReceipt()">
            Print
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="justify-content-between">
        <router-link to="/pos/order-history/progress">
          <a href="#" class="btn btn-primary m-4">{{
            translate("in_progress")
          }}</a>
        </router-link>
        <router-link to="/pos/order-history/complete">
          <a href="#" class="btn btn-primary m-4">{{
            translate("order_history")
          }}</a>
        </router-link>
        <router-link to="/pos/order-history/all">
          <a href="#" class="btn btn-success m-4">{{
            translate("order_all")
          }}</a>
        </router-link>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="container-fluid" id="kt_container">
        <div class="card">
          <div class="card-header mt-4">
            <h4>{{ translate("order_all") }}</h4>
          </div>
          <div class="card-body text-center" v-if="pageLoading">
            <div
              class="w-100 position-relative d-flex justify-content-center"
              style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <div data-kt-indicator="on">
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                  ></span>
                </div>
                <div class="d-flex mt-5">Loading...</div>
              </div>
            </div>
          </div>

          <div v-else class="card-body">
            <Datatable
              :data="listOrder"
              :header="listHeader"
              :enable-items-per-page-dropdown="true"
              :checkbox-enabled="true"
              checkbox-label="id"
            >
              <template v-slot:id="{ row: data }">
                {{ data.id }}
              </template>
              <template v-slot:table_seat="{ row: data }">
                {{ data.tableSeat.name }}
              </template>
              <template v-slot:customer="{ row: data }">
                {{ data.customer.name }}
              </template>
              <template v-slot:amount="{ row: data }">
                $ {{ formatCurrency(data.total) }}
              </template>
              <template v-slot:date="{ row: data }">
                {{ format_date(data.order_date) }}
              </template>
              <template v-slot:status="{ row: data }">
                <span :class="status_color(data.status)" class="badge">{{
                  data.status
                }}</span>
              </template>
              <template v-slot:action="{ row: data }">
                <div class="d-flex justify-content-between">
                  <i
                    class="btn btn-sm bi-printer-fill fs-5 btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#kt_modal_bill"
                    @click="getById(data.id)"
                  ></i>
                  <i
                    @click="getById(data.id)"
                    class="btn btn-sm bi-eye-fill fs-5 btn-success"
                  ></i>
                </div>
              </template>
            </Datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" v-if="dataPrint">
        <div class="card-header">
          <h3 class="card-title" v-if="dataPrint.tableSeat != null">
            Table[{{ dataPrint.tableSeat.name }}]
          </h3>
          <div class="card-toolbar">
            <p class="fs-6">
              {{ format_date(dataPrint.order_date) }}
            </p>
          </div>
        </div>
        <div v-if="loading">
          <div
            class="w-100 position-relative d-flex justify-content-center"
            style="height: 100vh"
          >
            <div class="position-absolute bottom-50">
              <div data-kt-indicator="on">
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                ></span>
              </div>
              <div class="d-flex mt-5">Loading...</div>
            </div>
          </div>
        </div>
        <div
          v-else
          class="card-body"
          style="min-height: 500px; max-width: 500px"
        >
          <div class="d-flex justify-content-between">
            <h3 class="fs-5">Total</h3>
            <h3 class="text-success fs-5">
              {{ formatCurrency(dataPrint.total) }} $
            </h3>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <h3 class="fs-5">Status</h3>
            <h3 class="fs-5">{{ dataPrint.payment }}</h3>
          </div>
          <div
            class="card-header collapsible cursor-pointer rotate"
            data-bs-toggle="collapse"
            data-bs-target="#kt_docs_card_collapsible"
          >
            <h3 class="card-title" v-if="dataPrint.orderItems != null">
              {{ contItem(dataPrint.orderItems) }} items
            </h3>
            <div class="card-toolbar rotate-180">
              <i class="ki-duotone ki-down fs-1"></i>
            </div>
          </div>
          <div id="kt_docs_card_collapsible" class="collapse show">
            <div class="card-body p-0">
              <ul class="mt-2" style="list-style: none">
                <li v-for="i in dataPrint.orderItems">
                  <div class="d-flex justify-content-between">
                    <span>
                      {{ i.cut_quantity }} x {{ i.products.name_kh }}
                    </span>
                    <span class="text-primary float-end">
                      ${{ formatCurrency(i.price) }}
                    </span>
                    <span>
                      <button
                        @click="
                          getName(
                            dataPrint.id,
                            i.id,
                            i.cut_quantity,
                            i.products.name_kh
                          )
                        "
                        class="btn btn-primary btn-sm"
                        data-bs-toggle="modal"
                        :data-bs-target="`#kt_modal_return${dataPrint.id}`"
                      >
                        Return
                      </button>
                    </span>
                  </div>
                  <hr />
                  <div
                    class="modal fade"
                    tabindex="-1"
                    :id="`kt_modal_return${dataPrint.id}`"
                  >
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title">
                            Order ID: {{ dataPrint.id }}
                          </h3>

                          <!--begin::Close-->
                          <div
                            @click="onLoading()"
                            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            <i class="ki-duotone ki-cross fs-1"
                              ><span class="path1"></span
                              ><span class="path2"></span
                            ></i>
                          </div>
                          <!--end::Close-->
                        </div>

                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <h3 class="p-2">{{ name }}</h3>
                            </div>
                            <div class="col-lg-6">
                              <label for="old_qty" class="form-label"
                                >Old Quantity</label
                              >
                              <input
                                class="form-control"
                                id="old_qty"
                                type="number"
                                v-model="old"
                                readonly
                                aria-label="Old Quantity"
                              />
                            </div>
                            <div class="col-lg-6">
                              <label for="put_qty" class="form-label"
                                >Return Quantity</label
                              >
                              <input
                                class="form-control"
                                id="put_qty"
                                type="number"
                                v-model="put_qty"
                                aria-label="Return Quantity"
                              />
                            </div>
                            <div class="form-floating mt-7">
                              <textarea
                                class="form-control"
                                placeholder="Leave a comment here"
                                id="floatingTextarea2"
                                v-model="note"
                                style="height: 100px"
                              ></textarea>
                              <label for="floatingTextarea2">Note</label>
                            </div>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                            @click="onLoading()"
                          >
                            Close
                          </button>
                          <button
                            v-if="s_loading"
                            data-kt-indicator="on"
                            type="button"
                            class="btn btn-primary"
                          >
                            <span class="indicator-progress">
                              Please wait...
                              <span
                                class="spinner-border spinner-border-sm align-middle ms-2"
                              ></span>
                            </span>
                          </button>
                          <button
                            v-else
                            @click="
                              getReturnItem(order_id, item, put_qty, note, old)
                            "
                            type="button"
                            class="btn btn-primary"
                          >
                            <span class="indicator-label">
                              Return Quantity
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex justify-content-between">
                    <span> Total </span>
                    <span class="fs-5 text-success">
                      $ {{ formatCurrency(dataPrint.total) }}
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <i
              class="btn btn-sm bi-printer fs-2 btn-success"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_bill"
              @click="getById(dataPrint.id)"
            ></i>
            <i
              class="btn btn-sm bi-eye fs-2 btn-warning"
              @click="newTab(dataPrint.id)"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
#receipt {
  margin: auto;
  padding: 10px;
}

.receipt {
  width: 300px; /* Set a specific width for the receipt */
  border: 1px dashed #ccc; /* Add a dashed border */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.details {
  margin-bottom: 10px;
}

.items {
  border-top: 1px dashed #ccc;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: smaller;
}

@media print {
  #receipt {
    margin: auto;
    padding: 5px;
    background: #fff;
    color: black;
  }
  .receipt {
    width: auto; /* Allow receipt to fill the printed page */
    border: none; /* Remove border when printing */
  }
}
</style>
