<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { useOpenApiStore } from "@/stores/open_api";
import { useTableStore } from "@/stores/tables";
import { useRoute, useRouter } from "vue-router";
import { useOrderStore } from "@/stores/order";
import { useI18n } from "vue-i18n";
const useTable = useTableStore();
const useOrder = useOrderStore();
export default defineComponent({
  name: "pos",
  data() {
    return {
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      listTables: <any[]>[],
      pageLoading: false,
      total: 0,
      getNewOrder: <any>null,
      number_seat: 1,
      qty: 1,
      note: "",
      cartLoading: false,
      routers: useRouter(),
      activePage: 0,
    };
  },
  async mounted() {
    await this.getAllTables();
  },
  methods: {
    async getAllTables() {
      this.pageLoading = true;
      await useTable.getTable(0);
      this.listTables = useTable.listTable;
      this.pageLoading = false;
    },
    onReset() {
      this.number_seat = 1;
      this.note = "";
      this.qty = 1;
    },
    async onCreateOrder(code: any, number_seat: any) {
      this.cartLoading = true;
      await useOrder.createOrder(code, number_seat);
      this.getNewOrder = useOrder.getNewOrder;
      const id = this.getNewOrder.id;
      if (this.getNewOrder) {
        await this.routers.push({ name: "confirm-pos", params: { id } });
      }
      this.cartLoading = false;
      this.onReset();
    },
    class_status(status: any) {
      if (status == "AV") {
        return "border-success";
      } else if (status == "OD") {
        return "border-danger";
      } else if (status == "OC") {
        return "border-warning";
      } else if (status == "WB") {
        return "border-secondary";
      }
    },
    status_color(status: any) {
      if (status == "AV") {
        return "bg-success";
      } else if (status == "OD") {
        return "bg-danger";
      } else if (status == "OC") {
        return "bg-warning";
      } else if (status == "WB") {
        return "bg-secondary";
      }
    },
    addToCart(id: any, qty: any) {
      alert(qty);
    },
    incrementQty() {
      this.qty++;
    },
    decrementQty() {
      this.qty--;
    },
    resetValue() {
      this.qty = 1;
    },
    async deleteOrder(order_id: any) {
      this.cartLoading = true;
      await useOrder.onDeleteOrder(order_id);
      this.cartLoading = false;
      this.onReset();
      this.getNewOrder = null;
      await this.getAllTables();
    },
    async nextPage() {
      if (this.listTables.length == 0) {
        return;
      }
      this.pageLoading = true;
      await useTable.getTable(++this.activePage);
      setTimeout(() => {
        this.listTables = useTable.listTable;
        this.pageLoading = false;
      }, 50);
    },
    async previousPage() {
      if (this.activePage < 1) {
        return;
      }
      this.pageLoading = true;
      await useTable.getTable(--this.activePage);
      setTimeout(() => {
        this.listTables = useTable.listTable;
        this.pageLoading = false;
      }, 50);
    },
  },
  computed: {
    sub_total() {
      let total = 0;
      this.getNewOrder.forEach((item, i) => {
        total += item.price * item.qty;
      });
      return total;
    },
  },
  setup() {
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const user_lang = localStorage.getItem("lang")
      ? (localStorage.getItem("lang") as string)
      : "en";
     const status_title = (status: any)=> {
      if (status == "AV") {
        return translate('av');
      } else if (status == "OD") {
        return translate('od');
      } else if (status == "OC") {
        return translate('oc');
      } else if (status == "WB") {
        return translate('wb');
      }
    };
     return { status_title, user_lang,translate };
  },
});
</script>

<template>
  <div
    class="content d-flex flex-column flex-column-fluid mt-4"
    id="kt_content"
  >
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
      <div class="d-flex">
        <div class="justify-content-between">
          <router-link to="/pos/order">
            <a href="#" class="btn btn-success m-4">{{translate('new_order')}}</a>
          </router-link>
          <router-link to="/pos/order/list">
            <a href="#" class="btn btn-primary m-4">{{translate('order')}}</a>
          </router-link>
          <router-link to="/pos/hold">
            <a href="#" class="btn btn-primary m-4">{{translate('hold')}}</a>
          </router-link>
          <router-link to="/pos/order/tables">
            <a href="#" class="btn btn-primary m-4">{{translate('table')}}</a>
          </router-link>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="row">
            <div class="card-body text-center" v-if="pageLoading">
              <div
                class="w-100 position-relative d-flex justify-content-center"
                style="height: 100vh"
              >
                <div class="position-absolute bottom-50">
                  <div data-kt-indicator="on">
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                    ></span>
                  </div>
                  <div class="d-flex mt-5">Loading...</div>
                </div>
              </div>
            </div>
            <div v-else class="card-body row">
              <div
                v-if="!getNewOrder"
                class="col-lg-3 col-md-4 col-sm-6"
                v-for="(item, index) in listTables"
              >
                <div
                  :class="class_status(item.status)"
                  class="card card-flush shadow-sm card-bordered  fs-3 shadow-sm parent-hover mb-4"
                  data-bs-toggle="modal"
                  :data-bs-target="`#number_seat${index}`"
                  @click="onReset()"
                >
                  <div class="card-header">
                    <div class="card-toolbar">
                      <span class="badge badge-square badge-success p-2">
                        <i
                          class="bi bi-person-fill fs-4 m-2"
                          style="color: white"
                        ></i>
                        <span> {{ item.min_size }} - {{ item.max_size }} </span>
                      </span>
                    </div>
                  </div>
                  <div class="card-body text-center ">
                    <h2>{{ item.name }}</h2>
                  </div>
                  <div class="card-footer" :class="status_color(item.status)">
                    {{ status_title(item.status) }}
                  </div>
                </div>
                <div class="modal fade" :id="`number_seat${index}`">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Please enter guest number</h5>
                        <div
                          class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          <i class="ki-duotone ki-cross fs-2x"
                            ><span class="path1"></span
                            ><span class="path2"></span
                          ></i>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-floating mb-4">
                              <el-select v-model="number_seat">
                                <el-option value=""
                                  >Select number seat...
                                </el-option>
                                <el-option
                                  v-for="i in item.max_size"
                                  :key="`select-option-${i}`"
                                  :value="i"
                                  :label="i + ' people'"
                                >
                                  {{ i }} people
                                </el-option>
                              </el-select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button
                          type="button"
                          class="btn btn-success w-75 m-4"
                          @click="onCreateOrder(item.code, number_seat)"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="pagination pt-20 pb-10">
              <li class="page-item previous cursor-pointer">
                <a
                  class="btn btn-sm btn-secondary w-120px"
                  :class="{ disabled: activePage == 0 }"
                  @click="previousPage"
                  ><i class="bi bi-arrow-left" /> Previous</a
                >
              </li>
              <li class="page-item">
                <div
                  class="text-primary border p-2 px-4 border rounded fw-bold cursor-pointer bg-hover-light-primary"
                >
                  {{ activePage }}
                </div>
              </li>
              <li class="page-item next cursor-pointer">
                <a
                  class="btn btn-sm btn-secondary w-120px"
                  :class="{ disabled: listTables.length === 0 }"
                  @click="nextPage"
                  >Next <i class="bi bi-arrow-right"
                /></a>
              </li>
            </ul>
            <div></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card bg-body" id="kt_pos_form">
            <!--begin::Header-->
            <div class="card-header pt-5">
              <h3 class="card-title fw-bold text-gray-800 fs-1qx">
               {{translate('walk_customer')}}
              </h3>
              <div></div>
              <!--begin::Toolbar-->
              <div class="card-toolbar">
                <h3 class="card-title fw-bold text-gray-800 fs-1qx">
                  {{translate('place_order')}}
                </h3>
              </div>
              <!--end::Toolbar-->
            </div>

            <!--end::Header-->

            <!--begin::Body-->
            <div class="card-body card-scroll pt-0">
              <div class="table-responsive tableFixHead mb-8">
                <!--begin::Table-->
                <table class="table align-middle gs-0 gy-4 my-0">
                  <tbody v-if="cartLoading">
                    <tr>
                      <td></td>
                      <td colspan="text-end">
                        <div
                            class="position-absolute"
                            style="margin-top: 50px; margin-left: 20px"
                        >
                          <div class="position-absolute">
                            <div data-kt-indicator="on">
                              <span
                                  class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                              ></span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <h2 class="text-center" style="margin-top: 80px">
                      No item add
                    </h2>
                  </tbody>
                  <!--end::Table body-->
                </table>
                <!--end::Table-->
              </div>
              <!--end::Table container-->

              <!--begin::Summary-->
              <div class="d-flex flex-stack bg-success rounded-3 p-6 mb-11">
                <!--begin::Content-->
                <div class="fs-6 fw-bold text-white">
                  <span class="d-block lh-1 mb-2">{{translate('sub_total')}}</span>
                  <span class="d-block fs-2qx lh-1">{{translate('total')}}</span>
                </div>
                <!--end::Content-->

                <!--begin::Content-->
                <div class="fs-6 fw-bold text-white text-end">
                  <span class="d-block lh-1 mb-2" data-kt-pos-element="total"
                    >$0</span
                  >
                  <span
                    class="d-block fs-2qx lh-1"
                    data-kt-pos-element="grant-total"
                    >$0</span
                  >
                </div>
                <!--end::Content-->
              </div>
              <!--end::Summary-->

              <!--begin::Payment Method-->
              <div class="m-0 disabled-div">
                <!--begin::Title-->
                <!--end::Title-->

                <!--begin::Radio group-->
                <div
                  class="flex-equal gap-5 gap-xxl-9 px-0 mb-12"
                  data-kt-buttons="true"
                  data-kt-buttons-target="[data-kt-button]"
                  data-kt-initialized="1"
                >
                  <!--begin::Radio-->
                  <div class="d-flex justify-content-around">
                    <button class="btn btn-secondary w-100 fs-2 m-1">
                      {{translate('kitchen')}}
                    </button>
                    <button class="btn btn-secondary w-100 fs-2 m-1">
                        {{translate('pay')}}
                    </button>
                  </div>
                </div>
                <button class="btn btn-secondary fs-1 w-100 py-4">
                  {{translate('print_bill')}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.disabled-div {
  pointer-events: none;
  cursor: not-allowed;
}

.tableFixHead {
  overflow: auto;
  height: 200px;
}

/* Just common table stuff. */
tbody {
  border-collapse: collapse;
  width: 100%;
}

tr,
td {
  padding: 5px 5px;
}
</style>
