<script lang="ts">
import { defineComponent, ref } from "vue";
import { useTableStore } from "@/stores/tables";
import { useI18n } from "vue-i18n";


const useTable = useTableStore();
export default defineComponent({
  name: "TableSeat",
  data() {
    return {
      listTables: <any[]>[],
      pageLoading: false,
      activePage: 0,
    };
  },
  mounted() {
    this.getAllTables();
  },
  setup(){
    const { t, te } = useI18n();
    const translate = (text: string) => {
      if (te(text)) {
        return t(text);
      } else {
        return text;
      }
    };
    const status_title = (status: any)=> {
      if (status == "AV") {
        return translate('av');
      } else if (status == "OD") {
        return translate('od');
      } else if (status == "OC") {
        return translate('oc');
      } else if (status == "WB") {
        return translate('wb');
      }
    }
    return{translate, status_title}
  },
  methods: {
    async getAllTables() {
      this.pageLoading = true;
      await useTable.getTable(0);
      this.listTables = useTable.listTable;
      this.pageLoading = false;
    },
    class_status(status: any) {
      if (status == "AV") {
        return "border-success";
      } else if (status == "OD") {
        return "border-danger";
      } else if (status == "OC") {
        return "border-warning";
      } else if (status == "WB") {
        return "border-secondary";
      }
    },
    status_color(status: any) {
      if (status == "AV") {
        return "bg-success";
      } else if (status == "OD") {
        return "bg-danger";
      } else if (status == "OC") {
        return "bg-warning";
      } else if (status == "WB") {
        return "bg-secondary";
      }
    },
    async nextPage() {
      if (this.listTables.length == 0) {
        return;
      }
      this.pageLoading = true;
      await useTable.getTable(++this.activePage);
      setTimeout(() => {
        this.listTables = useTable.listTable;
        this.pageLoading = false;
      }, 50);
    },
    async previousPage() {
      if (this.activePage < 1) {
        return;
      }
      this.pageLoading = true;
      await useTable.getTable(--this.activePage);
      setTimeout(() => {
        this.listTables = useTable.listTable;
        this.pageLoading = false;
      }, 50);
    },
  },
});
</script>

<template>
  <div
    class="content d-flex flex-column flex-column-fluid mt-4"
    id="kt_content"
  >
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
      <div class="tab-content">
        <div class="row">
          <div class="d-flex">
            <div class="justify-content-between">
              <router-link to="/pos/order">
                <a href="#" class="btn btn-primary m-4">{{translate('new_order')}}</a>
              </router-link>
              <router-link to="/pos/order/list">
                <a href="#" class="btn btn-primary m-4">{{translate('order')}}</a>
                <router-link to="/pos/hold">
                  <a href="#" class="btn btn-primary m-4">{{translate('hold')}}</a>
                </router-link>
              </router-link>
              <router-link to="/pos/order/tables">
                <a href="#" class="btn btn-success m-4">{{translate('table')}}</a>
              </router-link>
            </div>
          </div>
          <div class="card-body text-center" v-if="pageLoading">
            <div
              class="w-100 position-relative d-flex justify-content-center"
              style="height: 100vh"
            >
              <div class="position-absolute bottom-50">
                <div data-kt-indicator="on">
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                  ></span>
                </div>
                <div class="d-flex mt-5">Loading...</div>
              </div>
            </div>
          </div>
          <div
            v-else
            class="col-lg-3 col-md-4 col-sm-6"
            v-for="item in listTables"
          >
            <div
              :class="class_status(item.status)"
              class="card card-flush shadow-sm card-bordered fs-3 shadow-sm mb-4"
            >
              <div class="card-header">
                <div class="card-toolbar">
                  <span class="badge badge-square badge-success p-2">
                    <i
                      class="bi bi-person-fill fs-4 m-2"
                      style="color: white"
                    ></i>
                    <span> {{ item.min_size }} - {{ item.max_size }} </span>
                  </span>
                </div>
              </div>
              <div class="card-body text-center">
                <h2>{{ item.name }}</h2>
              </div>
              <div class="card-footer" :class="status_color(item.status)">
                <h4 class="fs-3">{{ status_title(item.status) }}</h4>
              </div>
            </div>
          </div>
          <ul class="pagination pt-20 pb-10">
            <li class="page-item previous cursor-pointer">
              <a
                  class="btn btn-sm btn-secondary w-120px"
                  :class="{ disabled: activePage == 0 }"
                  @click="previousPage"
              ><i class="bi bi-arrow-left" /> Previous</a
              >
            </li>
            <li class="page-item">
              <div
                  class="text-primary border p-2 px-4 border rounded fw-bold cursor-pointer bg-hover-light-primary"
              >
                {{ activePage }}
              </div>
            </li>
            <li class="page-item next cursor-pointer">
              <a
                  class="btn btn-sm btn-secondary w-120px"
                  :class="{ disabled: listTables.length === 0 }"
                  @click="nextPage"
              >Next <i class="bi bi-arrow-right"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
