<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import { useOrderStore } from "@/stores/order";
import moment from "moment/moment";

const useServiceOrder = useOrderStore();
export default defineComponent({
  name: "ViewOrder",
  data() {
    return {
      order_id: useRoute().params.id,
      order: <any>{},
      orderItem: <any>[],
      pageLoading: false,
    };
  },
  mounted() {
    this.onLoading();
  },
  methods: {
    async onLoading() {
      this.pageLoading = true;
      await useServiceOrder.getOrderById(this.order_id);
      this.order = useServiceOrder.ViewOrderById;
      this.orderItem = this.order.orderItem;
      this.pageLoading = false;
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("MMM Do YYYY, h:mm:ss a");
      }
    },
    formatCurrency(amount: any) {
      const convert = parseFloat(amount);
      // Limit to 2 decimal places
      return convert.toFixed(2);
    },
    countRecords(list: any) {
      return list.length;
    },
  },
  setup() {},
});
</script>

<template>
  <div class="card">
    <div class="card-body text-center" v-if="pageLoading">
      <div
          class="w-100 position-relative d-flex justify-content-center"
          style="height: 100vh"
      >
        <div class="position-absolute bottom-50">
          <div data-kt-indicator="on">
            <span
                class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
            ></span>
          </div>
          <div class="d-flex mt-5">Loading...</div>
        </div>
      </div>
    </div>
    <div v-else class="card-body">
      <div class="row mt-3">
        <div class="col-md-5">
          <div class="d-flex">
            <div>
              <div class="d-flex align-items-center">
                <div class="">
                  <h5 class="m-0">Order #{{ order.id }}</h5>
                </div>
                <div class="ml-3">
                  <span class="mx-2 badge badge-success"> {{ order.status }} </span>
                </div>
              </div>
              <p class="m-0">Place on {{format_date(order.order_date)}}</p>
            </div>
          </div>
          <!---->
          <div class="d-flex mt-3">
            <div class="mr-2"><img class="img-20 rounded-circle" /></div>
            <div>
              <h5 class="m-0">Customer :</h5>
              <p v-if="order.customer != null" class="m-0">{{order.customer.name}}</p>
            </div>
          </div>
          <div class="d-flex mt-3">
            <div class="mr-4"></div>
            <div>
              <h5 class="m-0">Table information :</h5>
              <p v-if="order.tableSeat != null"  class="m-0">Guest : {{order.num}}</p>
              <p v-if="order.tableSeat != null" class="m-0">Table name : {{order.tableSeat.name}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card border">
            <div class="card-body pt-3">
              <div
                class="d-flex mb-4 justify-content-between align-items-centerx"
              >
                <div>
                  <h5>Summary</h5>
                  <!---->
                </div>
                <!---->
              </div>
              <div v-if="order.orderItems != null" class="row" v-for="item in order.orderItems">
                <div class="col-2 d-flex justify-content-center">
                  <!--                  <img-->
                  <!--                    class="rounded w-40"-->
                  <!--                    src="https://demo.bastisapp.com/backoffice/../upload/3/07d2d711-80ae-11ec-859e-99479722e411.png"-->
                  <!--                  />-->
                </div>
                <div class="col-6 d-flex justify-content-start flex-column">
                  <p class="mb-1">
                    {{item.cut_quantity}}x {{item.products.name}}
                    <!---->
                    <!---->
                  </p>
                  <div><span class="badge font11 queue">queue</span></div>
                  <p class="m-0 font11">${{item.products.price}}</p>
                  <!----><!----><!---->
                </div>
                <div
                  class="col-3 d-flex justify-content-start flex-column text-right"
                >
                  ${{item.cut_quantity * item.products.price}}
                </div>
                <!---->
              </div>
              <hr />
              <div class="row mb-1">
                <div class="col-2 d-flex justify-content-center"></div>
                <div class="col-6 d-flex justify-content-start flex-column" v-if="order.orderItems">
                  Sub total ({{countRecords(order.orderItems)}} items)
                </div>
                <div
                  class="col-3 d-flex justify-content-start flex-column text-right"
                >
                  ${{ formatCurrency(order.total) }}
                </div>
              </div>
              <hr />
              <div class="row mb-1">
                <div class="col-2 d-flex justify-content-center"></div>
                <div class="col-6 d-flex justify-content-start flex-column">
                  <h6 class="m-0">Total</h6>
                </div>
                <div
                  class="col-3 d-flex justify-content-start flex-column text-right"
                >
                  <h6 class="m-0">${{ formatCurrency(order.total) }}</h6>
                </div>
              </div>
              <!----><!---->
            </div>
          </div>
        </div>
      </div>
      <h6 class="font13 mt-1">Payment history</h6>
      <div class="table-responsive">
        <table class="table table-rounded table-striped border">
          <tr class="fw-bold fs-6 text-gray-800 text-center">
            <th width="15%">Date</th>
            <th width="15%">Payment</th>
            <th width="25%">Description</th>
            <th width="15%">Amount</th>
            <th width="15%">Status</th>
          </tr>
          <tr
            class="text-center fw-semibold fs-6 text-gray-800 border border-gray-200"
          >
            <td>{{format_date(order.payment_date)}}</td>
            <td>
              <p class="text-muted">
                <i><small>{{order.payment_method}}</small></i>
              </p>

            </td>
            <td>{{order.orderDescription}}</td>
            <td>${{order.total}}</td>
            <td>
              <span class="badge badge-success">{{order.payment}}</span>
            </td>
          </tr>
        </table>
      </div>
      <!---->
    </div>
  </div>
</template>

<style scoped lang="scss"></style>
