<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { useOpenApiStore } from "@/stores/open_api";
import { getAssetPath } from "@/core/helpers/assets";

const useServiceOpen = useOpenApiStore();
export default defineComponent({
  name: "Content",
  data() {
    return {
      products: <any>[],
      chefs: <any>[],
      content: <any>[],
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
    };
  },
  async mounted() {
    await useServiceOpen.getMenuHome(0, 0);
    this.products = useServiceOpen.list_menu;
    await useServiceOpen.getListChef();
    this.chefs = useServiceOpen.list_chefs;
    await useServiceOpen.getContent();
    this.content = useServiceOpen.content;
    console.log(this.content);
  },
  setup() {
    const user_lang = localStorage.getItem("user_lang")
      ? (localStorage.getItem("user_lang") as string)
      : "en";
    return { user_lang, getAssetPath };
  },
});
</script>

<template>
  <div class="container mt-2">
    <header class="hero">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-lg-12 col-sm-12 col-md-12 text-center ">
            <h1 v-if="user_lang == 'en'" class="display-4  title-cover">
              Welcome to Nerk Restaurant
            </h1>
            <h1 v-else class="display-4 title-cover">
              សូមស្វាគមន៍ភោជនីយដ្ឋាននឹក
            </h1>
            <p v-if="user_lang == 'en'" class="lead title-cover">
              Experience the finest dining in town.
            </p>
            <p v-else class="lead title-cover">
              ភោជនីយដ្ឋាននឹក មានលក់អាហារ ខ្មែរនិងអាហារបរទេសគ្រប់មុខ
              ដែលមានរសជាតិឈ្ងុយឆ្ងាញ់ ។
            </p>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid py-5">
      <div class="container">
        <h1 v-if="user_lang == 'en'" class="my-4 text-center">
          Our Delicious Food Gallery
        </h1>
        <h1 v-else class="my-4 text-center">មុខម្ហូបរបស់ភោជនីយដ្ធានរបស់យើង</h1>
        <div class="gallery-container">
          <div class="gallery-scroll" v-for="item in products">
            <div class="gallery-item">
              <img :src="url + item.image" alt="Delicious Dish 1" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="about" class="bg-light py-5 rounded">
      <div class="container">
        <h2 v-if="user_lang == 'en'" class="text-center mb-5">
          About Our Restaurant
        </h2>
        <h2 v-else class="text-center mb-5">អំពីភោជនីយដ្ធានរបស់យើង</h2>
        <div class="row">
          <div class="col-md-6 col-sm-12 text-start">
            <div v-if="user_lang=='en'">
              <p>
                {{content.content1}}
              </p>
              <p>
                {{content.content2}}
              </p>
            </div>
            <div v-else>
              <p>
                {{content.contentKh1}}
              </p>
              <p>
                {{content.contentKh2}}
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <img
                :src="url+content.image1"
                alt="Restaurant Interior"
                class="img-fluid rounded me-4"
              />
              <img
                  :src="url+content.image2"
                alt="Restaurant Interior"
                class="img-fluid rounded"
              />
            </div>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <img
                :src="url+content.image3"
              alt="Restaurant Interior"
              class="img-fluid rounded"
            />
          </div>
        </div>
      </div>
    </section>
    <section id="chef" class="py-5">
      <div class="container">
        <h2 v-if="user_lang == 'en'" class="text-center mb-5">
          About Our Chef
        </h2>
        <h2 v-else class="text-center mb-5">អំពីចុងភៅរបស់ភោជនីយដ្ធានយើង</h2>
        <div class="gallery-container">
          <div class="gallery-scroll" v-for="c in chefs">
            <div class="gallery-item">
              <span>
                <img :src="url + c.profile" :alt="c.lastName" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="hours fs-5 fw-semibold letter-spacing">
              <h2 v-if="user_lang == 'en'">Opening Hours</h2>
              <h2 v-else>ម៉ោងហាងបើកដំណើរការ</h2>
              <p v-if="user_lang == 'en'">
                Monday - Friday: 10:00 AM - 10:00 PM
              </p>
              <p v-else>ចន្ទ - សុក្រ: ១០:០០ ព្រឹក - ១០:០០ យប់</p>
              <p v-if="user_lang == 'kh'">
                សៅរ៍ - អាទិត្យ: ៩:០០ ព្រឹក - ១១:០០ យប់
              </p>
              <p v-else>Saturday - Sunday: 9:00 AM - 11:00 PM</p>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d408.0031116410509!2d103.85370271062206!3d13.375029262537952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31101712e7431d29%3A0xc2411f8cb8c0d314!2sNerk%20Restaurant!5e0!3m2!1skm!2skh!4v1740709652915!5m2!1skm!2skh"
              width="600"
              height="450"
              style="border: 0"
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped lang="scss">
.hero {
  background: url("/assets/logo/cover.jpg")
    center/cover no-repeat; /* Replace with your image */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title-cover{
  color: #7d5b28;
  -webkit-text-stroke: 1px white;
}

.hours {
  padding: 20px;
  display: inline-block;
  margin-top: 20px;
}

.hero h1 {
  font-weight: bold;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#about img {
  max-height: 300px;
}

.gallery-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.gallery-scroll {
  display: inline-block;
  animation: scroll-left 30s linear infinite;
}

.gallery-item {
  display: inline-block;
  margin: 10px;
}

.gallery-item img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
</style>
