<script lang="ts">
import { computed, defineComponent, nextTick, onMounted, watch } from "vue";
import { getAssetPath } from "@/core/helpers/assets";
import { useI18n } from "vue-i18n";
import KTIcon from "@/core/helpers/kt-icon/KTIcon.vue";
import { reinitializeComponents } from "@/core/plugins/keenthemes";
import { useRoute } from "vue-router";
import router from "@/router";


export default defineComponent({
  name: "HomeHeader",
  components: { KTIcon },
  setup() {
    const i18n = useI18n();
    i18n.locale.value = localStorage.getItem("user_lang")
        ? (localStorage.getItem("user_lang") as string)
        : "en";
    const countries = {
      en: {
        flag: getAssetPath("media/flags/united-states.svg"),
        name: "English",
      },
      kh: {
        flag: getAssetPath("media/flags/cambodia.svg"),
        name: "Khmer",
      },
    };
    const setLang = (lang: string) => {
      localStorage.setItem("user_lang", lang);
      i18n.locale.value = lang;
      window.location.reload();
    };

    const currentLanguage = computed(() => {
      return i18n.locale.value;
    });

    const currentLanguageLocale = computed(() => {
      return countries[i18n.locale.value as keyof typeof countries];
    });
    const route = useRoute();
    onMounted(() => {
      nextTick(() => {
        reinitializeComponents();
      });

    });

    watch(
        () => route.path,
        () => {
          nextTick(() => {
            reinitializeComponents();
          });
        }
    );

    return {
      countries,
      currentLanguage,
      currentLanguageLocale,
      setLang,
      getAssetPath,
    };
  },
});
</script>
<template>
  <div class="border-bottom border-gray-200 bg-opacity-10">
    <!--begin::Header container-->
    <div class="app-container container-fluid d-flex flex-stack">
      <div
          class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15"
      >
        <router-link to="/home">
          <img
              alt="Logo"
              src="/assets/logo/logo.png"
              class="h-50px h-lg-50px"
          />
        </router-link>
        <span class="fs-3 fw-bold">Nerk Restaurant</span>
        <!--end::Logo-->
      </div>
      <!--end::Brand-->

      <!--begin::Menu wrapper-->
      <div
          class="d-flex align-items-stretch pe-12"
          id="kt_app_header_menu_wrapper"
      ></div>
      <!--begin::Trigger-->
      <div class="app-navbar flex-shrink-0">
        <div
            data-kt-menu-trigger="click"
            data-kt-menu-placement="left-start"
            data-kt-menu-flip="center, top"
        >
          <span class="menu-title position-relative mx-4 cursor-pointer px-5">
            <span
                class="fs-8 rounded text-center position-absolute translate-middle-y top-50 end-0"
            >
              <img
                  class="w-20px h-20px rounded-1 ms-2"
                  :src="currentLanguageLocale.flag"
                  alt="metronic"
              />
            </span>
          </span>

          <!--begin::Menu sub-->
          <div
              class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4"
              data-kt-menu="true"
          >
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a
                  @click="setLang('en')"
                  href="#"
                  class="menu-link d-flex px-5"
                  :class="{ active: currentLanguage === 'en' }"
              >
                <span class="symbol symbol-20px me-4">
                  <img
                      class="rounded-1"
                      :src="getAssetPath('media/flags/united-states.svg')"
                      alt="metronic"
                  />
                </span>
                English
              </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a
                  @click="setLang('kh')"
                  href="#"
                  class="menu-link d-flex px-5"
                  :class="{ active: currentLanguage === 'kh' }"
              >
                <span class="symbol symbol-20px me-4">
                  <img
                      class="rounded-1"
                      :src="getAssetPath('media/flags/cambodia.svg')"
                      alt="metronic"
                  />
                </span>
                Khmer
              </a>
            </div>
          </div>
          <!--end::Menu sub-->
        </div>

        <!--begin::Quick links-->
        <div class="app-navbar-item">
          <router-link to="/login">
            <h3>Login</h3>
          </router-link>
        </div>
        <!--end::Quick links-->

        <!--begin::Theme mode-->
        <div class="app-navbar-item ms-md-1 me-n5 d-none"></div>
        <!--end::Theme mode-->
      </div>
      <!--end::Navbar-->
    </div>
    <!--end::Header container-->
  </div>
</template>

<style scoped lang="scss"></style>