<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { useOpenApiStore } from "@/stores/open_api";
import { useCategoryStore } from "@/stores/category_v1";
import Swal from "sweetalert2";
import { useRoute, useRouter } from "vue-router";
import Router from "@/router";
const useOpen = useOpenApiStore();
const useCategory = useCategoryStore();
import router from "@/router";
import type { Table } from "@/stores/tables";
import { getAssetPath } from "@/core/helpers/assets";

export default defineComponent({
  name: "HomeMenu",
  data() {
    return {
      listMenu: <any>[],
      listTable: <any>[],
      categories: <any>[],
      listCart: <any>{},
      qty: 1,
      note: "",
      activePage: 0,
      cartLoading: false,
      pageLoading: false,
      url: import.meta.env.VITE_APP_API_URL + "api/public/view/image?filename=",
      domain: import.meta.env.VITE_APP_DOMAIN_URL+ "pos/order/list",
      code: useRoute().params.name,
      codeStatus: false,
      router: useRouter(),
      cart_qty: 0,
      cat_id: 0
    };
  },
  async mounted() {
    await this.onLoading();
    await this.onLoadingCart();
  },

  methods: {
    async onLoading() {
      this.pageLoading = true;
      await useOpen.getMenu(0, this.activePage);
      await useOpen.getListCategory();
      this.categories = useOpen.listCategory;
      this.listMenu = useOpen.list_menu;
      this.pageLoading = false;
    },
    async filter(id: any) {
      const page = id;
      this.cat_id = id;
      this.pageLoading = true;
      this.activePage = 0;
      await useOpen.getMenu(page, this.activePage);
      this.listMenu = useOpen.list_menu;
      this.pageLoading = false;
    },
    async onLoadingCart() {
      this.cartLoading = true;
      await useOpen.getListCart(this.code);
      this.listCart = useOpen.listCart;
      this.cartLoading = false;
    },
    onreset() {
      this.note = "";
      this.qty = 1;
    },
    async addToCart(product_id: any, qty: any, note: any) {
      this.cartLoading = true;
      await useOpen.addToCart(product_id, qty, note, this.code);
      await this.onLoadingCart();
      this.cartLoading = false;
      await Swal.fire({
        position: "center",
        icon: "success",
        title: `Add To Cart`,
        showConfirmButton: false,
        timer: 1000,
      });
    },
    incrementQty() {
      this.qty++;
    },
    decrementQty() {
      this.qty--;
    },
    resetValue() {
      this.qty = 1;
    },
    async deleteCart(id: any) {
      await useOpen.deleteCart(id);
      await this.onLoadingCart();
    },
    async placeOrder() {
      const date = new Date();
      this.cartLoading = true;
      await useOpen.placeOrder(this.code);
      const statusOrder = ref();
      statusOrder.value = await useOpen.message;
      await Swal.fire({
        position: "center",
        icon: "success",
        title: `${statusOrder.value}`,
        showConfirmButton: false,
        timer: 1000,
      });
      this.cartLoading = false;
      await useOpen.pushNotification(
        this.listCart.table_name,
        date.toDateString(),
        this.domain
      );
      await this.onLoadingCart();
    },
    async nextPage() {
      if (this.listMenu.length == 0) {
        return;
      }
      this.pageLoading = true;
      await useOpen.getMenu(this.cat_id, ++this.activePage);
      setTimeout(() => {
        this.listMenu = useOpen.list_menu;
        this.pageLoading = false;
      }, 50);
    },
    async previousPage() {
      if (this.activePage < 1) {
        return;
      }
      this.pageLoading = true;
      await useOpen.getMenu(this.cat_id, --this.activePage);
      setTimeout(() => {
        this.listMenu = useOpen.list_menu;
        this.pageLoading = false;
      }, 50);
    },
    formatCurrency(amount: any) {
      var convert = parseFloat(amount);
      // Limit to 2 decimal places
      return convert.toFixed(2);
    },
    async incrementCartQty(cartId: any, oldQty: any) {
      const i = oldQty + 1;
      this.cartLoading = true;
      await useOpen.updateCartItem(cartId, i);
      await this.onLoadingCart();
      this.cartLoading = false;
    },
    async decrementCartQty(cartId: any, oldQty: any) {
      const i = oldQty - 1;
      this.cartLoading = true;
      await useOpen.updateCartItem(cartId, i);
      await this.onLoadingCart();
      this.cartLoading = false;
    },
  },
  setup() {
    const user_lang = localStorage.getItem("user_lang")
      ? (localStorage.getItem("user_lang") as string)
      : "en";
    onMounted(async () => {
      await useOpen.getListTable();
    });
    return { user_lang,getAssetPath };
  },
});
</script>

<template>
  <div class="row m-4">
    <div class="col-lg-8 col-12 col-sm-12">
      <div class="card-body text-center" v-if="pageLoading">
        <div
          class="w-100 position-relative d-flex justify-content-center"
          style="height: 100vh"
        >
          <div class="position-absolute bottom-50">
            <div data-kt-indicator="on">
              <span
                class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
              ></span>
            </div>
            <div class="d-flex mt-5">Please wait...</div>
          </div>
        </div>
      </div>
      <div v-else class="card-body">
        <div class="d-flex justify-content-start" id="category">
          <div
            class="symbol btn-sm active symbol-100px symbol-2by3 cursor-pointer"
            @click="onLoading()"
          >
            <div
              class="symbol-label flex-column fs-2 fw-semibold text-success m-2"
              style="background-color: rgba(134, 109, 66, 0.24)"
            >
              <span
                v-if="user_lang == 'en'"
                class="text-gray-800 fw-bold fs-3 d-block"
              >
                All
              </span>
              <span v-else class="text-gray-800 fw-bold fs-3 d-block"
                >ទំនិញទាំងអស់</span
              >
            </div>
          </div>
          <div
            class="symbol btn-sm symbol-100px symbol-2by3 cursor-pointer"
            v-for="item in categories"
            @click="filter(item.id)"
          >
            <div
              class="symbol-label flex-column fs-2 fw-semibold text-success m-2"
              style="background-color: rgba(134, 109, 66, 0.24)"
            >
              <img :src="url + item.imageUrl" class="w-50px rounded-1" alt="" />
              <span
                v-if="user_lang == 'en'"
                class="text-gray-800 fw-bold fs-3 d-block"
                >{{ item.name }}</span
              >
              <span v-else class="text-gray-800 fw-bold fs-3 d-block">{{
                item.name_kh
              }}</span>
            </div>
          </div>
        </div>
        <div id="menu">
          <div class="row mt-4">
            <div
              class="col-lg-4 col-md-6 col-sm-12"
              v-for="product in listMenu"
            >
              <div class="card card-flush m-2">
                <div
                  class="ribbon ribbon-triangle ribbon-top-end border-success"
                >
                  <!--begin::Ribbon icon-->
                  <div class="ribbon-icon mt-n5 me-n6">
                    <i class="bi bi-plus fs-2 text-white"></i>
                  </div>
                  <!--end::Ribbon icon-->
                </div>
                <!--begin::Body-->
                <div
                  class="card-body text-center"
                  data-bs-toggle="modal"
                  :data-bs-target="`#add_cart${product.id}`"
                  @click="onreset()"
                >
                  <!--begin::Food img-->
                  <img
                      v-if="product.image"
                    :src="url + product.image"
                    class="rounded-4 mb-4 w-xxl-200px h-xxl-200px"
                    style="width: 200px; object-fit: cover"
                    alt="product"
                  />
                  <img
                      v-else
                      :src="getAssetPath('media/no_image.jpg')"
                      class="rounded-4 mb-4 w-xxl-200px h-xxl-200px"
                      style="width: 200px; object-fit: cover"
                      alt="product"
                  />
                  <!--end::Food img-->

                  <!--begin::Info-->
                  <div class="mb-2">
                    <!--begin::Title-->
                    <div class="text-center">
                      <span
                        v-if="user_lang == 'en'"
                        class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1"
                        >{{ product.name }}
                      </span>
                      <span
                        v-else
                        class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1"
                        >{{ product.name_kh }}
                      </span>
                    </div>
                    <!--end::Title-->
                  </div>
                  <!--end::Info-->

                  <!--begin::Total-->
                  <span class="text-success text-end fw-bold fs-1"
                    >{{ product.price }}$</span
                  >
                  <!--end::Total-->
                </div>
                <div
                  class="modal fade"
                  tabindex="-1"
                  :id="`add_cart${product.id}`"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title">Add Cart</h3>
                        <!--begin::Close-->
                        <div
                          class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          <i class="fa fa-x fs-6" />
                        </div>
                        <!--end::Close-->
                      </div>
                      <div
                        class="modal-body text-start"
                        style="min-height: 300px"
                      >
                        <div class="row align-items-center">
                          <div class="col-12 text-center">
                            <img
                              :src="url + product.image"
                              class="rounded-4 mb-4"
                              style="object-fit: cover; width: 335px"
                              alt=""
                            />
                          </div>
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="col-lg-12">
                                <span
                                    v-if="user_lang == 'en'"
                                  class="fw-bold cursor-pointer text-primary fs-3 fs-xl-1"
                                  >{{ product.name }}</span
                                ><span
                                    v-else
                                  class="fw-bold cursor-pointer text-primary fs-3 fs-xl-1"
                                  >{{ product.name_kh }}</span
                                >
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <span class="text-gray-800 fs-5">{{
                                  product.description
                                }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="col-lg-12 col-sm-12">
                                <div class="form-floating mt-4">
                                  <textarea
                                    v-model="note"
                                    class="form-control"
                                    style="min-height: 100px"
                                    placeholder="Leave a comment here"
                                  >
                                  </textarea>
                                  <label for="floatingTextarea2">Note</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 position-relative mt-4">
                              <span class="fs-3">Total: </span
                              ><span style="color: red" class="fs-3">
                                {{ product.price * qty }} </span
                              ><span class="fs-3"> $</span>
                            </div>
                            <div class="col-lg-6">
                              <div
                                class="position-relative d-flex align-items-center float-end"
                                data-kt-dialer="true"
                                data-kt-dialer-min="1"
                                data-kt-dialer-max="10"
                                data-kt-dialer-step="1"
                                data-kt-dialer-decimals="0"
                              >
                                <!--begin::Decrease control-->
                                <button
                                  v-if="qty > 1"
                                  type="button"
                                  class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                  data-kt-dialer-control="decrease"
                                  @click="decrementQty()"
                                >
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button
                                  v-else
                                  type="button"
                                  class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                  data-kt-dialer-control="decrease"
                                >
                                  <i class="fa fa-minus"></i>
                                </button>
                                <!--end::Decrease control-->

                                <!--begin::Input control-->
                                <input
                                  type="text"
                                  class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px"
                                  data-kt-dialer-control="input"
                                  placeholder="Amount"
                                  name="manageBudget"
                                  readonly
                                  v-model="qty"
                                />
                                <!--end::Input control-->

                                <!--begin::Increase control-->
                                <button
                                  v-if="qty < 10"
                                  type="button"
                                  class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                  data-kt-dialer-control="increase"
                                  @click="incrementQty()"
                                >
                                  <i class="fa fa-plus"></i>
                                </button>
                                <button
                                  v-else
                                  type="button"
                                  class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                                  data-kt-dialer-control="increase"
                                >
                                  <i class="fa fa-plus"></i>
                                </button>
                                <!--end::Increase control-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-light"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          data-bs-dismiss="modal"
                          type="button"
                          class="btn btn-success"
                          @click="addToCart(product.id, qty, note)"
                        >
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Body-->
              </div>
            </div>
          </div>
        </div>
        <ul class="pagination pt-20 pb-10">
          <li class="page-item previous cursor-pointer">
            <a
              class="btn btn-sm btn-secondary w-120px"
              :class="{ disabled: activePage == 0 }"
              @click="previousPage"
              ><i class="bi bi-arrow-left" /> Previous</a
            >
          </li>
          <li class="page-item">
            <div
              class="text-primary border p-2 px-4 border rounded fw-bold cursor-pointer bg-hover-light-primary"
            >
              {{ activePage }}
            </div>
          </li>
          <li class="page-item next cursor-pointer">
            <a
              class="btn btn-sm btn-secondary w-120px"
              :class="{ disabled: listMenu.length === 0 }"
              @click="nextPage"
              >Next <i class="bi bi-arrow-right"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-12 col-sm-12">
      <div class="card bg-body" id="kt_pos_form">
        <!--begin::Header-->
        <div class="card-header pt-5">
          <h3 class="card-title fw-bold text-gray-800 fs-1qx">Cart List</h3>
          <div></div>
          <div class="card-toolbar">
            <h3 class="card-title fw-bold text-gray-800 fs-1qx">
              <span class="badge badge-square badge-primary p-2">
                <i class="bi bi-table fs-3 m-2" style="color: white"></i>
                <span class="fs-5"> Table[{{ listCart.table_name }}]</span>
              </span>
            </h3>
          </div>
        </div>
        <!--begin::Body-->
        <div class="card-body card-scroll pt-0">
          <div class="table-responsive tableFixHead mb-8">
            <!--begin::Table-->
            <table class="table align-middle gs-0 gy-4 my-0">
              <!--begin::Table head-->
              <thead>
                <tr>
                  <th class="fw-bold">Name</th>
                  <th class="fw-bold">Qty</th>
                  <th class="fw-bold">Price</th>
                </tr>
              </thead>
              <tbody v-if="cartLoading">
                <tr>
                  <td></td>
                  <td colspan="text-end">
                    <div
                      class="position-absolute"
                      style="margin-top: 50px; margin-left: 10px"
                    >
                      <div class="position-absolute">
                        <div data-kt-indicator="on">
                          <span
                            class="spinner-border spinner-border-sm align-middle ms-2 w-30px h-30px"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
              <tbody
                v-else
                v-for="(row, itemIndex) in listCart.cartItemTodos"
                :key="itemIndex"
              >
                <tr data-kt-pos-element="item" data-kt-pos-item-price="33">
                  <td class="pe-0">
                    <div class="d-flex align-items-center">
                      <span
                          v-if="user_lang == 'en'"
                        class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-6 me-1"
                        >{{ itemIndex + 1 }}. {{ row.products.name }}</span
                      > <span
                          v-else
                        class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-6 me-1"
                        >{{ itemIndex + 1 }}. {{ row.products.name_kh }}</span
                      >
                    </div>
                  </td>

                  <td class="pe-0">
                    <!--begin::Dialer-->
                    <div
                      class="position-relative d-flex align-items-center"
                      data-kt-dialer="true"
                      data-kt-dialer-min="1"
                      data-kt-dialer-max="10"
                      data-kt-dialer-step="1"
                      data-kt-dialer-decimals="0"
                    >
                      <!--begin::Decrease control-->
                      <button
                        type="button"
                        class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                        data-kt-dialer-control="decrease"
                        @click="decrementCartQty(row.id, row.qty)"
                      >
                        <i class="fa fa-minus"></i>
                      </button>
                      <!--end::Decrease control-->

                      <!--begin::Input control-->
                      <input
                        type="text"
                        class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px"
                        data-kt-dialer-control="input"
                        placeholder="Amount"
                        name="manageBudget"
                        readonly
                        :value="row.qty"
                      />
                      <!--end::Input control-->

                      <!--begin::Increase control-->
                      <button
                        type="button"
                        class="btn btn-icon btn-sm btn-light btn-icon-gray-500"
                        data-kt-dialer-control="increase"
                        @click="incrementCartQty(row.id, row.qty)"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                      <!--end::Increase control-->
                    </div>
                    <!--end::Dialer-->
                  </td>
                  <td class="text-start">
                    <span
                      class="fw-bold text-primary fs-4"
                      data-kt-pos-element="item-total"
                      >${{ row.products.price }}</span
                    >
                  </td>
                  <td class="text-start">
                    <button
                      @click="deleteCart(row.id)"
                      type="button"
                      class="btn btn-icon btn-sm btn-light btn-icon-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <!--end::Table body-->
            </table>
            <!--end::Table-->
          </div>
          <!--end::Table container-->

          <!--begin::Summary-->
          <div class="d-flex flex-stack bg-success rounded-3 p-6 mb-11">
            <!--begin::Content-->
            <div class="fs-6 fw-bold text-white">
              <span class="d-block lh-1 mb-2">Subtotal</span>
              <span class="d-block fs-2qx lh-1">Total</span>
            </div>
            <!--end::Content-->

            <!--begin::Content-->
            <div class="fs-6 fw-bold text-white text-end">
              <span class="d-block lh-1 mb-2" data-kt-pos-element="total"
                >${{ formatCurrency(listCart.total_cost) }}</span
              >
              <span
                class="d-block fs-2qx lh-1"
                data-kt-pos-element="grant-total"
                >${{ formatCurrency(listCart.total_cost) }}</span
              >
            </div>
            <!--end::Content-->
          </div>
          <!--end::Summary-->

          <!--begin::Payment Method-->
          <div class="m-0">
            <button
              class="btn btn-primary fs-1 w-100 py-4"
              @click="placeOrder()"
            >
              Place Order
            </button>
            <!--end::Actions-->
          </div>
          <!--end::Payment Method-->
        </div>
        <!--end: Card Body-->
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
#category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tableFixHead {
  overflow: auto;
  height: 250px;
}

/* Just common table stuff. */
tbody {
  border-collapse: collapse;
  width: 100%;
}

tr,
td {
  padding: 5px 5px;
}
</style>
