<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "HomeFooter",
});
</script>

<template>
  <div class="bg-body">
    <div
      class="app-container container-xxl d-flex align-items-center flex-column flex-md-row flex-md-stack gap-2 py-6 py-lg-8"
    >
      <div class="flex-column text-start order-1 order-lg-3 fs-5 fw-semibold letter-spacing">
        <h3>Contacts</h3>
        <p>Address: Nerk Restaurant, City, Sala Kanseng Village, Krong Siem Reap 12000</p>
        <p>Phone: +855 99-484-859</p>
        <p>Email: nerkrestaurant@gmail.com</p>
      </div>
      <!--begin::Copyright-->
      <div class="d-flex align-items-center order-2 order-lg-1">
        <a href="#/home" target="_blank">
          <img class="h-50px" src="/assets/logo/logo.png" alt="" />
        </a>
      </div>
      <!--end::Copyright-->

      <!--begin::Nav-->
      <div
        class="d-flex align-items-center fs-5 fw-semibold letter-spacing order-1 order-lg-2"
      >
        <a
          href="https://www.facebook.com/NerkRestaurant"
          target="_blank"
          class="text-gray-700 text-hover-primary px-4"
        >
          <span class="bi bi-facebook fs-1 text-primary"></span>
        </a>
        <a
          href="https://t.me/Nerk_Restaurant"
          target="_blank"
          class="text-gray-700 text-hover-primary px-4"
        >
          <span class="bi bi-telegram fs-1 " style="color: deepskyblue"></span>
        </a>
      </div>
      <!--end::Nav-->
    </div>
  </div>
<!--  <div class="app-engage" id="kt_app_engage">-->
<!--    <span class="app-engage-btn hover-success cursor-pointer">-->
<!--      <i class="ki-duotone ki-shop fs-1 pt-1 mb-1"-->
<!--        ><span class="path1"></span><span class="path2"></span-->
<!--        ><span class="path3"></span><span class="path4"></span-->
<!--      ></i>-->
<!--      <span class="text-success">List Order</span>-->
<!--    </span>-->
<!--    &lt;!&ndash;end::Prebuilts toggle&ndash;&gt;-->
<!--  </div>-->
</template>

<style scoped lang="scss"></style>
