<script lang="ts">
import { defineComponent, nextTick, onBeforeMount, onMounted, watch } from "vue";
import HomeMenu from "@/views/home/layout/HomeMenu.vue";
import HomeHeader from "@/views/home/layout/HomeHeader.vue";
import HomeFooter from "@/views/home/layout/HomeFooter.vue";
import Content from "@/views/home/layout/Content.vue";
import { useRoute } from "vue-router";
import LayoutService from "@/core/services/LayoutService";
import { reinitializeComponents } from "@/core/plugins/keenthemes";

export default defineComponent({
  name: "HomePage",
  components: { Content, HomeFooter, HomeHeader, HomeMenu },
  setup() {
    const route = useRoute();
    onBeforeMount(() => {
      LayoutService.init();
    });

    onMounted(() => {
      nextTick(() => {
        reinitializeComponents();
      });
    });

    watch(
      () => route.path,
      () => {
        nextTick(() => {
          reinitializeComponents();
        });
      }
    );
  },
});

</script>

<template>
  <div class="app-page flex-column flex-column-fluid">
    <HomeHeader></HomeHeader>
    <Content></Content>
  </div>
  <HomeFooter></HomeFooter>
</template>

<style scoped lang="scss"></style>