<template>
  <RouterView />
</template>
<script lang="ts">
import {
  defineComponent,
  nextTick,
  onBeforeMount,
  onMounted,
  onUnmounted,
  ref,
} from "vue";
import { RouterView } from "vue-router";
import { useConfigStore } from "@/stores/config";
import { useThemeStore } from "@/stores/theme";
import { useBodyStore } from "@/stores/body";
import { themeConfigValue } from "@/core/helpers/config";
import { initializeComponents } from "@/core/plugins/keenthemes";
import Swal from "sweetalert2";
import router from "./router";
import { useAuthStore } from "./stores/auth";

export default defineComponent({
  name: "app",
  components: {
    RouterView,
  },
  mounted() {
    // const messaging = getMessaging();
    // onMessage(messaging, (payload) => {
    //   console.log("Message received. ", payload);
    //   const audio = new Audio("/sound/default.mp3");
    //   audio.play();
    //   const Toast = Swal.mixin({
    //     toast: true,
    //     position: "top-end",
    //     showConfirmButton: false,
    //     timer: 3000,
    //     timerProgressBar: true,
    //     didOpen: (toast) => {
    //       toast.onmouseenter = Swal.stopTimer;
    //       toast.onmouseleave = Swal.resumeTimer;
    //     },
    //   });
    //   Toast.fire({
    //     icon: "success",
    //     title: "New Order",
    //   });
    // });
    // getToken(messaging, {
    //   vapidKey:
    //     "BPexQTExywgcXxu0m9Mv6LFILLDPGK5RyMcCfRxC2qqn5T7jf7BTMdgWhfuV1fy-X-n2ky0uTPN7OoQjJmM370g",
    // })
    //   .then((currentToken) => {
    //     if (currentToken) {
    //       console.log("Token is:", currentToken);
    //     } else {
    //       console.log(
    //         "No registration token available. Request permission to generate one."
    //       );
    //     }
    //   })
    //   .catch((err) => {
    //     console.log("An error occurred while retrieving token. ", err);
    //   });
  },
  methods: {},
  setup() {
    const configStore = useConfigStore();
    const themeStore = useThemeStore();
    const bodyStore = useBodyStore();
    const store = useAuthStore();
    const soundPath = "/sound/default.mp3";
    const audio = ref<HTMLAudioElement | null>(null);
    let logoutTimer: ReturnType<typeof setTimeout> | null = null;

    const initializeAudio = () => {
      if (!audio.value) {
        audio.value = new Audio(soundPath);
        audio.value.load();
      }
    };
    const logout = () => {
      store.logout();
      router.push({ name: "home" });
    };
    // Reset the timer whenever user interacts
    const resetTimer = () => {
      if (logoutTimer) clearTimeout(logoutTimer);
      logoutTimer = setTimeout(logout, 3600 * 1000); // 1 hour in milliseconds
    };
    // Listen for user activity
    const startTracking = () => {
      window.addEventListener("mousemove", resetTimer);
      window.addEventListener("keydown", resetTimer);
      window.addEventListener("scroll", resetTimer);
      window.addEventListener("click", resetTimer);
      resetTimer(); // Initialize the timer
    };

    // Clean up event listeners
    const stopTracking = () => {
      window.removeEventListener("mousemove", resetTimer);
      window.removeEventListener("keydown", resetTimer);
      window.removeEventListener("scroll", resetTimer);
      window.removeEventListener("click", resetTimer);
      if (logoutTimer) clearTimeout(logoutTimer);
    };
    const playSound = async () => {
      try {
        initializeAudio(); // Ensure the audio is initialized
        if (audio.value) {
          await audio.value.play(); // Play the sound
          console.log("Sound played successfully");
        }
      } catch (error) {
        console.error("Error playing sound:", error);
      }
    };
    onBeforeMount(() => {
      configStore.overrideLayoutConfig();
      themeStore.setThemeMode(themeConfigValue.value);
    });
    onMounted(() => {
      startTracking();
      nextTick(() => {
        initializeComponents();
        bodyStore.removeBodyClassName("page-loading");
      });
    });
    onUnmounted(() => {
      stopTracking();
    });
    return { playSound };
  },
});
</script>

<style lang="scss">
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "apexcharts/dist/apexcharts.css";
@import "quill/dist/quill.snow.css";
@import "animate.css";
@import "sweetalert2/dist/sweetalert2.css";
@import "nouislider/dist/nouislider.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "socicon/css/socicon.css";
@import "line-awesome/dist/line-awesome/css/line-awesome.css";
@import "dropzone/dist/dropzone.css";
@import "@vueform/multiselect/themes/default.css";
@import "prism-themes/themes/prism-shades-of-purple.css";
@import "element-plus/dist/index.css";

// Main demo style scss
@import "assets/keenicons/duotone/style.css";
@import "assets/keenicons/outline/style.css";
@import "assets/keenicons/solid/style.css";
@import "assets/sass/element-ui.dark";
@import "assets/sass/plugins";
@import "assets/sass/style";

#app {
  display: contents;
}
</style>
